<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    {{#if proposta._id}}
    <div style="width: 100%;">
        <h5 class="header">{{cliente_proposta.nome}} </h5>
    </div>
    {{/if}}

    <div class='btn-group col-12'>
        <div class='numero'>1</div>
        <a href='/gerenciamento/proposta/{{proposta._id}}/'
            class='btn btn-sm{{#if proposta.feito}} check-menu {{else}} botao-menu {{/if}}'
            style="border-bottom-left-radius: 30px;"> <i class="bi bi-house"></i> Proposta</a>
        <div class='numero'>2</div>
        <a href="/gerenciamento/visita/{{proposta._id}}"
            class="btn btn-sm {{#if vistoria.feito}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-gear"></i>
            Visita Técnica</a>
        <div class='numero'>3</div>
        <a href="/gerenciamento/assinatura/{{proposta._id}}"
            class="btn btn-sm {{#if proposta.assinado}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-pencil"></i>
            Assinatura</a>
        <div class='numero'>4</div>
        <a href="/gerenciamento/compra/{{proposta._id}}"
            class="btn btn-sm {{#if compra.feitonota}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-cart-check"></i>
            Compra Sistema</a>
        <div class='numero'>5</div>
        <a href="/gerenciamento/trt/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitotrt}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-tools"></i>
            TRT</a>
        <div class='numero'>6</div>
        <a href="/gerenciamento/execucao/{{proposta._id}}"
            class="btn btn-sm {{#if documento.protocolado}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-file-earmark-check"></i>
            Execução</a>
        <div class='numero'>7</div>
        <a href="/gerenciamento/equipe/{{proposta._id}}"
            class="btn btn-sm {{#if lista_equipe.feito}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-people"></i>
            Equipes</a>
        <div class='numero ativo'>8</div>
        <a href="/gerenciamento/aceite/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitoaceite}} check-menu {{else}} botao-menu ativo{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-check2-square"></i>
            Aceite Obra</a>
        <div class='numero'>9</div>
        <a href="/gerenciamento/almoxarifado/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitoalmox}} check-menu {{else}} botao-menu{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-layers"></i>
            Almoxarifado</a>
        <div class='numero'>10</div>
        <a href="/gerenciamento/financeiro/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitofaturado}} check-menu {{else}} botao-menu{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-calculator"></i>
            Financeiro</a>
        <div class='numero'>11</div>
        <a href="/gerenciamento/posvenda/{{proposta._id}}"
            class="btn btn-sm {{#if posvenda.feito}} check-menu {{else}} botao-menu{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-door-open"></i>
            Pós Venda</a>
    </div>

    <div class="row mt-2">
        <div class="col-md-2 text-end">
            <label class='col-form-label fw-bold mt-3'>Documento: </label><br>
        </div>
        <div class="col-md-10 text-start">
            <form action='/gerenciamento/aceite' method='post' enctype="multipart/form-data">
                <input type='hidden' name='id' value='{{proposta._id}}'>
                <div class="row">
                    {{#if documento.aceite}}
                    <div class="col-md-5">
                        <div class="row mt-3">
                            <label class='col-form-label'>{{documento.aceite}}</label>
                        </div>
                    </div>
                    <div class="col-md-2 mt-3">
                        <input style="max-width: 150px;" type='file' class='form-control' name='aceite'
                            value='{{documento.aceite}}'>
                    </div>
                    {{else}}
                    <div class="col-md-7 mt-3">
                        <input type='file' class='form-control' name='aceite' value='{{documento.aceite}}'>
                    </div>
                    {{/if}}
                    <div class="col-md-1 mt-3">
                        <a class="btn btn-primary" href='/gerenciamento/mostrarAceite/{{proposta._id}}'
                            target="_blank"><i class='bi bi-eye'></i></a>
                    </div>
                    <div class="col-md-2">
                        <label> Data</label>
                        <input type='date' class='form-control' name='dtaceite' value='{{documento.dtaceite}}'>
                    </div>
                    <div class="col-md-1 mt-3">
                        <button type='submit' class='btn btn-success'>Salvar</button>
                    </div>
                </div><br>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <div class="row" style="height: 380px;">
                    <object data="/gerenciamento/mostrarAceite/{{proposta._id}}" type="application/pdf">
                        <p>Seu navegador não tem um plugin pra PDF</p>
                    </object>
                </div>
            </div>
            <div class="col">
                <form action="/gerenciamento/caminhoAte" method="post" enctype="multipart/form-data">
                    <input type='hidden' name='id' value='{{proposta._id}}'>
                    <label class='col-form-label col-form-label-sm'>Aterramento: {{vistoria.caminhoAte}}</label>
                    <div class="row">
                        <div class="col">
                            <input type='file' multiple name='fileate' class='form-control form-control-sm'>
                        </div>
                        <div class="col-md-2">
                            <button type='submit' class='btn btn-sm btn-success'><i class='bi bi-save'></i></button>
                            <a href='/gerenciamento/mostrarAte/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                                    class='bi bi-eye'></i></a>
                        </div>
                    </div>
                </form>
                <hr>
                <form action="/gerenciamento/caminhoInv" method="post" enctype="multipart/form-data">
                    <input type='hidden' name='id' value='{{proposta._id}}'>    
                    <label class='col-form-label col-form-label-sm'>Inversor: {{vistoria.caminhoInv}}</label>
                    <div class="row">
                        <div class="col">
                            <input type='file' multiple name='fileinv' class='form-control form-control-sm'>
                        </div>
                        <div class="col-md-2">
                            <button type='submit' class='btn btn-sm btn-success'><i class='bi bi-save'></i></button>
                            <a href='/gerenciamento/mostrarInv/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                                    class='bi bi-eye'></i></a>
                        </div>
                    </div>
                </form>
                <hr>
                <form action="/gerenciamento/caminhoStb" method="post" enctype="multipart/form-data">
                    <input type='hidden' name='id' value='{{proposta._id}}'>    
                    <label class='col-form-label col-form-label-sm'>String Box: {{vistoria.caminhoStb}}</label>
                    <div class="row">
                        <div class="col">
                            <input type='file' multiple name='filestb' class='form-control form-control-sm'>
                        </div>
                        <div class="col-md-2">
                            <button type='submit' class='btn btn-sm btn-success'><i class='bi bi-save'></i></button>
                            <a href='/gerenciamento/mostrarStb/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                                    class='bi bi-eye'></i></a>
                        </div>
                    </div>
                </form>
                <hr>
                <form action="/gerenciamento/caminhoMod" method="post" enctype="multipart/form-data">
                    <input type='hidden' name='id' value='{{proposta._id}}'>    
                    <label class='col-form-label col-form-label-sm'>Estruturas e Módulos: {{vistoria.caminhoMod}}</label>
                    <div class="row">
                        <div class="col">
                            <input type='file' multiple name='filemod' class='form-control form-control-sm'>
                        </div>
                        <div class="col-md-2">
                            <button type='submit' class='btn btn-sm btn-success'><i class='bi bi-save'></i></button>
                            <a href='/gerenciamento/mostrarMod/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                                    class='bi bi-eye'></i></a>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>