<style>
    button {
        line-height: 0px;
    }

    #header {
        width: 100%;
        border-bottom: rgb(40, 55, 86) 0, 1px solid;
        color: rgb(40, 55, 86);
    }

    .filtro-selecao {
        width: fit-content;
        height: fit-content;
        background: white;
        border: solid 1px;
        border-radius: 10px;
        margin-left: 5px;
    }

    table {
        width: 100%;
    }

    th {
        text-align: center;
    }

    tr {
        font-size: 12px;
        border-bottom: rgba(120, 120, 120, 0.4) solid 1px;
    }
</style>
<script>
    window.onload = function () {
        var dataini = document.getElementById('dataini')
        var datafim = document.getElementById('datafim')
        if (dataini.value == '') {
            var data = new Date()
            var mes = data.getMonth()
            var ano = data.getFullYear()
            if (mes == 0 || mes == 2 || mes == 4 || mes == 6 || mes == 7 || mes == 9 || mes == 11) {
                dia = '31'
            } else {
                dia = '30'
            }
            mes = mes + 1
            dataini.value = ano + '-' + mes + '-' + '01'
            datafim.value = ano + '-' + mes + '-' + dia
        }
    }
</script>
<div class='row' style="width: 100%;padding-left: 2%;">
    <div id='header'>
        <div class="row mt-4">
            <form action='/gerenciamento/filtrar/' method='post'>
                <div class="col-md-4">
                    <h5 class="mt-2 titulo-inicio">Lista de Propostas {{titulo}}</h5>
                    <input type="hidden" name='tipo' value='{{tipo}}'>
                </div>
                <div class="row">
                    {{#if lista}}
                    <div class="col">
                        <label class='col-form-label col-form-label-sm fw-bold'>Status</label>
                        <select class='form-select form-select-sm' name='stats'>
                            <option>Todos</option>
                            <option>Proposta Enviada</option>
                            <option>Preparado para a Vistoria</option>
                            <option>Vistoria</option>
                            <option>Contrato</option>
                            <option>Pedido de Compra</option>
                            <option>NF de Compra</option>
                            <option>TRT</option>
                            <option>Protocolado</option>
                            <option>Execução a Campo</option>
                            <option>Almoxarifado Em Aberto</option>
                            <option>Almoxarifado Fechado</option>
                            <option>Faturado</option>
                            <option>Pós-Venda</option>
                            <option>Encerrado</option>
                        </select>
                    </div>
                    {{/if}}
                    <div class='col'>
                        <label class='col-form-label col-form-label-sm fw-bold'>Empresa</label>
                        <select name='empresa' class='form-select form-select-sm'>
                            <option>Todos</option>
                            {{#each todas_empresas}}
                            <option value='{{_id}}'>{{nome}}</option>
                            {{else}}
                            <option>Nenhuma empresa cadastradas</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class='col'>
                        <label class='col-form-label col-form-label-sm fw-bold'>Responsável</label>
                        <select name='responsavel' class='form-select form-select-sm'>
                            <option>Todos</option>
                            {{#each todos_responsaveis}}
                            <option value='{{_id}}'>{{nome}}</option>
                            {{else}}
                            <option>Nenhum responsável cadastrado</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class='col'>
                        <label class='col-form-label col-form-label-sm fw-bold'>Cliente</label>
                        <select name='cliente' class='form-select form-select-sm'>
                            <option>Todos</option>
                            {{#each todos_clientes}}
                            <option value='{{_id}}'>{{nome}}</option>
                            {{else}}
                            <option>Nenhum cliente cadastrado</option>
                            {{/each}}
                        </select>
                    </div>
                    <div style="width: 160px;">
                        <label class="col-form-label col-form-label-sm">Data Inicial</label>
                        <input type='date' class='form-control form-control-sm' input='dataini' name='dataini'
                            id='dataini' value='{{dataini}}'>
                    </div>
                    <div style="width: 160px;">
                        <label class="col-form-label col-form-label-sm">Data Final</label>
                        <input type='date' class='form-control form-control-sm' input='datafim' name='datafim'
                            id='datafim' value='{{datafim}}'>
                    </div>
                    <div style="width: 70px;">
                        <button type='submit' class='mt-3 botaofiltrar'><i
                                class='bi bi-search iconefiltrar'></i></button>
                    </div>
                </div>
            </form>
            {{#if listaEncerrado}}
            <form action='/relatorios/imprimir' method='post'>
                <input type='hidden' name='dataini' value='{{dataini}}'>
                <input type='hidden' name='datafim' value='{{datafim}}'>
                <input type='hidden' name='idres' value='{{idres}}'>
                <input type='hidden' name='idemp' value='{{idemp}}'>
                <input type='hidden' name='idcli' value='{{idcli}}'>
                {{/if}}
                <div class="row mt-4">
                    {{#if lista}}
                    {{#if filtroStatus}}
                    <div class='filtro-selecao' style="margin-left: 15px;">Status: {{filtroStatus}}</div>
                    {{else}}
                    <div class='filtro-selecao' style="margin-left: 15px;">Status: Todos</div>
                    {{/if}}
                    {{/if}}
                    {{#if nomeEmpresa}}
                    <div class='filtro-selecao'>Empresa: {{nomeEmpresa}}</div>
                    {{else}}
                    <div class='filtro-selecao'>Empresa: Todos</div>
                    {{/if}}
                    {{#if nomeResponsavel}}
                    <div class='filtro-selecao'>Responsável: {{nomeResponsavel}}</div>
                    {{else}}
                    <div class='filtro-selecao'>Responsável: Todos</div>
                    {{/if}}
                    {{#if nomeCliente}}
                    <div class='filtro-selecao'>Cliente: {{nomeCliente}}</div>
                    {{else}}
                    <div class='filtro-selecao'>Cliente: Todos</div>
                    {{/if}}
                    {{#if listaEncerrado}}
                    <div style="padding-left: 90%;">
                        <button type='submit' class='no-print'
                            style="text-decoration: none;color: black;width: 80px;text-align: center;"><i
                                class="bi bi-printer"></i></button>
                    </div>
                    {{/if}}
                </div>
                {{#if listaEncerrado}}
            </form>
            {{/if}}
        </div>
        {{!-- <div class="row mt-4">
            <div class='filtro-selecao' style="margin-left: 30px;">Classificação: {{classificacao}}</div>
            <div class='filtro-selecao'>Realizado: {{filStatus}}</div>
            {{#if pr.nome}}
            <div class='filtro-selecao'>Responsável: {{pr.nome}}</div>
            {{else}}
            <div class='filtro-selecao'>Responsável: Todos</div>
            {{/if}}
        </div> --}}
    </div>

    <div style="margin-bottom: 4%;margin-top: 1%;">
        <table>
            <tr>
                {{#if lista}}
                <th style="width: 7%;">Status</th>
                {{/if}}
                <th style="width: 5%;">Proposta</th>
                <th style="width: 10%;">Cliente</th>
                <th style="width: 10%;">Gestor Responsável</th>
                <th style="width: 10%;">Técnico Responsável</th>
                <th style="width: 5%">Cadastro</th>
                <th style="width: 10%">Inicio Instalação</th>
                <th style="width: 6%">Fim Instalação</th>
                <th style="width: 5%;"></th>
            </tr>
            {{#each lista}}
            <tr style="line-height: 20px;">
                <td style="text-align: center;">{{s}}</td>
                <td style="text-align: center;">{{id}}</td>
                <td style="text-align: center;">{{cliente}}</td>
                <td style="text-align: center;">{{responsavel}}</td>
                <td style="text-align: center;">{{nome_insres}}</td>
                <td style="text-align: center;">{{cadastro}}</td>
                <td style="text-align: center;">{{inicio}}</td>
                <td style="text-align: center;">{{fim}}</td>
                <td>
                    <div class='btn-group btn-group-sm col-12 gap-2 mx-auto'>
                        <a href='/gerenciamento/proposta/{{id}}' class='botao-tabela ativado-tabela'><i
                                class="bi bi-pen icone"></i></a>
                    </div>
                </td>
            </tr>
            {{else}}
            {{#each listaOrcado}}
            <tr style="line-height: 20px;">
                <td style="text-align: center;">{{id}}</td>
                <td style="text-align: center;">{{cliente}}</td>
                <td style="text-align: center;">{{responsavel}}</td>
                <td style="text-align: center;">{{nome_insres}}</td>
                <td style="text-align: center;">{{cadastro}}</td>
                <td style="text-align: center;">{{inicio}}</td>
                <td style="text-align: center;">{{fim}}</td>
                <td>
                    <div class='btn-group btn-group-sm col-12 gap-2 mx-auto'>
                        <a href='/gerenciamento/proposta/{{id}}' class='botao-tabela ativado-tabela'><i
                                class="bi bi-pen icone"></i></a>
                    </div>
                </td>
            </tr>
            {{else}}
            {{#each listaAberto}}
            <tr style="line-height: 20px;">
                <td style="text-align: center;">{{id}}</td>
                <td style="text-align: center;">{{cliente}}</td>
                <td style="text-align: center;">{{responsavel}}</td>
                <td style="text-align: center;">{{nome_insres}}</td>
                <td style="text-align: center;">{{cadastro}}</td>
                <td style="text-align: center;">{{inicio}}</td>
                <td style="text-align: center;">{{fim}}</td>
                <td>
                    <div class='btn-group btn-group-sm col-12 gap-2 mx-auto'>
                        <a href='/gerenciamento/proposta/{{id}}' class='botao-tabela ativado-tabela'><i
                                class="bi bi-pen icone"></i></a>
                    </div>
                </td>
            </tr>
            {{else}}
            {{#each listaEncerrado}}
            <tr style="line-height: 20px;">
                <td style="text-align: center;">{{id}}</td>
                <td style="text-align: center;">{{cliente}}</td>
                <td style="text-align: center;">{{responsavel}}</td>
                <td style="text-align: center;">{{nome_insres}}</td>
                <td style="text-align: center;">{{cadastro}}</td>
                <td style="text-align: center;">{{inicio}}</td>
                <td style="text-align: center;">{{fim}}</td>
                <td>
                    <div class='btn-group btn-group-sm col-12 gap-2 mx-auto'>
                        <a href='/gerenciamento/proposta/{{id}}' class='botao-tabela ativado-tabela'><i
                                class="bi bi-pen icone"></i></a>
                    </div>
                </td>
            </tr>
            {{else}}
            <h6>Nenhum projeto encontrado.</h6>
            {{/each}}
            {{/each}}
            {{/each}}
            {{/each}}
        </table>
    </div>
</div>