<style>
    .lists {
        display: flex;
        flex: 1;
        width: 100%;
    }

    .lists .list {
        display: flex;
        flex-flow: column;
        flex: 1;
        max-height: 300px;

        width: 100%;
        border-radius: 20px;

        background-color: #001263e5;
        margin: 0 15px;
        padding: 8px;
        transition: all 0.2s linear;
    }

    .lists .list .list-item {
        background-color: #F3F3F3;
        border-radius: 8px;
        text-align: center;
        margin: 4px 0px;
        cursor: pointer;
    }

    .lists .list .item-instalacao {
        background-color: #F3F3F3;
        border-radius: 8px;
        text-align: center;
        margin: 4px 0px;
        cursor: pointer;
    }

    .lists .list .item {
        background-color: #F3F3F3;
        border-radius: 8px;
        text-align: center;
        margin: 4px 0px;
        cursor: pointer;
    }

    table {
        font-size: 14px;
        text-align: center;
    }

    td {
        border: 5px solid transparent;
    }
</style>
<script>
    function proximo() {
        var prx1 = document.getElementById('btnprx1')
        var prx2 = document.getElementById('btnprx2')
        var troca = document.getElementById('trocaprx')
        if (troca.checked) {
            prx1.style.display = 'none'
            prx2.style.display = 'flex'
        } else {
            prx1.style.display = 'flex'
            prx2.style.display = 'none'
        }
    }
</script>
<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    {{#if proposta._id}}
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>
    </div>
    {{/if}}

    <div class='btn-group col-12'>
        <div class='numero'>1</div>
        <a href='/gerenciamento/proposta/{{proposta._id}}/'
            class='btn btn-sm{{#if proposta.feito}} check-menu {{else}} botao-menu {{/if}}'
            style="border-bottom-left-radius: 30px;"> <i class="bi bi-house"></i> Proposta</a>
        <div class='numero'>2</div>
        <a href="/gerenciamento/visita/{{proposta._id}}"
            class="btn btn-sm {{#if vistoria.feito}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-gear"></i>
            Visita Técnica</a>
        <div class='numero '>3</div>
        <a href="/gerenciamento/assinatura/{{proposta._id}}"
            class="btn btn-sm {{#if proposta.assinado}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-pencil"></i>
            Contrato</a>
        <div class='numero'>4</div>
        <a href="/gerenciamento/compra/{{proposta._id}}"
            class="btn btn-sm {{#if compra.feitonota}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-cart-check"></i>
            Compra Sistema</a>
        <div class='numero'>5</div>
        <a href="/gerenciamento/trt/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitotrt}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-tools"></i>
            TRT</a>
        <div class='numero'>6</div>
        <a href="/gerenciamento/execucao/{{proposta._id}}"
            class="btn btn-sm {{#if documento.protocolado}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-clock-history"></i>
            Execução</a>
        <div class='numero ativo'>7</div>
        <a href="/gerenciamento/equipe/{{proposta._id}}"
            class="btn btn-sm {{#if lista_equipe.feito}} check-menu {{else}} botao-menu ativo {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-people"></i>
            Equipes</a>
        <div class='numero'>8</div>
        <a href="/gerenciamento/aceite/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitoaceite}} check-menu {{else}} botao-menu{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-check2-square"></i>
            Aceite Obra</a>
        <div class='numero'>9</div>
        <a href="/gerenciamento/almoxarifado/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitoalmox}} check-menu {{else}} botao-menu{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-layers"></i>
            Almoxarifado</a>
        <div class='numero'>10</div>
        <a href="/gerenciamento/financeiro/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitofaturado}} check-menu {{else}} botao-menu{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-calculator"></i>
            Financeiro</a>
        <div class='numero'>11</div>
        <a href="/gerenciamento/posvenda/{{proposta._id}}"
            class="btn btn-sm {{#if posvenda.feito}} check-menu {{else}} botao-menu{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-door-open"></i>
            Pós Venda</a>
    </div>

    <form action='/gerenciamento/salvarpadrao/' method='post'>
        <input type="hidden" name="id" value='{{proposta._id}}'>
        <div class="row mt-4">
            <div class="col-md-4">
                <label for="nome" class=" fw-bold col-form-label col-form-label-sm"> Equipe:</label>
                <select class='form-select mb-1' name='equipe'>
                    {{!-- {{#if lista_equipe.nome_equipe}}
                    <option class='fw-bold' value='{{lista_equipe.nome_equipe}}'>{{lista_equipe.nome_equipe}}</option>
                    {{else}} --}}
                    <option class='fw-bold' value='{{nome_equipe}}'>{{nome_equipe}}</option>
                    {{!-- {{/if}} --}}
                    <option value='todos'>Todos</option>
                    {{#each equipes}}
                    <option value="{{nome}}">{{nome}}</option>
                    {{else}}
                    <option value=''>Nenhuma equipe cadastrada.</option>
                    {{/each}}
                </select>
            </div>
            <div class='col'>
                <label class="col-form-label col-form-label-sm">Previsão Inicio das Obras</label>
                <input type='date' name='dtinicio' class='form-control' value='{{lista_equipe.dtinicio}}'>
            </div>
            <div class="col">
                <label class="col-form-label col-form-label-sm">Previsão Fim das Obras</label>
                <input type='date' name='dtfim' class='form-control' value='{{lista_equipe.dtfim}}'>
            </div>
            <div class="col">
                <button type="submit" class='btn btn-success' style="margin-top: 10%;">Próximo>></button>
            </div>
        </div>
        <div class='row mb-2'>
            {{#each lista_nomes}}
            <div style="width: fit-content">
                <div class='filtro-selecao' style="line-height: 20px;">{{nome}} <a
                        href='/gerenciamento/vermais/{{id}}/{{proposta._id}}'><i class='bi bi-eye'></i></a></div>
            </div>
            {{/each}}
        </div>
    </form>
    <form method="post" action='/gerenciamento/salvarequipe/'>
        <input type="hidden" name="id" value='{{proposta._id}}'>
        <input type="hidden" name="nome_equipe" value='{{nome_equipe}}'>
        <div class="row" style="padding-left:10px;padding-right: 10px;width: 100%;">
            <div class="col">
                <div class="row">
                    <div class="lists">
                        <div class="list">
                            <label class="col-form-label col-form-label-sm fw-bold text-center"
                                style="color: white">Instaladores Disponíveis</label>
                            <div style="overflow-y: scroll;max-height: 200px;">
                                {{#each fora_ins}}
                                <div class="list-item" style='color: black;' draggable="true"  name='{{id}}'>{{nome}}<a
                                        href='/gerenciamento/vermais/{{id}}' style="padding-left: 5px;"><i
                                            class='bi bi-eye'></i></a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="list">
                            <label class="col-form-label col-form-label-sm fw-bold text-center"
                                style="color: white">Instaladores Alocados</label>
                            {{#each dentro_ins}}
                            <div class="item-instalacao" style='color: black;' draggable="true"  name='{{id}}'>{{nome}}<a
                                    href='/gerenciamento/vermais/{{id}}' style="padding-left: 5px;"><i
                                        class='bi bi-eye'></i></a>
                                <input type='hidden' name='custo' value='{{custo}}'>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2" style="margin-left: 30px;">
            <div class='col-md-5 text-end'>
                <label class='col-form-label'>Instalador Responsável:</label>
            </div>
            <div class='col-md-4'>
                <select class='form-select' name='insres'>
                    <option value='{{insres._id}}' class='fw-bold'>{{insres.nome}}</option>
                    {{#each lista_res}}
                    <option value='{{id}}'>{{nome}}</option>
                    {{else}}
                    <option>Nenhum Instalador Responsável cadastrado.</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-1">
                <button type="submit" class='btn btn-success' onclick="getItemValue()">Aplicar</button>
            </div>
            <div class='col-md-2'>
                <a href='/gerenciamento/enviarequipe/{{proposta._id}}' class="btn btn-primary">{{#if
                    lista_equipe.liberar}}
                    Cancelar{{else}}Envia Equipe{{/if}}</a>
            </div>
            <input type='hidden' class='ins0' name='ins0' id='ins0' value=''>
            <input type='hidden' class='ins1' name='ins1' id='ins1' value=''>
            <input type='hidden' class='ins2' name='ins2' id='ins2' value=''>
            <input type='hidden' class='ins3' name='ins3' id='ins3' value=''>
            <input type='hidden' class='ins4' name='ins4' id='ins4' value=''>
            <input type='hidden' class='ins5' name='ins5' id='ins5' value=''>
            <input type='hidden' name='idins0' id='idins0' value=''>
            <input type='hidden' name='idins1' id='idins1' value=''>
            <input type='hidden' name='idins2' id='idins2' value=''>
            <input type='hidden' name='idins3' id='idins3' value=''>
            <input type='hidden' name='idins4' id='idins4' value=''>
            <input type='hidden' name='idins5' id='idins5' value=''>
        </div>
    </form>
</div>
<script>

    const list_item = document.querySelectorAll('.list-item');
    const lists = document.querySelectorAll('.list');
    const list_instalacao = document.querySelectorAll('.item-instalacao');

    let draggedItem = null;

    for (let i = 0; i < list_item.length; i++) {
        const item = list_item[i];

        item.addEventListener('dragstart', function () {
            draggedItem = item;
            setTimeout(function () {
                item.style.display = 'none';
            }, 0)
        });

        item.addEventListener('dragend', function () {
            this.className = 'item-instalacao';
            setTimeout(function () {
                draggedItem.style.display = 'block';
                draggedItem = null;
            }, 0);
        })

        for (let j = 0; j < lists.length; j++) {
            const list = lists[j];

            list.addEventListener('dragover', function (e) {
                e.preventDefault();
            });

            list.addEventListener('dragenter', function (e) {
                e.preventDefault();
                this.style.backgroundColor = 'rgba(40, 55, 89, 1)';
            });

            list.addEventListener('dragleave', function (e) {
                this.style.backgroundColor = 'rgba(40, 55, 86, 1)';
            });

            list.addEventListener('drop', function (e) {
                console.log('drop');
                this.append(draggedItem);
                this.style.backgroundColor = 'rgba(40, 55, 86, 1)';
            });
        }
    }

    if (list_instalacao.length > 0 || list_instalacao.length != '') {

        for (let x = 0; x < list_instalacao.length; x++) {
            const instalacao = list_instalacao[x];

            instalacao.addEventListener('dragstart', function () {
                draggedItem = instalacao;
                setTimeout(function () {
                    item.style.display = 'none';
                }, 0)
            });

            instalacao.addEventListener('dragend', function () {
                this.className = 'item';
                setTimeout(function () {
                    draggedItem.style.display = 'block';
                    draggedItem = null;
                }, 0);
            })

            for (let y = 0; y < lists.length; y++) {
                const list = lists[y];

                list.addEventListener('dragover', function (e) {
                    e.preventDefault();
                });

                list.addEventListener('dragenter', function (e) {
                    e.preventDefault();
                    this.style.backgroundColor = 'rgba(40, 55, 86, 1)';
                });

                list.addEventListener('dragleave', function (e) {
                    this.style.backgroundColor = 'rgba(40, 55, 86, 1)';
                });

                list.addEventListener('drop', function (e) {
                    console.log('drop');
                    this.append(draggedItem);
                    this.style.backgroundColor = 'rgba(40, 55, 86, 1)';
                });
            }
        }
    }

    function getItemValue() {
    const item = document.querySelectorAll('.item-instalacao');
    for (i = 0; i < item.length; i++) {
      const insitem = document.getElementsByClassName(item[i].getAttribute('class'));
      var element = insitem[i].innerText
      var ins = insitem[i].getAttribute('name')
      alert(ins)
      switch (i) {
        case 0:
          var insdes = document.getElementById('ins0')
          var idins = document.getElementById('idins0')
          insdes.value = element
          idins.value = ins
          break;
        case 1:
          var insdes = document.getElementById('ins1')
          var idins = document.getElementById('idins1')
          insdes.value = element
          idins.value = ins
          break;
        case 2:
          var insdes = document.getElementById('ins2')
          var idins = document.getElementById('idins2')
          insdes.value = element
          idins.value = ins
          break;
        case 3:
          var insdes = document.getElementById('ins3')
          var idins = document.getElementById('idins3')
          insdes.value = element
          idins.value = ins
          break;
        case 4:
          var insdes = document.getElementById('ins4')
          var idins = document.getElementById('idins4')
          insdes.value = element
          idins.value = ins
          break;
        case 5:
          var insdes = document.getElementById('ins5')
          var idins = document.getElementById('idins5')
          insdes.value = element
          idins.value = ins
          break;
      }
    }
  }
</script>