<script>
    function mascara(data) {
        alert(data)
        if (data.length == 10) {
            var ano = String(data).substring(0, 4)
            var mes = String(data).substring(5, 7)
            var dia = String(data).substring(8, 10)
                return dia + '/' + mes + '/' + ano
        }else{
            return 'Sem Data'
        }
    }
    window.onload = function () {

        var dtcadastro1 = document.getElementById('dtcadastro1')
        dtcadastro1.innerHTML = mascara(dtcadastro1.innerHTML)

        var dtvalidade1 = document.getElementById('dtvalidade1')
        dtvalidade1.innerHTML = mascara(dtvalidade1.innerHTML)

        var dtcadastro2 = document.getElementById('dtcadastro2')
        if (dtcadastro2 != null) {
            dtcadastro2.innerHTML = mascara(dtcadastro2.innerHTML)
        }

        var dtvalidade2 = document.getElementById('dtvalidade2')
        if (dtvalidade2 != null) {
            dtvalidade2.innerHTML = mascara(dtvalidade2.innerHTML)
        }
        
        var dtcadastro3 = document.getElementById('dtcadastro3')
        if (dtcadastro3 != null) {
        dtcadastro3.innerHTML = mascara(dtcadastro3.innerHTML)
        }

        var dtvalidade3 = document.getElementById('dtvalidade3')
        if (dtvalidade3 != null) {
        dtvalidade3.innerHTML = mascara(dtvalidade3.innerHTML)
        }
        
        var dtcadastro4 = document.getElementById('dtcadastro4')
        if (dtcadastro4 != null) {
        dtcadastro4.innerHTML = mascara(dtcadastro4.innerHTML)
        }

        var dtvalidade4 = document.getElementById('dtvalidade4')
        if (dtvalidade4 != null) {
        dtvalidade4.innerHTML = mascara(dtvalidade4.innerHTML)
        }

        
        var dtcadastro5 = document.getElementById('dtcadastro5')
        if (dtcadastro5 != null) {
        dtcadastro5.innerHTML = mascara(dtcadastro5.innerHTML)
        }

        var dtvalidade5 = document.getElementById('dtvalidade5')
        if (dtvalidade5 != null) {
        dtvalidade5.innerHTML = mascara(dtvalidade5.innerHTML)
        }
    
        var dtcadastro6 = document.getElementById('dtcadastro6')
        if (dtcadastro6 != null) {
        dtcadastro6.innerHTML = mascara(dtcadastro6.innerHTML)
        }

        var dtvalidade6 = document.getElementById('dtvalidade6')
        if (dtvalidade6 != null) {
        dtvalidade6.innerHTML = mascara(dtvalidade6.innerHTML)
        }

        var dtPlaSombra = document.getElementById('dtPlaSombra')
        dtPlaSombra.innerText = mascara(dtPlaSombra.innerText)

        var dtPlaArea = document.getElementById('dtPlaArea')
        dtPlaArea.innerText = mascara(dtPlaArea.innerText)

        var dtPlaInvStb = document.getElementById('dtPlaInvStb')
        dtPlaInvStb.innerText = mascara(dtPlaInvStb.innerText)

        var dtPlaAte = document.getElementById('dtPlaAte')
        dtPlaAte.innerText = mascara(dtPlaAte.innerText)

        var dtassinatura = document.getElementById('dtassinatura')
        dtassinatura.innerText = mascara(dtassinatura.innerText)

        var dtcontrato = document.getElementById('dtcontrato')
        dtcontrato.innerText = mascara(dtcontrato.innerText)

        var dtcadastro = document.getElementById('dtcadastro')
        dtcadastro.innerText = mascara(dtcadastro.innerText)

        var dtrecebimento = document.getElementById('dtrecebimento')
        dtrecebimento.innerText = mascara(dtrecebimento.innerText)

        var dttrt = document.getElementById('dttrt')
        dttrt.innerText = mascara(dttrt.innerText)

        var dtmemorial = document.getElementById('dtmemorial')
        dtmemorial.innerText = mascara(dtmemorial.innerText)

        var dtsituacao = document.getElementById('dtsituacao')
        dtsituacao.innerText = mascara(dtsituacao.innerText)

        var dtunifilar = document.getElementById('dtunifilar')
        dtunifilar.innerText = mascara(dtunifilar.innerText)

        var dttrifilar = document.getElementById('dttrifilar')
        dttrifilar.innerText = mascara(dttrifilar.innerText)

        var dtprotocolo = document.getElementById('dtprotocolo')
        dtprotocolo.innerText = mascara(dtprotocolo.innerText)

        var dtcomprovante = document.getElementById('dtcomprovante')
        dtcomprovante.innerText = mascara(dtcomprovante.innerText)

        var dtfinanceiro = document.getElementById('dtfinanceiro')
        dtfinanceiro.innerText = mascara(dtfinanceiro.innerText)

        var dtalmoxarifado = document.getElementById('dtalmoxarifado')
        dtalmoxarifado.innerText = mascara(dtalmoxarifado.innerText)
    }
</script>
<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">

    <div class="row text-center" style="margin-top: 20px;">
        <h3 class='fw-bold'>Livro da Obra</h3>
        <h3 class='fw-bold'>Proposta {{proposta.seq}}</h3>
        <div class="row mt-2">
            <div class="col-md-2 text-end">
                <label class='col-form-label col-form-label-sm fw-bold'>Empresa: </label><br>
                <label class='col-form-label col-form-label-sm fw-bold'>Cliente: </label><br>
                <label class='col-form-label col-form-label-sm fw-bold'>Endereço: </label><br>
                <label class='col-form-label col-form-label-sm fw-bold'>Estado: </label><br>
                <label class='col-form-label col-form-label-sm fw-bold'>Cidade: </label><br>
                <label class='col-form-label col-form-label-sm fw-bold'>Gestor Responsável: </label><br>
                <label class='col-form-label col-form-label-sm fw-bold'>Técnico Responsável: </label><br>
            </div>
            <div class="col-md-4 text-start">
                <label class='col-form-label col-form-label-sm'>{{emp_proposta.nome}}</label><br>
                <label class='col-form-label col-form-label-sm'>{{cliente_proposta.nome}}</label><br>
                <label class='col-form-label col-form-label-sm'>{{proposta.endereco}}</label><br>
                <label class='col-form-label col-form-label-sm'>{{proposta.uf}}</label><br>
                <label class='col-form-label col-form-label-sm'>{{proposta.cidade}}</label><br>
                <label class='col-form-label col-form-label-sm'>{{res_proposta.nome}}</label><br>
                <label class='col-form-label col-form-label-sm'>{{tec_proposta.nome}}</label><br>
            </div>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-2 text-end'>
                        <label class='col-form-label col-form-label-sm fw-bold mt-3 mb-3'>Proposta 1:</label><br>
                        {{#if proposta.proposta2}}
                        <label class='col-form-label col-form-label-sm fw-bold mb-3'>Proposta 2:</label><br>
                        {{/if}}
                        {{#if proposta.proposta3}}
                        <label class='col-form-label col-form-label-sm fw-bold mb-3'>Proposta 3:</label><br>
                        {{/if}}
                        {{#if proposta.proposta4}}
                        <label class='col-form-label col-form-label-sm fw-bold mb-3'>Proposta 4:</label><br>
                        {{/if}}
                        {{#if proposta.proposta5}}
                        <label class='col-form-label col-form-label-sm fw-bold mb-3'>Proposta 5:</label><br>
                        {{/if}}
                        {{#if proposta.proposta6}}
                        <label class='col-form-label col-form-label-sm fw-bold mb-3'>Proposta 6:</label><br>
                        {{/if}}
                    </div>
                    <div class='col-md-10'>
                        <div class="row">
                            <div class="col">
                                <label class='col-form-label col-form-label-sm'> Data de Cadastro</label>
                                <label class='col-form-label col-form-label-sm'
                                    id='dtcadastro1'>{{proposta.dtcadastro1}}</label>
                            </div>
                            <div class="col">
                                <label class='col-form-label col-form-label-sm'>Data de Validade</label>
                                <label class='col-form-label col-form-label-sm'
                                    id='dtvalidade1'>{{proposta.dtvalidade1}}</label>
                            </div>
                            <div class="col mt-3">
                                <a class="btn btn-primary" href='/gerenciamento/mostrarProposta1/{{proposta._id}}'
                                    target="_blank"><i class='bi bi-eye'></i></a>
                            </div>
                        </div>

                        {{#if proposta.proposta2}}
                        <div class="row">
                            <div class="col md-4">
                                <div class="mt-1">
                                    <label class='col-form-label col-form-label-sm'
                                        id='dtcadastro2'>{{proposta.dtcadastro2}}</label>
                                </div>
                            </div>
                            <div class="col-md-3 mt-1">
                                <label class='col-form-label col-form-label-sm'
                                    id='dtvalidade2'>{{proposta.dtvalidade2}}</label>
                            </div>
                            <div class="col-md-1 mt-1">
                                <a class="btn btn-primary" href='/gerenciamento/mostrarProposta2/{{proposta._id}}'
                                    target="_blank"><i class='bi bi-eye'></i></a>
                            </div>
                        </div>
                        {{/if}}

                        {{#if proposta.proposta3}}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mt-1">
                                    <label class='col-form-label col-form-label-sm'
                                        id='dtcadastro3'>{{proposta.dtcadastro3}}</label>
                                </div>
                            </div>
                            <div class="col-md-3 mt-1">
                                <label class='col-form-label col-form-label-sm'
                                    id='dtvalidade3'>{{proposta.dtvalidade3}}</label>
                            </div>
                            <div class="col-md-1 mt-1">
                                <a class="btn btn-primary" href='/gerenciamento/mostrarProposta3/{{proposta._id}}'
                                    target="_blank"><i class='bi bi-eye'></i></a>
                            </div>
                        </div>
                        {{/if}}

                        {{#if proposta.proposta4}}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mt-1">
                                    <label class='col-form-label col-form-label-sm'
                                        id='dtcadastro4'>{{proposta.dtcadastro4}}</label>
                                </div>
                            </div>
                            <div class="col-md-3 mt-1">
                                <label class='col-form-label col-form-label-sm'
                                    id='dtvalidade4'>{{proposta.dtvalidade4}}</label>
                            </div>
                            <div class="col-md-1 mt-1">
                                <a class="btn btn-primary" href='/gerenciamento/mostrarProposta4/{{proposta._id}}'
                                    target="_blank"><i class='bi bi-eye'></i></a>
                            </div>
                        </div>
                        {{/if}}

                        {{#if proposta.proposta5}}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mt-1">
                                    <label class='col-form-label col-form-label-sm'
                                        id='dtcadastro5'>{{proposta.dtcadastro5}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mt-1">
                            <label class='col-form-label col-form-label-sm'
                                id='dtvalidade5'>{{proposta.dtvalidade5}}</label>
                        </div>
                        <div class="col-md-1 mt-1">
                            <a class="btn btn-primary" href='/gerenciamento/mostrarProposta5/{{proposta._id}}'
                                target="_blank"><i class='bi bi-eye'></i></a>
                        </div>
                    </div>
                    {{/if}}

                    {{#if proposta.proposta6}}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mt-1">
                                <label class='col-form-label col-form-label-sm'
                                    id='dtcadastro6'>{{proposta.dtcadastro6}}</label>
                            </div>
                        </div>
                        <div class="col-md-3 mt-1">
                            <label class='col-form-label col-form-label-sm'
                                id='dtvalidade6'>{{proposta.dtvalidade6}}</label>
                        </div>
                        <div class="col-md-1 mt-1">
                            <a class="btn btn-primary" href='/gerenciamento/mostrarProposta6/{{proposta._id}}'
                                target="_blank"><i class='bi bi-eye'></i></a>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <div class='row'>
                    <label class='col-form-label fw-bold'>Equipe</label>
                    <label class='col-form-label col-form-label-sm'>{{lista_equipe.ins0}}</label>
                    <label class='col-form-label col-form-label-sm'>{{lista_equipe.ins1}}</label>
                    <label class='col-form-label col-form-label-sm'>{{lista_equipe.ins2}}</label>
                    <label class='col-form-label col-form-label-sm'>{{lista_equipe.ins3}}</label>
                    <label class='col-form-label col-form-label-sm'>{{lista_equipe.ins4}}</label>
                    <label class='col-form-label col-form-label-sm'>{{lista_equipe.ins5}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class='row mt-2 mb-2'>
        <h2 class='fw-bold mb-2'>Visita</h2>
        <div class='col-md-3 card'>
            <div class="row">
                <div class="col">
                    <label class='col-form-label fw-bold'>Sombreamento</label><br>
                </div>
                <div style="width: 60px;">
                    <a href='/gerenciamento/mostrarSomb/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                            class='bi bi-eye'></i></a>
                </div>
            </div>
            <label class='col-form-label col-form-label-sm'>Data Envio:</label>
            <label class='col-form-label col-form-label-sm' id='dtPlaSombra'>{{vistoria.dtPlaSombra}}</label>
        </div>
        <div class="col-md-3 card">
            <div class="row">
                <div class="col">
                    <label class='col-form-label fw-bold'>Área</label><br>
                </div>
                <div style="width: 60px;">
                    <a href='/gerenciamento/mostrarArea/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                            class='bi bi-eye'></i></a>
                </div>
            </div>
            <label class='col-form-label col-form-label-sm'>Data Envio:</label>
            <label class='col-form-label col-form-label-sm' id='dtPlaArea'> {{vistoria.dtPlaArea}}</label>
        </div>
        <div class="col-md-3 card">
            <div class="row">
                <div class='col'>
                    <label class='col-form-label fw-bold'>Local Inversor e StringBox</label>
                </div>
                <div style="width: 60px;">
                    <a href='/gerenciamento/mostrarInsi/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                            class='bi bi-eye'></i></a>
                </div>
            </div>
            <label class='col-form-label col-form-label-sm'>Data Envio:</label>
            <label class='col-form-label col-form-label-sm' id='dtPlaInvStb'>{{vistoria.dtPlaInvStb}}</label>
        </div>
        <div class="col-md-3 card">
            <div class="row">
                <div class='col'>
                    <label class='col-form-label fw-bold'>Local Aterramento</label>
                </div>
                <div style="width: 60px;">
                    <a href='/gerenciamento/mostrarInsa/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                            class='bi bi-eye'></i></a>
                </div>
            </div>
            <label class='col-form-label col-form-label-sm'>Data de Envio:</label>
            <label class='col-form-label col-form-label-sm' id='dtPlaAte'>{{vistoria.dtPlaAte}}</label>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="col-md-6 card">
            <div class="row">
                <div class="col-md-4">
                    <label class='col-form-label fw-bold'>Proposta Assinada</label>
                </div>
                <div style="width: 60px;" class='mt-1'>
                    <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarProposta/{{proposta._id}}'
                        target="_blank"><i class='bi bi-eye'></i></a>
                </div>
                <div class='col mt-1'>
                    <label class='col-form-label col-form-label-sm'>Data de Assinatura:</label>
                    <label class='col-form-label col-form-label-sm' id='dtassinatura'>{{proposta.dtassinatura}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 card">
            <div class="row">
                <div class="col-md-4">
                    <label class='col-form-label fw-bold'>Contrato</label>
                </div>
                <div style="width: 60px;" class='mt-1'>
                    <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarContrato/{{proposta._id}}'
                        target="_blank"><i class='bi bi-eye'></i></a>
                </div>
                <div class="col mt-1">
                    <label class='col-form-label col-form-label-sm'>Data de Assinatura:</label>
                    <label class='col-form-label col-form-label-sm' id='dtcontrato'>{{proposta.dtcontrato}}</label>
                </div>

            </div>
        </div>
    </div>
    <hr>
    <div class='row mb-2'>
        <div class="col card">
            <div class='row'>
                <div class='col-md-4'>
                    <label class='col-form-label fw-bold'>Pedido</label>
                </div>
                <div style="width: 60px;" class='mt-1'>
                    <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarPedido/{{proposta._id}}'
                        target="_blank"><i class='bi bi-eye'></i></a>
                </div>
                <div class='col mt-1'>
                    <label class='col-form-label col-form-label-sm'>Data de Emissão:</label>
                    <label class='col-form-label col-form-label-sm' id='dtcadastro'>{{compra.dtcadastro}}
                    </label>
                </div>
            </div>

        </div>
        <div class="col card">
            <div class='row'>
                <div class='col-md-4'>
                    <label class='col-form-label fw-bold'>Nota Fiscal</label>
                </div>
                <div style="width: 60px;" class='mt-1'>
                    <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarNota/{{proposta._id}}'
                        target="_blank"><i class='bi bi-eye'></i></a>
                </div>
                <div class='col mt-1'>
                    <label class='col-form-label col-form-label-sm'>Data de Emissão:</label>
                    <label class='col-form-label col-form-label-sm' id='dtrecebimento'>
                        {{compra.dtrecebimento}}'</label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="col-md-5">
            <div class="row ">
                <label class='col-form-label fw-bold'>TRT</label>
            </div>
        </div>
        <div style="width: 60px;" class="mt-1">
            <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarTrt/{{proposta._id}}' target="_blank"><i
                    class='bi bi-eye'></i></a>
        </div>
        <div class="col mt-1">
            <label class='col-form-label col-form-label-sm'>Data de Registro: </label>
            <label class='col-form-label col-form-label-sm' id='dttrt'>{{documento.dttrt}}</label>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col card">
            <div class="row">
                <div class='col-md-4'>
                    <label class="col-form-label fw-bold">Memorial Descritivo</label>
                </div>
                <div style='width: 60px;' class='mt-3'>
                    <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarMemorial/{{proposta._id}}'
                        target="_blank"><i class='bi bi-eye'></i></a>
                </div>
                <div class='col mt-3'>
                    <label class='col-form-label col-form-label-sm'>Data de Cadastro: </label>
                    <label class='col-form-label col-form-label-sm' id='dtmemorial'>{{documento.dtmemorial}}</label>
                </div>
            </div>
        </div>
        <div class="col card">
            <div class="row">
                <div class='col-md-4'>
                    <label class="col-form-label fw-bold">Planta de Situação</label>
                </div>
                <div style='width: 60px;' class='mt-3'>
                    <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarSituacao/{{proposta._id}}'
                        target="_blank"><i class='bi bi-eye'></i></a>
                </div>
                <div class='col mt-3'>
                    <label class='col-form-label col-form-label-sm'>Data de Cadastro: </label>
                    <label class='col-form-label col-form-label-sm' id='dtsituacao'>{{documento.dtsituacao}}</label>
                </div>
            </div>
        </div>
        <div class="col card">
            <div class="row">
                <div class='col-md-4'>
                    <label class="col-form-label fw-bold">Diagrama Unifilar</label>
                </div>
                <div style="width: 60px;" class="mt-3">
                    <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarUnifilar/{{proposta._id}}'
                        target="_blank"><i class='bi bi-eye'></i></a>
                </div>
                <div class='col mt-3'>
                    <label class='col-form-label col-form-label-sm'>Data de Cadastro: </label>
                    <label class='col-form-label col-form-label-sm' id='dtunifilar'>{{documento.dtunifilar}}</label>
                </div>
            </div>
        </div>

        <div class="col card">
            <div class="row">
                <div class='col-md-4'>
                    <label class="col-form-label fw-bold">Diagrama Trifilar</label>
                </div>
                <div style="width: 60px;" class='mt-3'>
                    <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarTrifilar/{{proposta._id}}'
                        target="_blank"><i class='bi bi-eye'></i></a>
                </div>
                <div class='col mt-3'>
                    <label class='col-form-label col-form-label-sm'>Data de Cadastro: </label>
                    <label class='col-form-label col-form-label-sm' id='dttrifilar'>{{documento.dttrifilar}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-md-5">
            <label class="col-form-label col-form-label-sm mt-1">
                Projeto protocolado na concessionária
            </label>
        </div>
        <div class="col-md-2">
            <label class='col-form-label col-form-label-sm'>Data de Envio: </label>
            <label class='col-form-label col-form-label-sm' id='dtprotocolo'>{{documento.dtprotocolo}}</label>
        </div>
        <div class="col-md-1">
            <label class='col-form-label col-form-label-sm'>Deadline </label>
            <label class='col-form-label col-form-label-sm'>{{documento.dtdeadline}}</label><br>
        </div>
    </div>
    <hr>
    <div class='row mb-2'>
        <div class='col card'>
            <div class='row'>
                <div class='col-md-8'>
                    <label class='col-form-label fw-bold'>Aterramento</label>
                </div>
                <div class="col-md-1 mt-1">
                    <a href='/gerenciamento/mostrarAte/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                            class='bi bi-eye'></i></a>
                </div>
            </div>
        </div>
        <div class='col card'>
            <div class='row'>
                <div class='col-md-8'>
                    <label class='col-form-label fw-bold'>Inversor e String Box</label>
                </div>
                <div class="col-md-1 mt-1">
                    <a href='/gerenciamento/mostrarInv/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                            class='bi bi-eye'></i></a>
                </div>
            </div>
        </div>
        <div class='col card'>
            <div class='row'>
                <div class='col-md-8'>
                    <label class='col-form-label fw-bold'>Estruturas e Módulos</label>
                </div>
                <div class="col-md-1 mt-1">
                    <a href='/gerenciamento/mostrarMod/{{proposta._id}}' class='btn btn-sm btn-primary'><i
                            class='bi bi-eye'></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-2" style="margin-bottom: 50px;">
        <div class='col card'>
            <div class="row">
                <div class="col-md-3">
                    <label class='col-form-label fw-bold'>Comprovante</label>
                </div>
                <div style="width: 60px;" class='mt-1'>
                    <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarComprovante/{{proposta._id}}'
                        target="_blank"><i class='bi bi-eye'></i></a>
                </div>
                <div class='col mt-1'>
                    <label class='col-form-label col-form-label-sm'>Data Emissão: </label>
                    <label class='col-form-label col-form-label-sm'
                        id='dtcomprovante'>{{documento.dtcomprovante}}</label>
                </div>
            </div>
        </div>
        <div class='col card'>
            <div class="row">
                <div class="col-md-3">
                    <label class='col-form-label fw-bold'>Nota Fiscal </label>
                </div>
                <div style="width: 60px;" class='mt-1'>
                    <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarFinanceiro/{{proposta._id}}'
                        target="_blank"><i class='bi bi-eye'></i></a>
                </div>
                <div class="col mt-1">
                    <label class='col-form-label col-form-label-sm'>Data de Emissão: </label>
                    <label class='col-form-label col-form-label-sm' id='dtfinanceiro'>{{documento.dtfinanceiro}}</label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="col-md-5">
            <div class="row ">
                <label class='col-form-label fw-bold'>Ordem de Serviço</label>
            </div>
        </div>
        <div style="width: 60px;" class="mt-1">
            <a class="btn btn-sm btn-primary" href='/gerenciamento/mostrarAlmoxarifado/{{proposta._id}}'
                target="_blank"><i class='bi bi-eye'></i></a>
        </div>
        <div class="col mt-1">
            <label class='col-form-label col-form-label-sm'>Data de Envio: </label>
            <label class='col-form-label col-form-label-sm' id='dtalmoxarifado'>{{documento.dtalmoxarifado}}</label>
        </div>
    </div>
    <hr>
    <div style="margin-bottom: 20px;"></div>
</div>