<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">

    <div class="modal fade" id="mostragps" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Localização</h5>
                    <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body" style="height: 500px;">

                </div>
            </div>
        </div>
    </div>

    {{#if proposta._id}}
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>
        <h5 class="header">Responsável: {{responsavel.nome}} </h5>
    </div>
    {{/if}}

    <input type="hidden" name="id" value='{{proposta._id}}'>

    <div class='row' style="height: 80%;">
        <div class='col'>
            <div class="row mt-2">
                <div class="col">
                    <label class="col-form-label col-form-label-sm">Previsão Inicio das Obras</label>
                    <input type='date' name='dtinicio' class='form-control' value='{{equipe.dtinicio}}'>
                </div>
                <div class="col">
                    <label class="col-form-label col-form-label-sm">Previsão Fim das Obras</label>
                    <input type='date' name='dtfim' class='form-control' value='{{equipe.dtfim}}'>
                </div>
            </div>
            <div style='padding-left: 5%'>
                <div class='row mt-4'>
                    <label class='col-form-label fw-bold'>Instaladores</label>
                    {{#if equipe.ins0}}
                    <div class='row'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins0}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps" title="Histórico de localização do técnico"> <i
                                        class='bi bi-geo'></i></a>
                                <a href='/gerenciamento/atividades/' class="btn btn-primary" title="Serviços"><i
                                        class='bi bi-list-task'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if equipe.ins1}}
                    <div class='row mt-1'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins1}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"> <i
                                        class='bi bi-geo'></i></a>
                                <a href='/gerenciamento/atividades/' class="btn btn-primary"><i
                                        class='bi bi-list-task'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if equipe.ins2}}
                    <div class='row mt-1'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins2}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"> <i
                                        class='bi bi-geo'></i></a>
                                <a href='/gerenciamento/atividades/' class="btn btn-primary"><i
                                        class='bi bi-list-task'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if equipe.ins3}}
                    <div class='row mt-1'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins3}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"> <i
                                        class='bi bi-geo'></i></a>
                                <a href='/gerenciamento/atividades/' class="btn btn-primary"><i
                                        class='bi bi-list-task'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if equipe.ins4}}
                    <div class='row mt-1'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins4}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"> <i
                                        class='bi bi-geo'></i></a>
                                <a href='/gerenciamento/atividades/' class="btn btn-primary"><i
                                        class='bi bi-list-task'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if equipe.ins5}}
                    <div class='row mt-1'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins5}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"> <i
                                        class='bi bi-geo'></i></a>
                                <a href='/gerenciamento/atividades/' class="btn btn-primary"><i
                                        class='bi bi-list-task'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class='col'>
            <div
                style="border:rgba(120, 120, 120, 0.4) 1px solid; border-radius: 20px;width: 100%;height: 100%;text-align: center;">
                GPS
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12 mt-4 text-end'>
            <a href='/gerenciamento/emandamento/' class='btn btn-primary'><i class='bi bi-arrow-return-left'></i></a>
        </div>
    </div>
</div>