<script>
    function mascara(data) {
        if (data.length == 10) {
            var ano = String(data).substring(0, 4)
            var mes = String(data).substring(5, 7)
            var dia = String(data).substring(8, 10)
            return dia + '/' + mes + '/' + ano
        } else {
            return 'Sem Data'
        }
    }
    window.onload = function () {

        var dtinicio = document.getElementById('dtinicio')
        dtinicio.innerHTML = mascara(dtinicio.innerHTML)

        var dtvalidade1 = document.getElementById('dtfim')
        dtfim.innerHTML = mascara(dtfim.innerHTML)
    }
    function confirma() {
        var tarefa = document.getElementById('id')
        alert(tarefa.value)

        Swal.fire({
            title: '<label style="font-size: 20px">Confirme para finalizar a tarefa</label>',
            showCancelButton: true,
            confirmButtonText: 'Save',
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                window.location.href = '/gerenciamento/realizar/' + tarefa.value
            }
        })
    }
</script>
<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    <div class="modal fade" id="mostragps" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Localização</h5>
                    <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>

    </div>
    <div class='row'>
        <div class='col'>
            <div class="row">
                <div class="col">
                    <h5 class="">Gestor Responsável: {{gestor.nome}} </h5>
                    <h5 class="">Técnico Responsável: {{tecnico.nome}} </h5>
                </div>
                <div class="col text-end">
                    <div class="btn-group gap-1">
                        {{#if realizar}}
                        <label class='col-form-label'><i class='bi bi-check d-flex align-items-center'>Projeto
                                Realizado</i></label>
                        {{else}}
                        <button onclick="confirma()" class='btn btn-sm btn-primary'></i>Realizar</button>
                        {{/if}}
                        <a href='/gerenciamento/enviarequipe/{{tarefa._id}}' class='btn btn-sm btn-primary'>Comunicar
                            Equipe</a>
                        <a href='/gerenciamento/emandamento/' class='btn btn-sm btn-primary'><i
                                class='bi bi-arrow-return-left'></i></a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <label class="col-form-label fw-bold text-center mt-1">Local do Serviço</label>
                <div class="col-md-1 text-end">
                    <label class="col-form-label">Endereço:</label>
                </div>
                <div class="col text-start">
                    <label class="col-form-label">{{tarefa.endereco}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 text-end">
                    <label class="col-form-label">Cidade:</label>
                </div>
                <div class="col-md-5 text-start">
                    <label class="col-form-label">{{tarefa.cidade}}</label>
                </div>
                <div class="col-md-1 text-end">
                    <label class="col-form-label">Estado:</label>
                </div>
                <div class="col text-start">
                    <label class="col-form-label">{{tarefa.uf}}</label>
                </div>
            </div>

            <div class="row mt-2 mb-3">
                <div class="col">
                    <label class="col-form-label">Previsão Inicio: </label>
                    <label class='col-form-label' id='dtinicio'>{{equipe.dtinicio}}</label>
                </div>
                <div class="col">
                    <label class="col-form-label">Previsão Fim:</label>
                    <label class='col-form-label' id='dtfim'>{{equipe.dtfim}}</label>
                </div>
            </div>
            <hr>
            {{#if proposta}}
            <div class="row">
                <label class="col-form-label fw-bold text-center mt-1">Atividades</label>
                <div class="btn-group gap-4">
                    <a class='btn btn-primary' href='/gerenciamento/servicosAtvt/{{proposta._id}}'>Telhado</a>
                    <a class='btn btn-primary' href='/gerenciamento/servicosAtvi/{{proposta._id}}'>Inversor</a>
                    <a class='btn btn-primary' href='/gerenciamento/servicosAtva/{{proposta._id}}'>Aterramento</a>
                </div>
            </div>
            {{else}}
            <div class="row">
                <label class="col-form-label fw-bold text-center mt-1">Atividades</label>
                <div class="btn-group gap-4">
                    <a class='btn btn-primary' href='/gerenciamento/servicosAtvt/{{tarefa._id}}'>Telhado</a>
                    <a class='btn btn-primary' href='/gerenciamento/servicosAtvi/{{tarefa._id}}'>Inversor</a>
                    <a class='btn btn-primary' href='/gerenciamento/servicosAtva/{{tarefa._id}}'>Aterramento</a>
                </div>
            </div>
            {{/if}}
            <div style='padding-left: 5%'>
                <div class='row mt-4'>
                    <label class='col-form-label fw-bold'>Técnicos a campo</label>
                    {{#if equipe.ins0}}
                    <div class='row'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins0}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"
                                    title="Histórico de localização do técnico"> <i class='bi bi-geo'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if equipe.ins1}}
                    <div class='row mt-1'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins1}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"> <i
                                        class='bi bi-geo'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if equipe.ins2}}
                    <div class='row mt-1'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins2}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"> <i
                                        class='bi bi-geo'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if equipe.ins3}}
                    <div class='row mt-1'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins3}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"> <i
                                        class='bi bi-geo'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if equipe.ins4}}
                    <div class='row mt-1'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins4}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"> <i
                                        class='bi bi-geo'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if equipe.ins5}}
                    <div class='row mt-1'>
                        <div class='col-md-3'>
                            <div class='col-form-label'>{{equipe.ins5}}</div>
                        </div>
                        <div class='col-md-4'>
                            <div clas='btn-grou gap-2 col-12'>
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mostragps"> <i
                                        class='bi bi-geo'></i></a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class='col'>
            <div class='aling-center'
                style="border:rgba(120, 120, 120, 0.4) 1px solid; border-radius: 20px; height: 100%;text-align: center;">
                GPS
            </div>
        </div>
    </div>
</div>