<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    <div class="modal fade" id="laudoModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{posvenda.laudo}}</h5>
                    <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body" style="height: 500px;">
                    <object data="/gerenciamento/mostrarPosvenda/{{proposta._id}}" type="application/pdf" width="100%"
                        height="100%">
                        <p>Seu navegador não tem um plugin pra PDF</p>
                    </object>
                </div>
            </div>
        </div>
    </div>
    {{#if proposta._id}}
    <div style="width: 100%;">
        <h5 class="header">{{cliente_proposta.nome}} </h5>
    </div>
    {{/if}}

    <div class='btn-group col-12'>
        <div class='numero'>1</div>
        <a href='/gerenciamento/proposta/{{proposta._id}}/'
            class='btn btn-sm{{#if proposta.feito}} check-menu {{else}} botao-menu {{/if}}'
            style="border-bottom-left-radius: 30px;"> <i class="bi bi-house"></i> Proposta</a>
        <div class='numero'>2</div>
        <a href="/gerenciamento/visita/{{proposta._id}}"
            class="btn btn-sm {{#if vistoria.feito}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-gear"></i>
            Visita Técnica</a>
        <div class='numero'>3</div>
        <a href="/gerenciamento/assinatura/{{proposta._id}}"
            class="btn btn-sm {{#if proposta.assinado}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-pencil"></i>
            Assinatura</a>
        <div class='numero'>4</div>
        <a href="/gerenciamento/compra/{{proposta._id}}"
            class="btn btn-sm {{#if compra.feitonota}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-cart-check"></i>
            Compra Sistema</a>
        <div class='numero'>5</div>
        <a href="/gerenciamento/trt/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitotrt}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-tools"></i>
            TRT</a>
        <div class='numero'>6</div>
        <a href="/gerenciamento/execucao/{{proposta._id}}"
            class="btn btn-sm {{#if documento.protocolado}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-file-earmark-check"></i>
            Execução</a>
        <div class='numero'>7</div>
        <a href="/gerenciamento/equipe/{{proposta._id}}"
            class="btn btn-sm {{#if lista_equipe.feito}} check-menu {{else}} botao-menu {{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-people"></i>
            Equipes</a>
        <div class='numero'>8</div>
        <a href="/gerenciamento/aceite/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitoaceite}} check-menu {{else}} botao-menu{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-check2-square"></i>
            Aceite Obra</a>
        <div class='numero'>9</div>
        <a href="/gerenciamento/almoxarifado/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitoalmox}} check-menu {{else}} botao-menu{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-layers"></i>
            Almoxarifado</a>
        <div class='numero'>10</div>
        <a href="/gerenciamento/financeiro/{{proposta._id}}"
            class="btn btn-sm {{#if documento.feitofaturado}} check-menu {{else}} botao-menu{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-calculator"></i>
            Financeiro</a>
        <div class='numero ativo'>11</div>
        <a href="/gerenciamento/posvenda/{{proposta._id}}"
            class="btn btn-sm {{#if posvenda.feito}} check-menu {{else}} botao-menu ativo{{/if}}"
            style="border-bottom-left-radius: 30px;"><i class="bi bi-door-open"></i>
            Pós Venda</a>
    </div>

    <div class="row mt-2">
        <div class="col-md-2 text-end">
            <label class='col-form-label fw-bold mt-3'>Documento: </label><br>
        </div>
        <div class="col-md-10 text-start">
            <form action='/gerenciamento/posvenda' method='post' enctype="multipart/form-data">
                <input type='hidden' name='id' value={{proposta._id}}>
                <div class="row">
                    {{#if posvenda.feito}}
                    <div class="col-md-5">
                        <div class="row mt-3">
                            <label class='col-form-label'>{{posvenda.laudo}}</label>
                        </div>
                    </div>
                    <div class="col-md-2 mt-3">
                        <input style="max-width: 150px;" type='file' class='form-control' name='posvenda'
                            value='{{posvenda.feito}}'>
                    </div>
                    {{else}}
                    <div class="col-md-7 mt-3">
                        <input type='file' class='form-control' name='posvenda' value='{{posvenda.laudo}}'>
                    </div>
                    {{/if}}
                    <div class="col-md-1 mt-3">
                        <a class="btn btn-primary" href='/gerenciamento/mostrarPosvenda/{{proposta._id}}'
                            target="_blank"><i class='bi bi-eye'></i></a>
                    </div>
                    <div class="col-md-2">
                        <label> Data</label>
                        <input type='date' class='form-control' name='data' value='{{posvenda.data}}'>
                    </div>
                    <div class="col-md-1 mt-3">
                        <button type='submit' class='btn btn-success'>Salvar</button>
                    </div>
                </div><br>
            </form>
        </div>
        <form action="/gerenciamento/checkposvenda" method='post'>
            <input type='hidden' name='idpos' value='{{posvenda._id}}'>
            <input type='hidden' name='id' value='{{proposta._id}}'>
            <div class="row">
                <h5 class="fw-bold">Check List</h5><br><br>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class='form-check-input' style="margin-top: 10px;" type="checkbox" name='checkalerta'
                                {{posvenda.alerta}}>
                            <label class='col-form-label form-check-label'>Alertas do Sistema</label>
                        </div>
                        <div class="form-check">
                            <input class='form-check-input' style="margin-top: 10px;" type="checkbox"
                                name='checkenergia' {{posvenda.energia}}>
                            <label class='col-form-label form-check-label'>Falta de Energia</label>
                        </div>
                        <div class="form-check">
                            <input class='form-check-input' style="margin-top: 10px;" type="checkbox" name='checkmanut'
                                {{posvenda.manut}}>
                            <label class='col-form-label form-check-label'>Manutenção</label>
                        </div>
                        <div class="form-check">
                            <input class='form-check-input' style="margin-top: 10px;" type="checkbox" name='checksombra'
                                {{posvenda.sombra}}>
                            <label class='col-form-label form-check-label'>Sombreamento</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class='form-check-input' style="margin-top: 10px;" type="checkbox"
                                name='checkmonitora' {{posvenda.monitora}}>
                            <label class='col-form-label form-check-label'>Aplicativo de Monitoramento</label>
                        </div>
                        <div class="form-check">
                            <input class='form-check-input' style="margin-top: 10px;" type="checkbox"
                                name='checkconexao' {{posvenda.conexao}}>
                            <label class='col-form-label form-check-label'>Conexão</label>
                        </div>
                        <div class="form-check">
                            <input class='form-check-input' style="margin-top: 10px;" type="checkbox"
                                name='checkgerador' {{posvenda.gerador}}>
                            <label class='col-form-label form-check-label'>Outros Geradores</label>
                        </div>
                        <div class="form-check">
                            <input class='form-check-input' style="margin-top: 10px;" type="checkbox"
                                name='checkanalise' {{posvenda.analise}}>
                            <label class='col-form-label form-check-label'>Análise de Geração</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label fw-bold">Dúvidas do Cliente:</label>
                            <textarea name="duvidas" class="form-control" cols="10"
                                rows="4">{{posvenda.duvidas}}</textarea>
                        </div>
                        <div class="col">
                            <div class="row" style="margin-top: 30px;">
                                <button class='btn btn-success mb-1'>Salvar Chek List</button><br>
                                {{#if posvenda.feito}}
                                <a href='/gerenciamento/entrega/{{proposta._id}}' class='btn btn-primary mb-1'>Finalizar</button><br>
                                {{/if}}
                                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#laudoModal"> Mostrar Laudo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>