<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    {{#if proposta._id}}
    <div style="width: 100%;">
        <h5 class="header">{{cliente_proposta.nome}} </h5>
    </div>
    {{/if}}
    <div class='btn-group col-12'>
        <div class='numero ativo'>1</div>
        <a href='/gerenciamento/proposta/{{proposta._id}}/' class='btn btn-sm{{#if proposta.feito}} check-menu {{else}} botao-menu ativo {{/if}}' style="border-bottom-left-radius: 30px;"> <i
                class="bi bi-house"></i> Proposta</a>
        <div class='numero'>2</div>
        <a href="/gerenciamento/visita/{{proposta._id}}" class="btn btn-sm {{#if vistoria.feito}} check-menu {{else}} botao-menu {{/if}}" style="border-bottom-left-radius: 30px;"><i class="bi bi-gear"></i>
            Visita Técnica</a>
        <div class='numero'>3</div>
        <a href="/gerenciamento/assinatura/{{proposta._id}}" class="btn btn-sm {{#if proposta.assinado}} check-menu {{else}} botao-menu {{/if}}" style="border-bottom-left-radius: 30px;"><i
                class="bi bi-pencil"></i>
            Assinatura</a>
        <div class='numero'>4</div>
        <a href="/gerenciamento/compra/{{proposta._id}}" class="btn btn-sm {{#if compra.feitonota}} check-menu {{else}} botao-menu {{/if}}" style="border-bottom-left-radius: 30px;"><i class="bi bi-cart-check"></i>
            Compra Sistema</a>
        <div class='numero'>5</div>
        <a href="/gerenciamento/trt/{{proposta._id}}" class="btn btn-sm {{#if documento.feitotrt}} check-menu {{else}} botao-menu {{/if}}" style="border-bottom-left-radius: 30px;"><i class="bi bi-tools"></i>
            TRT</a>
        <div class='numero'>6</div>
        <a href="/gerenciamento/execucao/{{proposta._id}}" class="btn btn-sm {{#if documento.protocolado}} check-menu {{else}} botao-menu {{/if}}" style="border-bottom-left-radius: 30px;"><i
                class="bi bi-file-earmark-check"></i>
            Execução</a>
        <div class='numero'>7</div>
        <a href="/gerenciamento/equipe/{{proposta._id}}" class="btn btn-sm {{#if lista_equipe.feito}} check-menu {{else}} botao-menu {{/if}}" style="border-bottom-left-radius: 30px;"><i class="bi bi-people"></i>
            Equipes</a>
        <div class='numero'>8</div>
        <a href="/gerenciamento/financeiro/{{proposta._id}}" class="btn btn-sm botao-menu" style="border-bottom-left-radius: 30px;"><i class="bi bi-layers"></i>
            Financeiro</a>
            <div class='numero'>9</div>
        <a href="/gerenciamento/posvenda/{{proposta._id}}" class="btn btn-sm botao-menu" style="border-bottom-left-radius: 30px;"><i class="bi bi-layers"></i>
            Pós Venda</a>            
    </div>



    <div class="row mt-2">
        <div class="col-md-2 text-end">
            <label class='col-form-label fw-bold mb-3'>Cliente: </label><br>
            <label class='col-form-label fw-bold mb-3'>Responsável: </label><br>
            <label class='col-form-label fw-bold mt-3 mb-3'>Proposta 1:</label><br>
            {{#if proposta.proposta1}}
            <label class='col-form-label fw-bold mb-3'>Proposta 2:</label><br>
            {{/if}}
            {{#if proposta.proposta2}}
            <label class='col-form-label fw-bold mb-3'>Proposta 3:</label><br>
            {{/if}}
            {{#if proposta.proposta3}}
            <label class='col-form-label fw-bold mb-3'>Proposta 4:</label><br>
            {{/if}}
            {{#if proposta.proposta4}}
            <label class='col-form-label fw-bold mb-3'>Proposta 5:</label><br>
            {{/if}}
            {{#if proposta.proposta5}}
            <label class='col-form-label fw-bold mb-3'>Proposta 6:</label><br>
            {{/if}}
        </div>
        <div class="col-md-10 text-start">
            <form action='/gerenciamento/proposta1' method='post' enctype="multipart/form-data">
                <select class='form-select' name='cliente'>
                    <option class='fw-bold'>{{cliente_proposta.nome}}</option>
                    {{#each cliente}}
                    <option value={{_id}}>{{nome}}</option>
                    {{else}}
                    <option>Sem clientes cadastrados</option>
                    {{/each}}
                </select><br>
                <select class='form-select' name='responsavel'>
                    <option class='fw-bold'>{{res_proposta.nome}}</option>
                    {{#each responsavel}}
                    <option value={{_id}}>{{nome}}</option>
                    {{else}}
                    <option>Sem responsáveis cadastrados</option>
                    {{/each}}
                </select><br>
                <div class="row">
                    <div class="col">
                        {{#if proposta.proposta1}}
                        <div class="mt-3">
                            <label class='col-form-label'>{{proposta.proposta1}}</label>
                        </div>
                        {{else}}
                        <div class="mt-3">
                        <input type='file' class='form-control' name='proposta1' value='{{proposta.proposta1}}'>
                        </div>
                        {{/if}}
                    </div>
                    {{#if proposta.proposta1}}
                    <div class="col-md-1 mt-3">
                        <a class="btn btn-primary" href='/gerenciamento/mostrarProposta1/{{proposta._id}}'
                            target="_blank"><i class='bi bi-eye'></i></a>
                    </div>
                    {{/if}}
                    <div class="col-md-3">
                        <label> Data de Cadastro</label>
                        <input type='date' class='form-control' name='dtcadastro1' value='{{proposta.dtcadastro1}}'>
                    </div>
                    <div class="col-md-3">
                        <label>Data de Validade</label>
                        <input type='date' class='form-control' name='dtvalidade1' value='{{proposta.dtvalidade1}}'>
                    </div>
                    <div class="col-md-1 mt-3">
                        <button type='submit' class='btn btn-success'>Salvar</button>
                    </div>
                </div>
            </form>
            {{#if proposta.proposta1}}
            <form action='/gerenciamento/proposta2' method='post' enctype="multipart/form-data">
                <input type="hidden" name='id' value='{{proposta._id}}'>
                <div class="row">
                    <div class="col">
                        {{#if proposta.proposta2}}
                        <div class="mt-3">
                            <label class='col-form-label'>{{proposta.proposta2}}</label>
                        </div>
                        {{else}}
                        <div class="mt-3">
                        <input type='file' class='form-control' name='proposta2' value='{{proposta.proposta2}}'>
                        </div>
                        {{/if}}
                    </div>
                    {{#if proposta.proposta2}}
                    <div class="col-md-1 mt-3">
                        <a class="btn btn-primary" href='/gerenciamento/mostrarProposta2/{{proposta._id}}'
                            target="_blank"><i class='bi bi-eye'></i></a>
                    </div>
                    {{/if}}
                    <div class="col-md-3 mt-3">
                        <input type='date' class='form-control' name='dtcadastro2' value='{{proposta.dtcadastro2}}'>
                    </div>
                    <div class="col-md-3 mt-3">
                        <input type='date' class='form-control' name='dtvalidade2' value='{{proposta.dtvalidade2}}'>
                    </div>
                    <div class="col-md-1 mt-3">
                        <button type='submit' class='btn btn-success'>Salvar</button>
                    </div>
                </div>
            </form>
            {{/if}}
            {{#if proposta.proposta2}}
            <form action='/gerenciamento/proposta3' method='post' enctype="multipart/form-data">
                <input type="hidden" name='id' value='{{proposta._id}}'>
                <div class="row">
                    <div class="col">
                        {{#if proposta.proposta3}}
                        <div class="mt-3">
                            <label class='col-form-label'>{{proposta.proposta3}}</label>
                        </div>
                        {{else}}
                        <input type='file' class='form-control mt-3' name='proposta3' value='{{proposta.proposta3}}'>
                        {{/if}}
                    </div>
                    {{#if proposta.proposta3}}
                    <div class="col-md-1 mt-3">
                        <a class="btn btn-primary" href='/gerenciamento/mostrarProposta3/{{proposta._id}}'
                            target="_blank"><i class='bi bi-eye'></i></a>
                    </div>
                    {{/if}}
                    <div class="col-md-3 mt-3">
                        <input type='date' class='form-control' name='dtcadastro3' value='{{proposta.dtcadastro3}}'>
                    </div>
                    <div class="col-md-3 mt-3">
                        <input type='date' class='form-control' name='dtvalidade3' value='{{proposta.dtvalidade3}}'>
                    </div>
                    <div class="col-md-1 mt-3">
                        <button type='submit' class='btn btn-success'>Salvar</button>
                    </div>
                </div>
            </form>
            {{/if}}
            {{#if proposta.proposta3}}
            <form action='/gerenciamento/proposta4' method='post' enctype="multipart/form-data">
                <input type="hidden" name='id' value='{{proposta._id}}'>
                <div class="row">
                    <div class="col">
                        {{#if proposta.proposta4}}
                        <div class="mt-3">
                            <label class='col-form-label'>{{proposta.proposta4}}</label>
                        </div>
                        {{else}}
                        <input type='file' class='form-control mt-3' name='proposta4' value='{{proposta.proposta4}}'>
                        {{/if}}
                    </div>
                    {{#if proposta.proposta4}}
                    <div class="col-md-1 mt-3">
                        <a class="btn btn-primary" href='/gerenciamento/mostrarProposta4/{{proposta._id}}'
                            target="_blank"><i class='bi bi-eye'></i></a>
                    </div>
                    {{/if}}
                    <div class="col-md-3 mt-3">
                        <input type='date' class='form-control' name='dtcadastro4' value='{{proposta.dtcadastro4}}'>
                    </div>
                    <div class="col-md-3 mt-3">
                        <input type='date' class='form-control' name='dtvalidade4' value='{{proposta.dtvalidade4}}'>
                    </div>
                    <div class="col-md-1 mt-3">
                        <button type='submit' class='btn btn-success'>Salvar</button>
                    </div>
                </div>
            </form>
            {{/if}}
            {{#if proposta.proposta4}}
            <form action='/gerenciamento/proposta5' method='post' enctype="multipart/form-data">
                <input type="hidden" name='id' value='{{proposta._id}}'>
                <div class="row">
                    <div class="col">
                        {{#if proposta.proposta5}}
                        <div class="mt-3">
                            <label class='col-form-label'>{{proposta.proposta5}}</label>
                        </div>
                        {{else}}
                        <input type='file' class='form-control mt-3' name='proposta5' value='{{proposta.proposta5}}'>
                        {{/if}}
                    </div>
                    {{#if proposta.proposta5}}
                    <div class="col-md-1 mt-3">
                        <a class="btn btn-primary" href='/gerenciamento/mostrarProposta5/{{proposta._id}}'
                            target="_blank"><i class='bi bi-eye'></i></a>
                    </div>
                    {{/if}}
                    <div class="col-md-3 mt-3">
                        <input type='date' class='form-control' name='dtcadastro5' value='{{proposta.dtcadastro5}}'>
                    </div>
                    <div class="col-md-3 mt-3">
                        <input type='date' class='form-control' name='dtvalidade5' value='{{proposta.dtvalidade5}}'>
                    </div>
                    <div class="col-md-1 mt-3">
                        <button type='submit' class='btn btn-success'>Salvar</button>
                    </div>
                </div>
            </form>
            {{/if}}
            {{#if proposta.proposta5}}
            <form action='/gerenciamento/proposta6' method='post' enctype="multipart/form-data">
                <input type="hidden" name='id' value='{{proposta._id}}'>
                <div class="row">
                    <div class="col">
                        {{#if proposta.proposta6}}
                        <div class="mt-3">
                            <label class='col-form-label'>{{proposta.proposta6}}</label>
                        </div>
                        {{else}}
                        <input type='file' class='form-control mt-3' name='proposta6' value='{{proposta.proposta6}}'>
                        {{/if}}
                    </div>
                    {{#if proposta.proposta6}}
                    <div class="col-md-1 mt-3">
                        <a class="btn btn-primary" href='/gerenciamento/mostrarProposta6/{{proposta._id}}'
                            target="_blank"><i class='bi bi-eye'></i></a>
                    </div>
                    {{/if}}
                    <div class="col-md-3 mt-3">
                        <input type='date' class='form-control' name='dtcadastro6' value='{{proposta.dtcadastro6}}'>
                    </div>
                    <div class="col-md-3 mt-3">
                        <input type='date' class='form-control' name='dtvalidade6' value='{{proposta.dtvalidade6}}'>
                    </div>
                    <div class="col-md-1 mt-3">
                        <button type='submit' class='btn btn-success'>Salvar</button>
                    </div>
                </div>
            </form>
            {{/if}}
        </div>
    </div>
</div>