<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">

    {{#if atva}}
    <h1>Aterramento</h1>
    <form action="/gerenciamento/caminhoAte" method="post" enctype="multipart/form-data">
        <input type="hidden" name="ida" value='{{atva._id}}'>
        <input type="hidden" name="id" value='{{proposta._id}}'>
        <div class="row">
            <div class="col-md-9">
                <input type='file' multiple name='fileate' class='form-control'>
            </div>
            <div class="col-md-1">
                <div class="form-check mt-1">
                    <input class="form-check-input" name='check' type="checkbox" {{check}}>
                    <label class="form-check-label mt-1" style="font-size: 15px;" for="flexCheckDefault">
                        Aprovado
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <button type='submit' class='btn  btn-success'><i class='bi bi-save'></i></button>
            </div>
            <div class="col-md-1">
                <a href='/gerenciamento/mostraEquipe/{{proposta._id}}' class='btn btn-primary'><i
                        class='bi bi-arrow-left'></i></a>
            </div>
        </div>
    </form>
    {{else}}
    {{#if atvt}}
    <h2>Telhado</h2>
    <form action="/gerenciamento/caminhoMod" method="post" enctype="multipart/form-data">
        <input type="hidden" name="idt" value='{{atvt._id}}'>
        <input type="hidden" name="id" value='{{proposta._id}}'>
        <div class="row">
            <div class="col-md-9">
                <input type='file' multiple name='filemod' class='form-control'>
            </div>
            <div class="col-md-1">
                <div class="form-check mt-1">
                    <input class="form-check-input" name='check' type="checkbox" {{check}}>
                    <label class="form-check-label mt-1" style="font-size: 15px;" for="flexCheckDefault">
                        Aprovado
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <button type='submit' class='btn  btn-success'><i class='bi bi-save'></i></button>
            </div>
            <div class="col-md-1">
                <a href='/gerenciamento/mostraEquipe/{{proposta._id}}' class='btn btn-primary'><i
                        class='bi bi-arrow-left'></i></a>
            </div>
        </div>
    </form>
    {{else}}
    {{#if atvi}}
    <h2>Inversor</h2>
    <form action="/gerenciamento/caminhoInv" method="post" enctype="multipart/form-data">
        <input type="hidden" name="idi" value='{{atvi._id}}'>
        <input type="hidden" name="id" value='{{proposta._id}}'>
        <div class="row">
            <div class="col-md-9">
                <input type='file' multiple name='fileinv' class='form-control'>
            </div>
            <div class="col-md-1">
                <div class="form-check mt-1">
                    <input class="form-check-input" name='check' type="checkbox" {{check}}>
                    <label class="form-check-label mt-1" style="font-size: 15px;" for="flexCheckDefault">
                        Aprovado
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <button type='submit' class='btn  btn-success'><i class='bi bi-save'></i></button>
            </div>
            <div class="col-md-1">
                <a href='/gerenciamento/mostraEquipe/{{proposta._id}}' class='btn btn-primary'><i
                        class='bi bi-arrow-left'></i></a>
            </div>
        </div>
    </form>
    {{/if}}
    {{/if}}
    {{/if}}

    <div class="row text-center text-center justify-content-center" style="margin-bottom: 50px;margin-top: 40px">
        {{#each lista_imagens}}
        <img src='/gerenciamento/mostrarImagens/{{imagem}}' style="width: 40%;" alt='Minha Figura'>
        <a href='/gerenciamento/mostrarImagens/{{imagem}}' target="_blank" style="font-size: 25px;">{{seq}} -
            {{imagem}}</a>
        {{!-- <img src="/arquivos/{{imagem}}" height="200px" width="20px" /> --}}
        {{/each}}
    </div>

</div>