<style type="text/css">
  i {
    font-size: 16px;
    vertical-align: text-top;
  }

  th {
    border-collapse: collapse;
    font-size: 12px;
  }

  td {
    text-align: center;
  }

  table {
    font-size: 12px;
  }

  a {
    cursor: pointer;
  }

  .swal-wide {
    width: 850px !important;
  }
</style>
<script>
</script>
<div class="modal fade" id="atrasados" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Propostas</h5>
        <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <label class="col-form-label fw-bold">Propostas a menos de 1(um) dia de Vencer</label>
        <table>
          <tr>
            <th style="width: 20%;text-align: center">Cliente</th>
            <th style="width: 20%;text-align: center">Telefone</th>
            <th style="width: 10%;text-align: center">Data Cadastro</th>
            <th style="width: 10%;text-align: center">Data Validade</th>
            <th style="width: 10%;text-align: center"></th>
          </tr>
          {{#each notpro}}
          <tr style="font-size: 15px;">
            <input type='hidden' name='cliav[]' value='{{cliente}}'>
            <input type='hidden' name='clitel[]' value='{{telefone}}'>
            <input type='hidden' name='valav[]' value='{{validade}}'>
            <input type='hidden' name='idav[]' value='{{id}}'>
            <input type='hidden' name='id' value='{{id}}'>
            <td>{{cliente}}</td>
            <td>{{telefone}}</td>
            <td>{{cadastro}}</td>
            <td>{{validade}}</td>
            <td>
              <div class='bt-group col-12 gap-2'>
                <a href='/gerenciamento/proposta/{{id}}'><i style='color:rgba(44,55,89)'
                    class="bi bi-pen icone-tabela"></i></a>
                <a href='/gerenciamento/confirmabaixa/{{id}}'><i onclick='motivo({{id}})' style='cursor: pointer; color:rgba(44,55,89)'
                    class="bi bi-arrow-down-circle icone-tabela"></i></a>
              </div>
            </td>
          </tr>
          {{/each}}
        </table>
        <hr>
        <label class="col-form-label fw-bold">Propostas Vencidas</label>
        <table>
          <tr>
            <th style="width: 20%;text-align: center">Cliente</th>
            <th style="width: 20%;text-align: center">Telefone</th>
            <th style="width: 10%;text-align: center">Data Cadastro</th>
            <th style="width: 10%;text-align: center">Data Validade</th>
            <th style="width: 10%;text-align: center"></th>
          </tr>
          {{#each atrasado}}
          <tr style="font-size: 15px;">
            <input type='hidden' name='cliven[]' value='{{cliente}}'>
            <input type='hidden' name='clitel[]' value='{{telefone}}'>
            <input type='hidden' name='valven[]' value='{{validade}}'>
            <input type='hidden' name='idven[]' value='{{id}}'>
            <td>{{cliente}}</td>
            <td>{{telefone}}</td>
            <td>{{cadastro}}</td>
            <td>{{validade}}</td>
            <td><a href='/gerenciamento/proposta/{{id}}'><i style='color:rgba(44,55,89)'
                  class="bi bi-pen icone-tabela"></i></a></td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>
<lable class='col-form-label fw-bold' style="line-height: 30px;padding-left: 15px">{{saudacao}}{{nome_lista}}</lable>
{{#if block}}
{{else}}
<div class='row mt-1' style="width: 100%;font-size: 12px;">
  {{#each deadlineIns}}
  <input type='hidden' name='idins[]' value='{{id}}'>
  <input type='hidden' name='cliins[]' value='{{cliente}}'>
  <input type='hidden' name='cadins[]' value='{{cadastro}}'>
  <input type='hidden' name='dtiass[]' value='{{assinado}}'>
  <input type='hidden' name='dliins[]' value='{{dliins}}'>
  {{/each}}
  <div class='btn-group gap-2 col-12' style="margin-left: 10px;">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown"
        aria-expanded="false" style='font-size: 10px'>Menu</button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div style='padding-left: 20px;width: 200px;'>
          <div class='titulo-inicio text-left'> CADASTROS</div>
          <div class="row mb-2">
            <div class="text-start">
              <a href="/cliente/novo" class="contorno-menu"><i class='bi bi-person-plus'></i> Cliente</a>
              <a href="/cliente/consulta" class="botaomenu text-start"> <i class='bi bi-search'></i> </a>
            </div>
          </div>
          <div class="row mb-2">
            <div class="text-start">
              <a href="/gerenciamento/proposta" class="contorno-menu"><i class='bi bi-file-arrow-up'></i>
                Proposta</a>
              <a href="/gerenciamento/consulta" class="botaomenu"> <i class='bi bi-search'></i> </a>
            </div>
          </div>
          <div class="row mb-2">
            <div class="text-start">
              <a href='/pessoa/novo' class="contorno-menu"><i class='bi bi-person-plus'></i> Pessoas</a>
              <a href='/pessoa/consulta' class="botaomenu"><i class='bi bi-search'></i> </a>
            </div>
          </div>
          <div class="row mb-2">
            <div class="text-start">
              <a href='/fornecedor/novo' class="contorno-menu"><i class='bi bi-file-arrow-up'></i>Fornecedor</a>
              <a href='/fornecedor/consulta' class="botaomenu"><i class='bi bi-search'></i></a>
            </div>
          </div>
          <div style="margin-bottom: 1%;margin-top: 6%;">
            <a href='/gerenciamento/plano' class="relatorio titulo-relatorio" style="padding-right: 20%;"><i
                class="bi bi-file-arrow-up"></i> Planos</a>
          </div>
          <div style="margin-bottom: 1%;margin-top: 6%;">
            <a href='/pessoa/consultaequipepadrao/' class="relatorio titulo-relatorio" style="padding-right: 20%;"><i
                class="bi bi-people"></i> Equipe
              Padrão</a>
          </div>
          <div class='titulo-inicio text-left mt-2'>CONFIGURAÇÕES</div>
          <div class="row mb-2">
            <div class="text-start">
              <a href='/configuracao/addempresa' class="contorno-menu"><i class='bi bi-calculator'></i> Empresa </a>
              <a href='/configuracao/consultaempresa' class="botaomenu"><i class='bi bi-search'></i></a>
            </div>
          </div>
          {{!-- <div class="row mb-2">
            <div class="text-start">
              <a href='/configuracao/novo' class="contorno-menu"><i class='bi bi-clock'></i> Básicas</a>
              <a href='/configuracao/consulta' class="botaomenu"><i class='bi bi-search'></i> </a>
            </div>
          </div> --}}

          <div class='titulo-inicio mt-2'>FERRAMENTAS</div>
          <div style="margin-top: 6%;margin-bottom: 7%;">
            <a href='/gerenciamento/agenda' class="relatorio titulo-relatorio"><i class='bi bi-columns'></i>
              Manutenção</a><br>
          </div>
          <div style="margin-top: 6%;margin-bottom: 7%;">
            <a href='/gerenciamento/cenarios' class="relatorio titulo-relatorio"><i class='bi bi-display'></i>
              Análise
              de
              Cenários</a>
          </div>
          <div style="margin-bottom: 7%;">
            <a href='/usuario/editar/{{id}}' class="relatorio titulo-relatorio"><i class="bi bi-house-fill"></i>
              Minha
              Conta</a>
          </div>

          {{#if ehMaster}}
          <div style="margin-bottom: 7%;margin-top: 8%">
            <a href='/administrador/acesso' class="relatorio titulo-relatorio"><i class='bi bi-people'></i> Usuários</a>
          </div>
          {{/if}}
          {{#if owner}}
          <div style="margin-bottom: 7%;margin-top: 8%">
            <a href='/administrador' class="relatorio titulo-relatorio"> Novos</a>
          </div>
          {{/if}}
        </div>
      </ul>
    </div>
    <a href='/gerenciamento/proposta/' class='btn btn-sm btn-primary mb-1'>Nova Proposta</a>
    <a href='/cliente/novo/' class='btn btn-sm btn-primary mb-1'>Novo Ciente</a>
    <a class="btn btn-sm btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#atrasados"> Propostas Vencidas e
      a Vencer</a>
    <a href='/gerenciamento/emandamento/lista' class="btn btn-sm btn-primary mb-1"> Instalações em Andamento</a>
  </div>
  {{/if}}
  <div class='col-md-2 mt-3'>
    <div class="text-center">
      <div class="row">
        <label style="font-size: 21px;color:#6557fc{{#if block}}{{else}};margin-top: 10%{{/if}}"> Total de
          Projetos</label>
        <label class="mt-2" style="font-size: 50px;">{{numprj}}</label>
      </div>
      <div class="row mt-4">
        <a href='/gerenciamento/consulta/orcado' class='titulo'>Orçamentos Enviados</a>
        <div style="padding-left: 39%;">
          <div class='sessao-status mb-2'>
            <label class='mt-2' style="font-size: 20px;font-weight: bold;">{{qtdorcado}}</label>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <a href='/gerenciamento/consulta/aberto' class='titulo'>Em Aberto</a>
        <div style="padding-left: 39%;">
          <div class='sessao-status mb-2'>
            <label class='mt-2' style="font-size: 20px; font-weight: bold;">{{qtdaberto}}</label>
          </div>
        </div>

      </div>
      <div class="row mt-2">
        <a href='/gerenciamento/consulta/encerrado' class='titulo'>Encerrado</a>
        <div style="padding-left: 39%;">
          <div class='sessao-status mb-2'>
            <label class='mt-2' style="font-size: 20px;font-weight: bold;">{{qtdencerrado}}</label>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class='titulo' style='cursor: none;'>Baixado</div>
        <div style="padding-left: 39%;">
          <div class='sessao-status mb-2'>
            <label class='mt-2' style="font-size: 20px;font-weight: bold;">{{qtdbaixado}}</label>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <div class='{{#if block}}col-md-10{{else}}col-md-10{{/if}}'>
    <div class='row' style="height: 100%;">
      <div class='quadro-scroll' style="margin-left: 5px;height: 100%;">
        <div class="row">
          <div class="col">
            <div class="text-center mt-1 mb-3">
              <label style="font-size: 15px;font-weight: 600;">Orçamentos Enviados</label>
            </div>
            <table style="width: 100%;">
              <tr class='contorno-titulo' style='border-bottom: rgba(40,55,89,0.1) solid 1px;'>
                <th>Cliente</th>
                <th>Telefone</th>
                {{!-- <th>E-mail</th> --}}
                {{!-- <th>Estágio</th> --}}
                <th></th>
              </tr>
              {{#each listaOrcado}}
              <tr>
                <td>{{cliente}}</td>
                <td>{{telefone}}</td>
                {{!-- <td>{{email}}</td> --}}
                {{#if block}}
                {{else}}
                <td style="padding-top: 3px;">
                  <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>

                    <a href='/gerenciamento/proposta/{{id}}/' class='botao-tabela ativado-tabela'><i
                        class="bi bi-pen icone-tabela"></i></a>
                    <a href='/gerenciamento/ganho/{{id}}/' class='botao-tabela ativado-tabela'><i
                        class="bi bi-file-earmark-check icone-tabela"></i></a>

                  </div>
                </td>
                {{/if}}
              </tr>
              {{else}}
              {{/each}}
            </table>
          </div>
          <div class="col">
            <div class="text-center mt-1 mb-3">
              <label style="font-size: 15px;font-weight: 600;">Propostas Aceitas</label>
            </div>
            <table style="width: 100%;">
              <tr class='contorno-titulo' style='border-bottom: rgba(40,55,89,0.1) solid 1px;'>
                <th>Status</th>
                <th>Cliente</th>
                <th>Telefone</th>
                {{!-- <th>E-mail</th> --}}
                {{!-- <th>Estágio</th> --}}
                {{#if block}}
                {{else}}
                <th></th>
                {{/if}}
              </tr>
              {{#each listaAberto}}
              <tr>
                <td>{{status}}</td>
                <td>{{cliente}}</td>
                <td>{{telefone}}</td>
                {{!-- <td>{{email}}</td> --}}
                <td style="padding-top: 3px;">
                  <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                    {{#if block}}
                    {{else}}
                    <a href='/gerenciamento/proposta/{{id}}/' class='botao-tabela ativado-tabela'><i
                        class="bi bi-pen icone-tabela"></i></a>
                    {{/if}}
                  </div>
                </td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  var txt = ''
  var txtins = ''
  var cliav = document.getElementsByName('cliav[]')
  var valav = document.getElementsByName('valav[]')
  var idav = document.getElementsByName('idav[]')
  var idins = document.getElementsByName('idins[]')
  var cliins = document.getElementsByName('cliins[]')
  var cadins = document.getElementsByName('cadins[]')
  var dtiass = document.getElementsByName('dtiass[]')
  var dliins = document.getElementsByName('dliins[]')

  const wrapperini = document.createElement('div');
  var htmlpro = ''
  if (cliav.length > 0) {
    htmlpro = '<h5>Propostas a menos de 1 (um) dia de vencer </h5><br><table style="font-size:15px"><tr><th style="width: 10%;text-align:center">Cliente</th><th style="width: 10%;text-align:center">Data Validade</th><th style="width: 10%;text-align:center">Opções</th></tr><tr>'
  }
  var htmlfim = '</table>'
  for (var i = 0; i < cliav.length; i++) {
    txt = txt + '<tr><td>' + cliav[i].value + '</td><td>' + valav[i].value + '</td><td><a href="/gerenciamento/proposta/' + idav[i].value + '"><i style="color: rgb(44,55,89)" class="bi bi-pen icone-tabela"></i></a></td></tr>'
  }
  var htmlins = '<h5>Instalação</h5><br><table style="font-size:15px"><tr><th style="width: 20%;text-align:center">Cliente</th><th style="width: 10%;text-align:center">Assinatura</th><th style="width: 10%;text-align:center">Deadline</th><th style="width: 10%;text-align:center">Opções</th></tr><tr>'
  for (var x = 0; x < cliins.length; x++) {
    txtins = txtins + '<tr><td>' + cliins[x].value + '</td><td>' + dtiass[x].value + '</td><td>' + dliins[x].value + '</td><td><a href="/gerenciamento/proposta/' + idins[x].value + '"><i style="color: rgb(44,55,89)" class="bi bi-pen icone-tabela"></i></a></td></tr>'
  }

  if (cliav.length > 0) {
    wrapperini.innerHTML = htmlpro + txt + htmlfim + '<hr>' + htmlins + txtins + htmlfim
  } else {
    wrapperini.innerHTML = htmlins + txtins + htmlfim
  }

  if (cliav.length > 0 || cliins.length > 0) {
    Swal.fire({
      title: 'Controle de Projetos e Propostas',
      html: wrapperini,
      showCloseButton: true,
      showConfirmButton: false
    })
  }
</script>