<style type="text/css">
  table,
  tr,
  td,
  th {
    border-collapse: collapse;
    text-align: left;
    font-weight: 600;
  }

  th {
    padding: 5px;
  }
</style>

<div class='row mt-3' style="width: 100%;height: 100%;">

  <div class='col-md-2'>
    <div class="menu">
      <div class="menu-interno">
        <div class='fw-bold col-form-label col-form-label-sm' style="padding-right: 10px;"> Cadastros
        </div>
        <div class="mb-2" style="padding-left: 10px;padding-right: 10px;">
          <a href="/cliente/novo" class="contorno-menu"><i class='bi bi-person-plus'></i> Cliente</a><br>
          <a href="/cliente/consulta" class="botaomenu"> <i class='bi bi-search'></i> Buscar</a>
        </div>
        <div class="mb-2" style="padding-left: 10px;padding-right: 10px;">
          <a href="/projeto/novo" class="contorno-menu"><i class='bi bi-file-arrow-up'></i> Projetos</a><br>
          <a href="/projeto/consulta" class="botaomenu"> <i class='bi bi-search'></i> Buscar</a>
        </div>
        <div class="mb-2" style="padding-left: 10px;padding-right: 10px;">
          <a href='/pessoa/novo' class="contorno-menu"><i class='bi bi-person-plus'></i> Pessoas</a><br>
          <a href='/pessoa/consulta' class="botaomenu"><i class='bi bi-search'></i> Buscar</a>
        </div>
        <div class="" style="padding-left: 5px;padding-right: 5px;">
          <a href='/pessoa/consultaequipepadrao' class="contorno-menu"><i class='bi bi-people'></i> Equipes
            Padrão</a><br>
        </div>
      </div>
      <div class="menu-interno mt-1">
        <div class='fw-bold col-form-label col-form-label-sm' style="padding-right: 10px;"> Configurações
        </div>
        <div class="mb-2" style="padding-left: 10px;padding-right: 10px;">
          <a href='/configuracao/addregime' class="contorno-menu"><i class='bi bi-calculator'></i> Regime</a><br>
          <a href='/configuracao/consultaregime' class="botaomenu"><i class='bi bi-search'></i> Buscar</a>
        </div>
        <div class="" style="padding-left: 10px;padding-right: 10px;">
          <a href='/configuracao/novo' class="contorno-menu"><i class='bi bi-clock'></i> Tempo</a><br>
          <a href='/configuracao/consulta' class="botaomenu"><i class='bi bi-search'></i> Buscar</a>
        </div>
      </div>
      <div class="menu-interno mt-2" style="padding-right: 10px;">
        <div class='fw-bold col-form-label col-form-label-sm' style="padding-right: 10px;">
        </div>
        <div class=' mt-1 mb-2'>
          <a href='/relatorios/dashboardcustos' class="contorno-menu"><i class='bi bi-display'></i> Ver Custos</a>
        </div>
        <div class="dropend">
          <button class="relatorio titulo-relatorio" data-bs-toggle="dropdown" aria-expanded="false">Relatórios <i
              class="bi bi-caret-right"></i>
          </button>
          <ul class="dropdown-menu">
            <a href='/relatorios/listarealizados' class="botao-filter"><i class="bi bi-book"></i> Lista
              Realizados</a><br>
            <a href='/relatorios/listarabertos' class="botao-filter"><i class='bi bi-book'></i> Lista
              Abertos</a><br>
          </ul>
        </div>
      </div>
      {{#if ehMaster}}
      <div class="row mt-2" style="padding-right: 10px;">
        <div class="dropend">
          <button class="relatorio titulo-relatorio" data-bs-toggle="dropdown" aria-expanded="false">Admin <i
              class="bi bi-caret-right"></i></i>
          </button>
          <ul class="dropdown-menu">
            <a href='/administrador' class='botao-filter'><i class='bi bi-people-fill'></i> Controle Usuários </a>
          </ul>
        </div>
      </div>
      {{/if}}
      <div class="mt-1 mb-4" style="padding-right: 10px;">
        <a href='/usuario/editar/{{id}}' class="botao-filter"><i class="bi bi-house-fill"></i> Minha Conta</a>
      </div>
    </div>
  </div>

  <div class='col-md-3'>
    <div class="row quadro mb-2">
      <table>
        <tr>
          <th class='contorno-titulo'>Lucro Liquido Médio Realizado</th>
        </tr>
      </table>
      <div class="col-md-6">
        <label class='col-form-label col-form-label-sm'
          style="margin-left: 20px; text-align: center;font-weight: 500;">Total do Projeto</label>
        <div class='sessao' style="margin-left: 25px;">
          <div class='textoper'>{{perVlrMed}}%</div>
        </div>
      </div>
      <div class="col-md-6">
        <label class='col-form-label col-form-label-sm' style="width: 100%; text-align: center;font-weight: 500">Faturado</label>
        <div class='sessao'>
          <div class='textoper'>{{perNfsMed}}%</div>
        </div>
      </div>
    </div>
    <div class='row quadro'>
      <table>
        <tr class="">
          <th style="padding-left: 20%;">Classificação dos Projetos</th>
        </tr>
      </table>
      <div style="height: 290px;width: 100%;padding-bottom: 5%;">
        <input type='hidden' id='numprj' value='{{numprj}}'>
        <input type='hidden' id='numprjrlz' value='{{numprjrlz}}'>
        <input type='hidden' id='numprjnrl' value='{{numprjnrl}}'>
        <canvas id='chartPrj' class='mt-2 mb-1'></canvas>
      </div>
    </div>
  </div>

  <div class='col-md-7'>
    <div class="contorno-titulo" style="width: 100%; padding-bottom: 10px;">
      <table style="width: 100%;;">
        <tr>
          <th>
            <div style="text-align: center;font-size: 20px;">
              Total de Projetos
            </div>
          </th>
          <th colspan='2'>
            <div style="text-align: center;font-size: 20px;">
              Projetos Realizados
            </div>
          </th>
          <th colspan='2'>
            <div style="text-align: center;font-size: 20px;">
              Projetos Entregues
            </div>
          </th>
        </tr>
        <tr>
          <td>
            <div style="width: 150px;margin-left: 30px;" class='contorno-texto'>{{numprj}}</div>
          </td>
          <td>
            <div style="width: 100px;margin-left: 25px;" class='contorno-texto'> {{numprjrlz}} </div>
          </td>
          <td>
            <div style="width: 100px;" class='contorno-texto'> {{perRealizado}}% </div>
          </td>
          <td>
            <div style="width: 100px;margin-left: 25px" class='contorno-texto'>{{qtdEntregue}}</div>
          </td>
          <td>
            <div style="width: 100px" class='contorno-texto'>{{perEntregue}}%</div>
          </td>
        </tr>
      </table>
    </div>
    <div class='contorno-tabela' style="width: 100%;">
      <table style="width: 100%;margin-bottom: 5px;margin-top: 5px;" align="center">
        <tr>
          <td style="background-color:  rgba(255, 255, 0, 0.2);text-align: center;">
            <label class='col-form-label col-form-label-sm'
              style="border-bottom: rgb(0, 0, 0) 1px solid;">Aberto</label><br>
            <label class='col-form-label col-form-label-sm'> {{qtdAberto}}</label>
          </td>
          <td style="background-color:rgba(0, 255, 67,0.2);text-align: center;border-left: white 5px solid;">
            <label class='col-form-label col-form-label-sm' style="border-bottom: rgb(0, 0, 0) 1px solid;">Em
              execução</label><br>
            <label class='col-form-label col-form-label-sm'> {{qtdExecucao}}</label>
          </td>
          <td style="background-color:  rgba(255, 0, 0, 0.2);text-align: center;border-left: white 5px solid;">
            <label class='col-form-label col-form-label-sm'
              style="border-bottom: rgb(0, 0, 0) 1px solid;">Parado</label><br>
            <label class='col-form-label col-form-label-sm'> {{qtdParado}}</label>
          </td>
          <td style="background-color:  rgba(255, 136, 0, 0.2);text-align: center;border-left: white 5px solid;">
            <label class='col-form-label col-form-label-sm'
              style="border-bottom: rgb(0, 0, 0) 1px solid;">Homologação</label><br>
            <label class='col-form-label col-form-label-sm'> {{qtdHomologado}}</label>
          </td>
        </tr>
      </table>
    </div>

    <div class='quadro-scroll' style="margin-left: 5px;margin-bottom: 40px;">
      <table style="width: 100%">
        <tr class='contorno-titulo'>
          <th>Status</th>
          <th>Cliente</th>
          <th>Projetos Abertos</th>
          <th>Data Início</th>
          <th>Data Previsão</th>
          <th>Registros: {{totLista}}</th>
        </tr>
        {{#each dataord}}
        <tr>
          <td>
            {{#if executando}}
            <div id='execucao'></div>
            {{else}}
            {{#if parado}}
            <div id='parado'></div>
            {{else}}
            {{#if homologado}}
            <div id='homologado'></div>
            {{else}}
            <div id='aguardando'></div>
            {{/if}}
            {{/if}}
            {{/if}}
          </td>
          <td>{{nomecliente}}</td>
          <td>{{nome}}</td>
          <td>{{dataini}}</td>
          <td>{{dataprev}}</td>
          <!--<td>{{cliente}}</td>-->
          <td style="padding-top: 3px; padding-bottom: 3px;">
            <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
              <a href='/projeto/vermais/{{_id}}' class='botao-tabela ativado-tabela'><i
                  class="bi bi-eye icone-tabela"></i></a>
              <a href='/projeto/edicao/{{_id}}/' class='botao-tabela ativado-tabela'><i
                  class="bi bi-pen icone-tabela"></i></a>
              <a {{#if orcado}}class='botao-tabela desativado-tabela' {{else}}href='/projeto/realizar/{{_id}}'
                class='botao-tabela ativado-tabela' {{/if}}> <i class="bi bi-check2-circle icone-tabela"></i>
              </a>
              <a href='/projeto/confirmaexclusao/{{_id}}' class="botao-tabela ativado-tabela"><i
                  class="bi bi-trash icone-tabela"></i>
              </a>
            </div>
          </td>
        </tr>
        {{else}}
        {{/each}}
      </table>
    </div>
  </div>

  <script type='text/javascript'>
    var numprj = document.getElementById('numprj')
    var numprjrlz = document.getElementById('numprjrlz')
    var numprjnrl = document.getElementById('numprjnrl')
    var ctxPrj = document.getElementById('chartPrj').getContext('2d');
    var chartPrj = new Chart(ctxPrj, {
      type: 'doughnut',
      data: {
        labels: ['Realizados', 'Não Realizados'],
        datasets: [{
          data: [numprjrlz.value, numprjnrl.value],
          backgroundColor: [
            'rgba(37, 139, 33, 0.2)',
            'rgba(50, 140, 230, 0.2)',
          ],
          borderColor: [
            'rgba(37, 139, 33, 1)',
            'rgba(50, 140, 230, 1)',
          ],
          borderWidth: 1,
        }]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        scales: {
          y: [{
            scaleLabel: {
              display: false,
            },
            ticks: {
              min: 0,
            },
            grid:{
              drawBorder: false,
            },
          }],
        },
        legend: {
          display: true,
          position: 'top',
          align:'center',
        },
      }
    });
  </script>