<style type="text/css">
  th {
    border-collapse: collapse;
    font-size: 12px;
  }

  td {
    text-align: center;
  }
</style>

<div class='row mt-1' style="width: 100%;height: 100%;">
  <div class='col-md-2'>
    <div class="menu" style="height: 100%;">
      <img src='logovimmus.png' height="75" width="100" style="padding-left: 10%;" />
      <div class="menu-interno">
        <div class='fw-bold col-form-label col-form-label-sm fw-bold text-center'> CADASTROS</div>
        <div class="row mb-2">
          <div class="col-md-9 text-end">
            <a href="/cliente/novo" class="contorno-menu"><i class='bi bi-person-plus'></i> Cliente</a><br>
          </div>
          <div class="col-md-2">
            <a href="/cliente/consulta" class="botaomenu"> <i class='bi bi-search'></i> </a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-9 text-end">
            <a href="/projeto/novo" class="contorno-menu"><i class='bi bi-file-arrow-up'></i> Projetos</a><br>
          </div>
          <div class="col-md-2">
            <a href="/projeto/consulta" class="botaomenu"> <i class='bi bi-search'></i> </a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-9 text-end">
            <a href='/pessoa/novo' class="contorno-menu"><i class='bi bi-person-plus'></i> Pessoas</a>
          </div>
          <div class="col-md-2">
            <a href='/pessoa/consulta' class="botaomenu"><i class='bi bi-search'></i> </a>
          </div>
        </div>
        <!--
        <div class="row mb-2">
          <div class="col-md-9 text-end">
            <a href='/componente/cadastro' class="contorno-menu"><i class='bi bi-cart-plus'></i> Componentes</a>
          </div>
          <div class="col-md-2">
            <a href='/estoque/consulta' class="botaomenu"><i class='bi bi-search'></i></a>
          </div>
        </div>
        -->
        <div class="mt-1 text-start" style="padding-left: 25px;">
          <a href='/pessoa/consultaequipepadrao' class="contorno-menu"><i class='bi bi-people'></i> Equipes
            Padrão</a><br>
        </div>
        <div class='fw-bold col-form-label col-form-label-sm fw-bold mt-2 text-center' style="font-weight: bolder;">
          CONFIGURAÇÕES
        </div>
        <div class="row mb-2">
          <div class="col-md-8 text-end" style="padding-left: 30px;">
            <a href='/configuracao/addregime' class="contorno-menu"><i class='bi bi-calculator'></i> Regime </a><br>
          </div>
          <div class="col-md-4 text-start">
            <a href='/configuracao/consultaregime' class="botaomenu"><i class='bi bi-search'></i></a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-8 text-end" style="padding-left: 30px;">
            <a href='/configuracao/novo' class="contorno-menu"><i class='bi bi-clock'></i> Básicas</a><br>
          </div>
          <div class="col-md-4 text-start">
            <a href='/configuracao/consulta' class="botaomenu"><i class='bi bi-search'></i> </a>
          </div>
        </div>
      </div>
      <div class="menu-interno" style="padding-right: 10px;">
        <a href='/gerenciamento/agenda' class="relatorio titulo-relatorio"><i class='bi bi-columns'></i> Agenda</a><br>
        <div class="mt-2">
          <a href='/gerenciamento/cenarios' class="relatorio titulo-relatorio"><i class='bi bi-columns'></i> Análise de
            Cenários</a>
        </div>
        <div class="dropend mt-1">
          <button class="relatorio titulo-relatorio" data-bs-toggle="dropdown" aria-expanded="false"><i
              class='bi bi-clipboard-data'></i> Indicadores <i class="bi bi-caret-right"></i>
          </button>
          <ul class="dropdown-menu">
            <a href='/relatorios/dashboardcustos' class="botao-filter"> Custos</a><br>
            <a href='/relatorios/dashboardbi' class="botao-filter"> Estatísticas</a><br>
          </ul>
        </div>
        <div class="dropend mt-1">
          <button class="relatorio titulo-relatorio" data-bs-toggle="dropdown" aria-expanded="false"><i
              class="bi bi-book"></i> Relatórios <i class="bi bi-caret-right"></i>
          </button>
          <ul class="dropdown-menu">
            <a href='/relatorios/listarealizados' class="botao-filter"> Lista Realizados</a><br>
            <a href='/relatorios/listarabertos' class="botao-filter"> Lista Abertos</a><br>
          </ul>
        </div>
        <div class="mt-1">
          <a href='/usuario/editar/{{id}}' class="relatorio titulo-relatorio"><i class="bi bi-house-fill"></i> Minha
            Conta</a>
        </div>

        {{#if ehMaster}}
        <div class="row mt-1">
          <div class="dropend">
            <button class="relatorio titulo-relatorio" data-bs-toggle="dropdown" aria-expanded="false">Admin <i
                class="bi bi-caret-right"></i></i>
            </button>
            <ul class="dropdown-menu">
              <a href='/administrador' class='botao-filter'><i class='bi bi-people-fill'></i> Controle Usuários </a>
            </ul>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class='col-md-3 mt-3'>
    <div class='row card mt-2'>
      <div class="contorno-titulo text-center mt-4 mb-2" style="width: 100%;">
        <div style="font-size: 21px;">
          Total de Projetos
        </div>
        <div class="row text-center">
          <div style="width: 150px;margin-left: 25%;font-size: 50px;">{{numprj}}</div>
        </div>
        <div class="row">
          <div class="col mt-2">
            <label class='col-form-label'> Realizados</label>
          </div>
          <div class="col">
            <div style='width: 100%;' class='contorno-texto'> {{numprjrlz}} </div>
          </div>
          <div class="col">
            <div style='width: 100%;' class='contorno-texto'> {{perRealizado}}% </div>
          </div>
        </div>
        <div class="row">
          <div class="col mt-2">
            <label class='col-form-label'>Entregues</label>
          </div>
          <div class="col">
            <div style='width: 100%;' class='contorno-texto'> {{qtdEntregue}} </div>
          </div>
          <div class="col">
            <div style='width: 100%;' class='contorno-texto'> {{perEntregue}}% </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mb-2 card" style="padding: 20px">
      <div class='contorno-titulo' style="font-size: 21px;">Margem de Lucro Liquido Médio Faturado</th>
        <div class="sessao mt-2" style="margin-left: 28%;">
          <div class='textmll'>{{perNfsMed}}%</div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-7'>
    <div style="width: 100%;">
      <table class='mt-1 mb-1 'style="width: 100%;">
        <tr>
          <td style="background-color: rgba(255, 255, 0, 0.2);text-align: center;">
            <label style="font-size: 20px;font-weight: bold;">Aberto</label>
            <div class='sessao-status-aberto mb-2' style="margin-left: 30%;">
              <label style="font-size: 20px;font-weight: bold;">{{qtdAberto}}</label>
            </div>
          </td>
          <td style="background-color:rgba(0, 255, 67,0.2);text-align: center;border-left: white 5px solid;">
            <label style="font-size: 20px;font-weight: bold;">Em execução</label>
            <div class='sessao-status-execucao mb-2' style="margin-left: 40%;">
              <label style="font-size: 20px;font-weight: bold;">{{qtdExecucao}}</label>
            </div>
          </td>
          <td style="background-color:  rgba(245, 22, 22, 0.2);text-align: center;border-left: white 5px solid;">
            <label style="font-size: 20px;font-weight: bold;">Parado</label>
            <div class='sessao-status-parado mb-2' style="margin-left: 32%;">
              <label style="font-size: 20px;font-weight: bold;">{{qtdParado}}</label>
            </div>
          </td>
          <td style="background-color:  rgba(255, 136, 0, 0.2);text-align: center;border-left: white 5px solid;">
            <label style="font-size: 20px;font-weight: bold;">Homologação</label>
            <div class='sessao-status-homo mb-2' style="margin-left: 40%;">
              <label style="font-size: 20px;font-weight: bold;">{{qtdHomologado}}</label>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class='quadro-scroll' style="margin-left: 5px;height: 72%;">
      <table style="width: 100%">
        <tr class='contorno-titulo' style='border-bottom: rgba(40,55,89,0.1) solid 1px;'>
          <th>Status</th>
          <th>Cliente</th>
          <th>Data Instalação</th>
          <th>Previsão Entrega</th>
          <th>Data Final</th>
          <th>Markup</th>
          <th>R$/kWp</th>
          <th>Registros: {{totLista}}</th>
        </tr>
        {{#each dataord}}
        <tr>
          <td>
            {{#if atrasado}}
            <div id='atrasado'><i class='bi bi-exclamation-triangle' style="font-size: 12px;"></i>
            </div>
            {{else}}
            {{#if executando}}
            <div id='execucao'></div>
            {{else}}
            {{#if parado}}
            <div id='parado'></div>
            {{else}}
            {{#if homologado}}
            <div id='homologado'></div>
            {{else}}
            <div id='aguardando'></div>
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
          </td>
          <td>{{nomecliente}}</td>
          <td>{{dataIns}}</td>
          <td>{{dataprev}}</td>
          <td>{{datafim}}</td>
          <td>{{markup}}%</td>
          <td>{{vrskwp}}</td>
          <!--<td>{{cliente}}</td>-->
          <td style="padding-top: 3px;">
            <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
              <a href='/gerenciamento/cronograma/{{_id}}' class='botao-tabela ativado-tabela'><i
                  class='bi bi-calendar-range icone-tabela'></i></a>
              <a href='/projeto/vermais/{{_id}}' class='botao-tabela ativado-tabela'><i
                  class="bi bi-eye icone-tabela"></i></a>
              <a href='/projeto/edicao/{{_id}}/' class='botao-tabela ativado-tabela'><i
                  class="bi bi-pen icone-tabela"></i></a>
              <a {{#if orcado}}class='botao-tabela desativado-tabela' {{else}}href='/projeto/realizar/{{_id}}'
                class='botao-tabela ativado-tabela' {{/if}}> <i class="bi bi-check2-circle icone-tabela"></i>
              </a>
              <a href='/projeto/confirmaexclusao/{{_id}}' class="botao-tabela ativado-tabela"><i
                  class="bi bi-trash icone-tabela"></i>
              </a>
            </div>
          </td>
        </tr>
        {{else}}
        {{/each}}
      </table>
    </div>
  </div>
</div>