<style>
    button {
        line-height: 0px;
    }
    #header {
        width: 100%;
        border-bottom: rgb(40, 55, 86) 0, 1px solid;
        color: rgb(40, 55, 86);
    }

    .filtro-selecao {
        width: fit-content;
        height: fit-content;
        background: white;
        border: solid 1px;
        border-radius: 10px;
        margin-left: 5px;
    }
    table {
        font-size: 13px;
    }
</style>
<script>
    //Slecionar estados e cidades
    window.onload = function () {
        var estados = document.getElementById('estado');
        var cidades = document.getElementById('cidade');
        new dgCidadesEstados({
            estado: estados,
            cidade: cidades,
            estadoVal: '<%=Request("estado") %>',
            cidadeVal: '<%=Request("cidade") %>'
        });
    };
</script>
<div class="row" style="width: 100%;padding-left: 2%;">
    <div id='header'>
        <div class="row mt-4">
            <form action='/cliente/filtrar' method='post'>
                <div class="col-md-4">
                    <h5 class='titulo-inicio mt-2'>Clientes</h5>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-2 text-start" style="padding-left: 3%;">
                        <label class='col-form-label col-form-label-sm fw-bold'>Nome</label>
                        <div class="col">
                            <input name='nome' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-3 text-start">
                        <label class='col-form-label col-form-label-sm fw-bold'>UF</label>
                        <div class="col">
                            <select id="estado" name='uf' class='form-select form-select-sm mb-1'>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 text-start">
                        <label class='col-form-label col-form-label-sm fw-bold'>Cidade</label>
                        <div class="col">
                            <select id="cidade" name='cidade' class='form-select form-select-sm mb-1'>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 text-end mt-4">
                        <button style="margin-top: 0px;" type='submit' class='botaofiltrar'><i class='bi bi-search iconefiltrar'></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mb-2 mt-2">
            <div class='filtro-selecao' style="margin-left: 3%;">Nome: {{nome}}</div>
            <div class='filtro-selecao'>UF: {{uf}}</div>
            <div class='filtro-selecao'>Cidade: {{cidade}}</div>
        </div>
    </div>

    <div style="margin-bottom: 30px; width: 100%;margin-top: 1%;padding-left: 4%;">
        <div class="card" style="width: 90%;padding: 10px;">
        <table>
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>E-mail</th>
                <th>Celular</th>
            </tr>
            {{#each clientes}}
            <tr>
                <td>{{nome}}</td>
                <td>{{cidade}}</td>
                <td>{{uf}}</td>
                <td>{{email}}</td>
                <td>{{celular}}</td>
                <td>
                    <div class='btn-group col-12 gap-2' role='group'>
                        <a href='/cliente/edicao/{{_id}}' class='botao-tabela ativado'><i class="bi bi-pen icone"></i></a>
                        <a href='/cliente/confirmaexclusao/{{_id}}' class='botao-tabela ativado'> <i class='bi bi-trash icone'></i> </a>
                        </a>
                    </div>
                </td>
            </tr>
            {{else}}
            <h6>Nenhuma pessoa cadastrada</h6>
            {{/each}}
        </table>
        </div>
    </div>
</div>