<style>
    button {
        line-height: 0px;
    }
    #header {
        width: 100%;
        border-bottom: rgb(40, 55, 86) 0, 1px solid;
        color: rgb(40, 55, 86);
    }

    .filtro-selecao {
        width: fit-content;
        height: fit-content;
        background: white;
        border: solid 1px;
        border-radius: 10px;
        margin-left: 5px;
    }
</style>
<script>
    //Slecionar estados e cidades
    window.onload = function () {
        var estados = document.getElementById('estado');
        var cidades = document.getElementById('cidade');
        new dgCidadesEstados({
            estado: estados,
            cidade: cidades,
            estadoVal: '<%=Request("estado") %>',
            cidadeVal: '<%=Request("cidade") %>'
        });
    };
</script>
<div class="row" style="width: 100%;padding-left: 2%;">
    <div id='header'>
        <div class="row mt-4">
            <form action='/cliente/filtrar' method='post'>
                <div class="col-md-4">
                    <h5 class='titulo-inicio mt-2'>Clientes</h5>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-2 text-start" style="padding-left: 3%;">
                        <label class='col-form-label col-form-label-sm fw-bold'>Nome</label>
                        <div class="col">
                            <input name='nome' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-3 text-start">
                        <label class='col-form-label col-form-label-sm fw-bold'>UF</label>
                        <div class="col">
                            <select id="estado" name='uf' class='form-select form-select-sm mb-1'>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 text-start">
                        <label class='col-form-label col-form-label-sm fw-bold'>Cidade</label>
                        <div class="col">
                            <select id="cidade" name='cidade' class='form-select form-select-sm mb-1'>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 text-end mt-4">
                        <button style="margin-top: 0px;" type='submit' class='botaofiltrar'><i class='bi bi-search iconefiltrar'></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mb-2 mt-2">
            <div class='filtro-selecao' style="margin-left: 3%;">Nome: {{nome}}</div>
            <div class='filtro-selecao'>UF: {{uf}}</div>
            <div class='filtro-selecao'>Cidade: {{cidade}}</div>
        </div>
    </div>


    {{#each clientes}}
    <div class="card mb-2 mt-2; margin-bottom:30px" style="width: 80%;margin-left: 3%;">
        <div style="padding: 5px;">
            <input type='hidden' name='id' value='{{_id}}'>
            <div class="row" style="padding-left: 10px;">
                <div class="col-md-5">
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-4 col-form-label col-form-label-sm'> Nome:
                        </label>
                        <label class='col-sm-8 col-form-label col-form-label-sm' for='nome'> {{nome}} </label>
                    </div>
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-4 col-form-label col-form-label-sm'> Cidade/UF: </label>
                        <label class='col-sm-8 col-form-label col-form-label-sm' for='nome'> {{cidade}} / {{uf}}
                        </label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-3 col-form-label col-form-label-sm'> E-mail:
                        </label>
                        <label class='col-sm-9 col-form-label col-form-label-sm' for='nome'> {{email}} </label>
                    </div>
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-3 col-form-label col-form-label-sm'> Celular:
                        </label>
                        <label class='col-sm-9 col-form-label col-form-label-sm' for='nome'> {{celular}}
                        </label>
                    </div>
                </div>
                <div class="col-md-2 mt-2">
                    <div class='btn-group btn-group-sm gap-2' role='group'>
                        <a href='/cliente/edicao/{{_id}}' class='botao-tabela ativado'> <i class='bi bi-pen icone'></i>
                        </a>
                        <a href='/cliente/confirmaexclusao/{{_id}}' class="botao-tabela ativado"> <i
                                class='bi bi-trash icone'></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h6>Nenhuma pessoa cadastrada</h6>
    {{/each}}
</div>