<style>
    #header {
        width: 100%;
        border-bottom: rgb(40, 55, 86) 0,1px solid;
        color: rgb(40, 55, 86);
    }

    .filtro-selecao {
        width: fit-content;
        height: fit-content;
        background: white;
        border: solid 1px;
        border-radius: 10px;
        margin-left: 5px;
    }
</style>
<div class="container-sm mt-2">
    <div id='header'>
        <div class="row">
            <form action='/cliente/filtrar' method='post'>
                <div class="col-md-4">
                    <h5 class='mt-2' style="margin-left: 20px;">Pessoas </h5>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <label class='col-form-label col-form-label-sm fw-bold' style="padding-left: 15px;" >Nome</label>
                        <div class="col">
                            <input name='nome' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <label class='col-form-label col-form-label-sm fw-bold' style="padding-left: 15px;" >UF</label>
                        <div class="col">
                            <input name='uf' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <label class='col-form-label col-form-label-sm fw-bold' style="padding-left: 15px;">Cidade</label>
                        <div class="col">
                            <input name='cidade' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col mt-4">
                        <button type='submit' class='botaofiltrar'><i class='bi bi-search icone'></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mb-2">
            <div class='filtro-selecao' style="margin-left: 30px;">Nome: {{nome}}</div>
            <div class='filtro-selecao'>UF: {{uf}}</div>
            <div class='filtro-selecao'>Cidade: {{cidade}}</div>
        </div>
    </div>


    {{#each clientes}}
    <div class="card mb-2 mt-2; margin-bottom:30px">
        <div style="padding: 5px;">
            <input type='hidden' name='id' value='{{_id}}'>
            <div class="row" style="padding-left: 10px;"> 
                <div class="col-md-4">
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-4 col-form-label col-form-label-sm'> Nome:
                        </label>
                        <label class='col-sm-8 col-form-label col-form-label-sm' for='nome'> {{nome}} </label>
                    </div>
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-4 col-form-label col-form-label-sm'> Cidade/UF: </label>
                        <label class='col-sm-8 col-form-label col-form-label-sm' for='nome'> {{cidade}} / {{uf}}
                        </label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-2 col-form-label col-form-label-sm'> E-mail:
                        </label>
                        <label class='col-sm-10 col-form-label col-form-label-sm' for='nome'> {{email}} </label>
                    </div>
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-2 col-form-label col-form-label-sm'> Celular:
                        </label>
                        <label class='col-sm-10 col-form-label col-form-label-sm' for='nome'> {{celular}}
                        </label>
                    </div>
                </div>
                <div class="col-md-2 mt-2">
                    <div class='btn-group btn-group-sm gap-2' role='group'>
                        <a href='/cliente/edicao/{{_id}}' class='botao ativado'> <i class='bi bi-pen icone'></i> </a>
                        <a href='/cliente/confirmaexclusao/{{_id}}' class="botao ativado"> <i
                                class='bi bi-trash icone'></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h6>Nenhuma pessoa cadastrada</h6>
    {{/each}}
</div>