<style>
    table {
        border: gray 1px solid;
        margin-left: 20px;
        width: 100%;
    }

    th {
        border: gray 1px solid;
        font-weight: bold;
        font-size: 17px;
    }

    td {
        border: gray 1px solid;
        font-weight: bold;
    }

    a {
        font-size: 10px;
    }
</style>
<script>
    function dia(d) {
        var dia = document.getElementById('dia')
        dia.value = d
    }
    function selecionar() {
        var selectInst = document.getElementById('selectInst')
        var selectTesk = document.getElementById('selectTesk')
        var selecionado = document.getElementById('selecionado')
        var cliente = document.getElementById('cliente')
        var dia = document.getElementById('dia1')
        if (selectInst.checked) {
            selecionado.value = 'instalacao'
        } else {
            selecionado.value = 'tarefa'
        }
        if (selectTesk.checked) {
            cliente.style.display = ''
            dia1.style.display = ''
            dia2.style.display = ''
            dia3.style.display = ''
            dia4.style.display = ''
            dia5.style.display = ''
            dia6.style.display = ''
            dia7.style.display = ''
            dia8.style.display = ''
            dia9.style.display = ''
            dia10.style.display = ''
            dia11.style.display = ''
            dia12.style.display = ''
            dia13.style.display = ''
            dia14.style.display = ''
            dia15.style.display = ''
            dia16.style.display = ''
            dia17.style.display = ''
            dia18.style.display = ''
            dia19.style.display = ''
            dia20.style.display = ''
            dia21.style.display = ''
            dia22.style.display = ''
            dia23.style.display = ''
            dia24.style.display = ''
            dia25.style.display = ''
            dia26.style.display = ''
            dia27.style.display = ''
            dia28.style.display = ''
            dia29.style.display = ''
            dia30.style.display = ''
            dia31.style.display = ''
        } else {
            cliente.style.display = 'none'
            dia1.style.display = 'none'
            dia1.style.display = 'none'
            dia2.style.display = 'none'
            dia3.style.display = 'none'
            dia4.style.display = 'none'
            dia5.style.display = 'none'
            dia6.style.display = 'none'
            dia7.style.display = 'none'
            dia8.style.display = 'none'
            dia9.style.display = 'none'
            dia10.style.display = 'none'
            dia11.style.display = 'none'
            dia12.style.display = 'none'
            dia13.style.display = 'none'
            dia14.style.display = 'none'
            dia15.style.display = 'none'
            dia16.style.display = 'none'
            dia17.style.display = 'none'
            dia18.style.display = 'none'
            dia19.style.display = 'none'
            dia20.style.display = 'none'
            dia21.style.display = 'none'
            dia22.style.display = 'none'
            dia23.style.display = 'none'
            dia24.style.display = 'none'
            dia25.style.display = 'none'
            dia26.style.display = 'none'
            dia27.style.display = 'none'
            dia28.style.display = 'none'
            dia29.style.display = 'none'
            dia30.style.display = 'none'
            dia31.style.display = 'none'
        }
    }
</script>
<div class='row' style="padding: 10px;width: 100%;">
    <form action="/gerenciamento/aplicaAgenda/" method="post">
        <input type='hidden' name='selecionado' id='selecionado' value='instalacao'>
        <div class='row mb-2'>
            <div class="col mt-1">
                <label style="font-size: 16px;font-weight: bold;"> Agenda: {{#if mes}}{{mestitulo}} de {{ano}}{{/if}}</label>
            </div>
            <div class="col-md-1">
                <div class="form-check" onchange="selecionar()">
                    <input class="form-check-input" type="radio" name="select" id="selectInst" {{checkInst}}>
                    <label class="form-check-label" style="font-size: 13px;margin-top: 5px;">
                        Instalação
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-check" onchange="selecionar()">
                    <input class="form-check-input" type="radio" name="select" id="selectTesk" {{checkTesk}}>
                    <label class="form-check-label" style="font-size: 13px;margin-top: 5px;">
                        Tarefas
                    </label>
                </div>
            </div>
            <div class="col text-end">
                <label class='col-form-label fw-bold col-form-label-sm'>Selecione o mês e digite o ano:<label>
            </div>
            <div class="col">
                <select class='form-select form-select-sm' name='messel'>
                    <option {{janeiro}}>Janeiro</option>
                    <option {{fevereiro}}>Fevereiro</option>
                    <option {{marco}}>Março</option>
                    <option {{abril}}>Abril</option>
                    <option {{maio}}>Maio</option>
                    <option {{junho}}>Junho </option>
                    <option {{julho}}>Julho</option>
                    <option {{agosto}}>Agosto</option>
                    <option {{setembro}}>Setembro</option>
                    <option {{outubro}}>Outubro</option>
                    <option {{novembro}}>Novembro</option>
                    <option {{dezembro}}>Dezembro</option>
                    <option>Todos</option>
                </select>
            </div>
            <div class="col-md-1">
                <input class='form-control form-control-sm' type='number' name='mesano' placeholder="Ano"
                    value='{{ano}}'>
            </div>
            <div class="col">
                <button type='submit' class='btn btn-primary btn-sm'>Aplicar</button>
            </div>
        </div>
    </form>
    <form action='/gerenciamento/addmanutencao' method="post">
        <div class="card mb-2" id='cliente' style="display: none ;margin-left: 30px;">
            <div class="row mb-2 text-center"
                style="width: 100%; padding-left: 100px;padding-right: 100px;padding-top: 20px;">
                <div class="col-md-5 mt-1 text-end">
                    <h2 style="font-weight: 600;margin-bottom: 20px;">Selecione o cliente para gerar a manutenção:</h2>
                </div>
                <div class="col-md-5">
                    <select class='form-select form-select-sm' name="cliente" id="cliente">
                        {{#each cliente}}
                        <option value="{{_id}}">{{nome}}</option>
                        {{else}}
                        <option value="">Não existem clientes cadastradas</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <input type="hidden" name='dia' id='dia' value="">
        <input type="hidden" name='messel' value="{{mes}}">
        <input type="hidden" name='ano' value="{{ano}}">
        <table>
            <tr>
                <th style="text-align: right;width: 2%;">S|D</th>
                <th style="width: 14%;">1</th>
                <th style="width: 14%;">2</th>
                <th style="width: 14%;">3</th>
                <th style="width: 14%;">4</th>
                <th style="width: 14%;">5</th>
                <th style="width: 14%;">6</th>
                <th style="width: 14%;">7</th>
            </tr>
            <tr>
                <td style="text-align: right;font-size: 17px">1</td>
                <td>
                    <label style="font-size: 10px">1</label>
                    <button id='dia1' style='display: none' class='btn btn-sm' style="font-size: 15px;" type='submit'><i
                            class='bi bi-calendar2-plus' style="cursor: pointer" onclick='dia(01)'></button></i><br>
                    {{#each tarefas01}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">2</label>
                    <button id='dia2' style='display: none' class='btn btn-sm' style="font-size: 15px;" type='submit'><i class='bi bi-calendar2-plus'
                            style="cursor: pointer;" onclick='dia(02)'></button></i><br>
                    {{#each tarefas02}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">3</label><button id='dia3' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(03)'></i></button></i><br>
                    {{#each tarefas03}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">4</label><button id='dia4' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(04)'></i></button></i><br>
                    {{#each tarefas04}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">5</label><button id='dia5' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(05)'></i></button></i><br>
                    {{#each tarefas05}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">6</label><button id='dia6' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(06)'></i></button></i><br>
                    {{#each tarefas06}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">7</label><button id='dia7' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(07)'></i></button></i><br>
                    {{#each tarefas07}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
            <tr>
                <td style="text-align: right;font-size: 17px">2</td>
                <td>
                    <label style="font-size: 10px">8</label><button id='dia8' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(08)'></i></button></i><br>
                    {{#each tarefas08}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">9</label><button id='dia9' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(09)'></i></button></i><br>
                    {{#each tarefas09}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">10</label><button id='dia10' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(10)'></i></button></i><br>
                    {{#each tarefas10}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">11</label><button id='dia11' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(11)'></i></button></i><br>
                    {{#each tarefas11}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">12</label><button id='dia12' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(12)'></i></button></i><br>
                    {{#each tarefas12}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">13</label><button id='dia13' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(13)'></i></button></i><br>
                    {{#each tarefas13}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">14</label><button id='dia14' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(14)'></i></button></i><br>
                    {{#each tarefas14}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
            </tr>
            <tr>
                <td style="text-align: right;font-size: 17px">3</td>
                <td>
                    <label style="font-size: 10px">15</label><button id='dia15' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(15)'></i></button></i><br>
                    {{#each tarefas15}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">16</label><button id='dia16' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(16)'></i></button></i><br>
                    {{#each tarefas16}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">17</label><button id='dia17' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(17)'></i></button></i><br>
                    {{#each tarefas17}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">18</label><button id='dia18' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(18)'></i></button></i><br>
                    {{#each tarefas18}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">19</label><button id='dia19' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(19)'></i></button></i><br>
                    {{#each tarefas19}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">20</label><button id='dia20' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(20)'></i></button></i><br>
                    {{#each tarefas20}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">21</label><button id='dia21' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(21)'></i></button></i><br>
                    {{#each tarefas21}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
            </tr>
            <tr>
                <td style="text-align: right;font-size: 17px">4</td>
                <td>
                    <label style="font-size: 10px">22</label><button id='dia22' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(22)'></i></button></i><br>
                    {{#each tarefas22}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">23</label><button id='dia23' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(23)'></i></button></i><br>
                    {{#each tarefas23}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">24</label><button id='dia24' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(24)'></i></button></i><br>
                    {{#each tarefas24}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">25</label><button id='dia25' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(25)'></i></button></i><br>
                    {{#each tarefas25}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">26</label><button id='dia26' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(26)'></i></button></i><br>
                    {{#each tarefas26}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">27</label><button id='dia27' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(27)'></i></button></i><br>
                    {{#each tarefas27}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">28</label><button id='dia28' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(28)'></i></button></i><br>
                    {{#each tarefas28}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
            </tr>
            <tr>
                <td style="text-align: right;font-size: 17px">5</td>
                <td>
                    <label style="font-size: 10px">29</label><button id='dia29' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(29)'></i></button></i><br>
                    {{#each tarefas29}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">30</label><button id='dia30' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(30)'></i></button></i><br>
                    {{#each tarefas30}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td>
                    <label style="font-size: 10px">31</label><button id='dia31' style='display: none' class='btn btn-sm' style="font-size: 15px;"
                        type='submit'><i class='bi bi-calendar2-plus' style="cursor: pointer;"
                            onclick='dia(31)'></i></button></i><br>
                    {{#each tarefas31}}
                    <a {{#if ehManutencao}}href='/gerenciamento/tarefas/{{id}}'
                        {{else}}href='/gerenciamento/cronograma/{{id}}' {{/if}}><i class='bi bi-check'></i> {{projeto}}
                        ({{tarefa}})</a><br>
                    {{/each}}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>