<style>
    th {
        font-weight: 400;
        font-size: 15px;
        width: 20%;
    }

    td {
        font-weight: 400;
        font-size: 15px;
    }
</style>
<div class='row' style="padding: 30px;width: 100%;">
    <form action="/gerenciamento/salvarAtividade/" method="post">
        <ul class="nav nav-tabs mb-2">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" style="color: black;" href='/gerenciamento/agenda'><label
                        class="col-form-label titulo-inicio">Agenda</label></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" style="color: black;"
                    href="/gerenciamento/atividades/"><label class="col-form-label titulo-inicio">Atividades</label></a>
            </li>
        </ul>

        <div style="border: #847AF4 4px solid;border-radius: 20px;padding: 30px;">
            <label class='col-form-label fw-bold'>Atividades Cadastradas</label>
            <table>
                <tr>
                    <th>Descrição</th>
                    <th>Classe</th>
                </tr>
                {{#each atividades}}
                <tr style="line-height: 20px;">
                    <td><a href='/gerenciamento/editarAtividade/{{_id}}'>{{descricao}}</a></td>
                    <td><a href='/gerenciamento/editarAtividade/{{_id}}'>{{classe}}</a></td>
                </tr>
                {{/each}}
            </table>
        </div>
        <br><br>
        <div class='row text-center'>
            <label class='col-form-label fw-bold'>Novas Atividades</label>
            <div class='col-md-4 text-end'>
                <label class='col-form-label mb-2'>Descrição:</label><br>
                <label class='col-form-label'>Classe:</label><br>
            </div>
            <div class='col-md-4 text-start'>
                <input type='hidden' name='id' value='{{atividade._id}}'>
                <input type='type' class='form-control mb-2' name='descricao' value="{{atividade.descricao}}">
                <select class='form-select' name='classe'>
                    <option>{{atividade.classe}}</option>
                    <option>Estrutura</option>
                    <option>Módulos</option>
                    <option>String Box</option>
                    <option>Inversor</option>
                    <option>Aterramento</option>
                </select>
            </div>
            <button type='submit' class='btn btn-sm btn-success mt-3' style="max-width: 60px;max-height: 60px;border-radius: 60px;">Salvar</button>
        </div>
    </form>
</div>