<div class="row mt-1" style="width: 95%; margin-left: 30px;">
    <div class="col-md-2">
        <div class="row mt-2">
            <div class="btn-group col-12 gap-2">
                {{#if projeto.foiRealizado}}
                {{else}}
                <a href='/projeto/edicao/{{projeto._id}}' class='btn btn-primary btn-sm'> Editar </a>
                {{/if}}
                <a href='/projeto/vermais/{{projeto._id}}' class='btn btn-primary btn-sm'> Ver Mais </a>
            </div>
        </div>
        <div class="row text-center" style="padding:5px; border-radius: 5px;">
            <div class="card text-white mb-2"
                style="padding:10px; border-radius: 80px;background-color: rgb(71, 114, 207);">
                <h5 class='fw-bold mt-2'>Lucro Líquido</h5>
                <h4 class='text-center mt-2'>R$ {{projeto.lucroLiquido}}</h4>
            </div>

            <a href='/gerenciamento/dashboard/{{projeto._id}}' style='text-decoration: none;'>
                <div class="row text-center">
                    <div class="card text-white mb-2"
                        style="border-radius: 80px;background-color: rgba(71, 135, 207, 1);">
                        <div class="fw-bold text-center">Valor Total <br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.valor}}</label>
                        </div>
                        <h2 class="text-center card-title">{{projeto.parLiqVlr}} %</h2>
                    </div>
                </div>
            </a>
            <a href='/gerenciamento/dashboardliquido/{{projeto._id}}' style='text-decoration: none;'>
                <div class="row text-center mb-2">
                    <div class="card text-white" style="border-radius: 80px;background-color: rgba(41, 8, 159);">
                        <div class="fw-bold">Valor Faturado <br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.vlrNFS}}</label>
                        </div>
                        <h2 class="text-center card-title">{{projeto.parLiqNfs}} %</h2>
                    </div>
                </div>
            </a>
            {{#if projeto.reserva}}
            <div class="">
                <div class="card text-white mb-1" style="background-color: rgb(32, 255, 62);">
                    <div class="fw-bold">Reserva</div>
                    <h4>R$ {{projeto.reserva}}</h4>
                </div>
            </div>
            {{/if}}
            {{#if projeto.desAdm}}
            <div class="">
                <div class="card text-white mb-1" style="background-color: rgba(194, 189, 188, 1)">
                    <div class="fw-bold">Despesas Administrativas</div>
                    <h4>R$ {{projeto.desAdm}}</h4>
                </div>
            </div>
            {{/if}}
        </div>

        <div class='row mt-1'>
            <div style="height: 60px; border-radius: 5px; border:rgba(220,220,220,1) solid 1px;">
                <div class="row">
                    <div class="col-md-6 text-end">
                        <label class='fw-bold col-form-label col-form-label-sm'>Preço/kWp: </label><br>
                        <label class='fw-bold col-form-label col-form-label-sm'>kWp: </label>
                    </div>
                    <div class="col-md-5">
                        <label class='col-form-label col-form-label-sm'>R$ {{projeto.vrskwp}}</label><br>
                        <label class='col-form-label col-form-label-sm'>{{projeto.potencia}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <h5 class='fw-bold mt-1'>Participação sobre o Total Faturado</h5>
        <div style="height: 500px;">
            <canvas id='chartLL' class='mb-4' style="width: 100px; height: 100px;"></canvas>
        </div>
        <input id='parLiqNfs' name='parLiqNfs' type="hidden" value={{projeto.parLiqNfs}}>
        <input id='parKitNfs' name='parKitNfs' type="hidden" value={{projeto.parKitNfs}}>
        <input id='parDedNfs' name='parDedNfs' type="hidden" value={{projeto.parDedNfs}}>
        <input id='parImpNfs' name='parImpNfs' type="hidden" value={{projeto.parImpNfs}}>
        <input id='parISSNfs' name='parISSNfs' type="hidden" value={{projeto.parISSNfs}}>
        <input id='parComNfs' name='parComNfs' type="hidden" value={{projeto.parComNfs}}>

        <div class="row text-center mt-2" style="height: 310px;">
            <div class="col-md-6">
                <div class='card text-white mb-3' style=" background-color: rgba(190, 190, 190, 1); max-width: 22rem;">
                    <div class="fw-bold card-header">Deduções</div>
                    <h4>R$ {{projeto.totcop}}</h4>
                </div>
                <div class="card text-white" style="max-width: 22rem; background-color: rgba(255, 49, 53, 1);">
                    <div class="fw-bold card-header">Impostos</div>
                    <h4>R$ {{projeto.totalImposto}}</h4>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white mb-3" style="background-color:rgba(255, 161, 8, 1); max-width: 22rem;">
                    <div class="fw-bold card-header">Comissão</div>
                    <h4>R$ {{projeto.vlrcom}}</h4>
                </div>
                <div class="card text-white" style="max-width: 22rem; background-color: rgba(255, 49, 53, 1);">
                    <div class="fw-bold card-header">ISS</div>
                    <h4>R$ {{projeto.impNFS}}</h4>
                </div>
            </div>
            {{#if projeto.fatequ}}
            <div class="col-6 mx-auto">
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(249, 240, 71, 1);">
                    <div class="fw-bold card-header">Equipamento</div>
                    <h4>R$ {{projeto.vlrkit}}</h4>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="col-md-5">
        <h5 class='fw-bold mt-2'>Participação das Deduções sobre o Total Faturado</h5>
        <div style="height: 500px;">
            <canvas id='chartDes' style="width: 200px; height: 200px;"></canvas>
        </div>
        <input type='hidden' id='parIntNfs' value='{{projeto.parIntNfs}}'>
        <input type='hidden' id='parGesNfs' value='{{projeto.parGesNfs}}'>
        <input type='hidden' id='parProNfs' value='{{projeto.parProNfs}}'>
        <input type='hidden' id='parArtNfs' value='{{projeto.parArtNfs}}'>
        <input type='hidden' id='parDesNfs' value='{{projeto.parDesNfs}}'>
        <input type='hidden' id='parCmbNfs' value='{{projeto.parCmbNfs}}'>
        <input type='hidden' id='parEstNfs' value='{{projeto.parEstNfs}}'>
        <input type='hidden' id='parAliNfs' value='{{projeto.parAliNfs}}'>
        <input type='hidden' id='parResNfs' value='{{projeto.parResNfs}}'>
        <div class="row text-center mt-2">
            <div class="col-md-6">
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(70, 70, 70, 1);">
                    <div class="fw-bold card-header">Instalação</div>
                    <h4>R$ {{projeto.totint}}</h4>
                </div>
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(110, 110, 110, 1);">
                    <div class="fw-bold card-header">Projetista</div>
                    <h4>R$ {{projeto.totpro}}</h4>
                </div>
                {{#if projeto.parDesNfs}}
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(150, 150, 150, 1);">
                    <div class="fw-bold card-header">Deslocamento</div>
                    <h4>R$ {{projeto.totdes}}</h4>
                </div>
                {{/if}}
                {{#if projeto.parEstNfs}}
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(190, 190, 190, 1);">
                    <div class="fw-bold card-header">Estadia</div>
                    <h4>R$ {{projeto.tothtl}}</h4>
                </div>
                {{/if}}
            </div>
            <div class="col-md-6">
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(90, 90, 90, 1);">
                    <div class="fw-bold card-header">Gestão</div>
                    <h4>R$ {{projeto.totges}}</h4>
                </div>
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(130, 130, 130, 1);">
                    <div class="fw-bold card-header">Valor ART</div>
                    <h4>R$ {{projeto.vlrart}}</h4>
                </div>
                {{#if projeto.parCmbNfs}}
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(170, 170, 170, 1);">
                    <div class="fw-bold card-header">Combustível</div>
                    <h4>R$ {{projeto.totcmb}}</h4>
                </div>
                {{/if}}
                {{#if projeto.parAliNfs}}
                <div class="card text-white mb-3"
                    style="max-width: 22rem; px;background-color: rgba(210, 210, 210, 1);">
                    <div class="fw-bold card-header">Alimentação</div>
                    <h4>R$ {{projeto.totali}}</h4>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    //Gráfico Pariticpação Lucro Liquido
    var parLiqNfs = document.getElementById('parLiqNfs')
    var parKitNfs = document.getElementById('parKitNfs')
    var parDedNfs = document.getElementById('parDedNfs')
    var parImpNfs = document.getElementById('parImpNfs')
    var parISSNfs = document.getElementById('parISSNfs')
    var parComNfs = document.getElementById('parComNfs')

    var perLL = [parLiqNfs.value,
    parKitNfs.value,
    parDedNfs.value,
    parImpNfs.value,
    parISSNfs.value,
    parComNfs.value]

    //Gráfico Participação Despesas
    var parIntNfs = document.getElementById('parIntNfs')
    var parGesNfs = document.getElementById('parGesNfs')
    var parProNfs = document.getElementById('parProNfs')
    var parArtNfs = document.getElementById('parArtNfs')
    var parDesNfs = document.getElementById('parDesNfs')
    var parEstNfs = document.getElementById('parEstNfs')
    var parCmbNfs = document.getElementById('parCmbNfs')
    var parAliNfs = document.getElementById('parAliNfs')
    var parResNfs = document.getElementById('parResNfs')

    var parTraNfs
    if (parCmbNfs.value > 0) {
        parTraNfs = parCmbNfs.value
    } else {
        parTraNfs = parDesNfs.value
    }

    var perDes = [parIntNfs.value,
    parGesNfs.value,
    parProNfs.value,
    parArtNfs.value,
    parDesNfs.value,
    parCmbNfs.value,
    parEstNfs.value,
    parAliNfs.value,
    parResNfs.value]

    var ctxLL = document.getElementById('chartLL').getContext('2d');
    var ctxDes = document.getElementById('chartDes').getContext('2d');

    var chartLL = new Chart(ctxLL, {
        type: 'doughnut',
        data: {
            labels: ['Lucro Líquido', 'Kit Gerador', 'Deduções', 'Tributos', 'ISS', 'Comissão'],
            datasets: [{
                data: [perLL[0],
                perLL[1],
                perLL[2],
                perLL[3],
                perLL[4],
                perLL[5]],

                backgroundColor: [
                    'rgba(41, 8, 159, 0.2)',
                    'rgba(249, 240, 71, 0.2)',
                    'rgba(194, 189, 188, 0.2)',
                    'rgba(255, 49, 53, 0.2)',
                    'rgba(255, 49, 53, 0.2)',
                    'rgba(255, 161, 8, 0.2)'
                ],

                borderColor: [
                    'rgba(41, 8, 159, 1)',
                    'rgba(249, 240, 71, 1)',
                    'rgba(194, 189, 188, 1)',
                    'rgba(255, 49, 53, 1)',
                    'rgba(255, 49, 53, 1)',
                    'rgba(255, 161, 8, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            animation: {
                animateScale: true
            }

        }
    });

    var chartDes = new Chart(ctxDes, {
        type: 'doughnut',
        data: {
            labels: ['Instalação', 'Gestão', 'Projetista', 'Valor ART', 'Deslocamento', 'Combustível', 'Estadia', 'Alimentação'],
            datasets: [{
                data: [perDes[0],
                perDes[1],
                perDes[2],
                perDes[3],
                perDes[4],
                perDes[5],
                perDes[6],
                perDes[7]],

                backgroundColor: [
                    'rgba(70, 70, 70, 0.2)',
                    'rgba(90, 90, 90, 0.2)',
                    'rgba(110, 110, 110, 0.2)',
                    'rgba(130, 130, 130, 0.2)',
                    'rgba(150, 150, 150, 0.2)',
                    'rgba(170, 150, 170, 0.2)',
                    'rgba(190, 190, 190, 0.2)',
                    'rgba(210, 210, 210, 0.2)'
                ],

                borderColor: [
                    'rgba(70, 70, 70, 1)',
                    'rgba(90, 90, 90, 1)',
                    'rgba(110, 110, 110, 1)',
                    'rgba(130, 130, 130, 1)',
                    'rgba(150, 150, 150, 1)',
                    'rgba(170, 150, 170, 1)',
                    'rgba(190, 190, 190, 1)',
                    'rgba(210, 210, 210, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            animation: {
                animateScale: true
            }
        }
    });
</script>