<div class="row mt-1" style="width: 95%; margin-left: 30px;">
    <input type='hidden' id='ehDireto' value='{{projeto.ehDireto}}'>
    <div class="col-md-2">
        <div class="row text-center" style="padding:5px; border-radius: 5px;">
            <h5 class='fw-bold mt-2'>Lucro Líquido</h5>
            <div class="card text-white"
                style="border-radius: 80px;background-color: {{#if realizado.varLucRlz}}rgb(71, 114, 207) {{else}}rgb(255, 70, 70){{/if}};">
                <h4 class='text-center mt-4'>R$ {{realizado.lucroLiquido}}</h4>
                <label class='col-form-label col-form-label-sm'>Orçado: R$
                    {{projeto.lucroLiquido}}</label>
            </div>
            <a href='/gerenciamento/dashboardreal/{{realizado._id}}' style='text-decoration: none;'>
                <div class="row text-center mb-2 mt-2">
                    <div class="card text-white"
                        style="border-radius: 80px;background-color: {{#if realizado.parVlrRlz}} rgba(78, 207, 71, 1) {{else}}rgba(255, 71, 71, 1){{/if}};">
                        <div class="fw-bold card-header">Valor Total
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.valor}}</label>
                        </div>
                        <h2 class="text-center card-title">{{realizado.parLiqVlr}} %</h2>
                        <label class='col-form-label col-form-label-sm'>Orçado: {{projeto.parLiqVlr}} %</h4>
                    </div>
                </div>
            </a>
            <a href='/gerenciamento/dashboardrealliquido/{{realizado._id}}' style='text-decoration: none;'>
                <div class="card text-white row"
                    style="border-radius: 80px;background-color: {{#if realizado.parNfsRlz}} rgba(10, 159, 8, 1) {{else}} rgba(159, 10, 10, 1) {{/if}};">
                    <div class="fw-bold card-header">Total Faturado
                        <label clas='col-form-label col-form-label-sm'> R$ {{realizado.vlrNFS}}</label>
                    </div>
                    <h2 class="text-center card-title">{{realizado.parLiqNfs}} %</h2>
                    <label class='col-form-label col-form-label-sm'>Orçado: {{projeto.parLiqNfs}} %</label>
                </div>
            </a>
        </div>
        <div class="row mt-1 justify-content-center" style="height: 60px">
            <a href='/projeto/realizar/{{projeto._id}}' class='btn btn-primary btn-sm mb-1'> Editar </a>
            <a href='/projeto/vermais/{{projeto._id}}' class='btn btn-primary btn-sm'> Ver Mais </a>
        </div>

    </div>


    <div class="col-md-5">
        <h5 class='fw-bold mt-2'>Participação sobre o Total Faturado Realizado</h5>
        <div style="height: 500px;">
            <canvas id='chartLL' class='mb-4' style="width: 100px; height: 100px;"></canvas>
        </div>
        <input id='parLiqNfs' name='parLiqNfs' type="hidden" value={{realizado.parLiqNfs}}>
        <input id='parDedNfs' name='parEquNfs' type="hidden" value={{realizado.parDedNfs}}>
        <input id='parImpNfs' name='parImpNfs' type="hidden" value={{realizado.parImpNfs}}>
        <input id='parISSNfs' name='parISSNfs' type="hidden" value={{realizado.parISSNfs}}>
        <input id='parComNfs' name='parComNfs' type="hidden" value={{realizado.parComNfs}}>

        <div class="row mt-2 text-center" style="height: 300px;">
            <div class="col-md-6">
                <div class='card text-white text-center mb-3'
                    style=" background-color: rgba(194, 189, 188, 1); max-width: 22rem;">
                    <div class="fw-bold card-header">Deduções</div>
                    <h4>R$ {{realizado.custoPlano}}</h4>
                </div>
                <div class="card text-white mb-3" style="background-color:rgba(255, 161, 8, 1); max-width: 22rem;">
                    <div class="fw-bold card-header">Comissão</div>
                    <h4>R$ {{realizado.vlrcom}}</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(255, 49, 53, 1);">
                    <div class="fw-bold card-header">Tributos</div>
                    <h4>R$ {{realizado.totalImposto}}</h4>
                </div>
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(255, 49, 53, 1);">
                    <div class="fw-bold card-header">ISS</div>
                    <h4>R$ {{realizado.impISS}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <font face='Trebuchet MS'>
            <h5 class='fw-bold mt-2'>Participação das Deduções sobre o Total Faturado</h5>
        </font>
        <div style="height: 500px;">
            <canvas id='chartDes' style="width: 200px; height: 200px;"></canvas>
        </div>

        <input type='hidden' id='parIntNfs' value='{{realizado.parIntNfs}}'>
        <input type='hidden' id='parGesNfs' value='{{realizado.parGesNfs}}'>
        <input type='hidden' id='parProNfs' value='{{realizado.parProNfs}}'>
        <input type='hidden' id='parDesNfs' value='{{realizado.parDesNfs}}'>
        <input type='hidden' id='parAliNfs' value='{{realizado.parAliNfs}}'>
        <input type='hidden' id='parEstNfs' value='{{realizado.parEstNfs}}'>
        <input type='hidden' id='parCmbNfs' value='{{realizado.parCmbNfs}}'>

        <div class="row mt-2 text-center">
            <div class="col-md-6">
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(70, 70, 70, 1);">
                    <div class="fw-bold card-header">Instalação</div>
                    <h4>R$ {{realizado.totint}}</h4>
                </div>
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(130, 130, 130, 1);">
                    <div class="fw-bold card-header">Projetista</div>
                    <h4>R$ {{realizado.totpro}}</h4>
                </div>
                {{#if realizado.parAliNfs}}
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(220, 220, 220, 1);">
                    <div class="fw-bold card-header">Alimentação</div>
                    <h4>R$ {{realizado.totali}}</h4>
                </div>
                {{else}}
                {{/if}}
            </div>
            <div class="col-md-6">
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(100, 100, 100, 1);">
                    <div class="fw-bold card-header">Gestão</div>
                    <h4>R$ {{realizado.totges}}</h4>
                </div>
                {{#if realizado.parDesNfs}}
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(160, 160, 160, 1);">
                    <div class="fw-bold card-header">Deslocamento</div>
                    <h4>R$ {{realizado.totdes}}</h4>
                </div>
                {{else}}
                {{/if}}
                {{#if realizado.parEstNfs}}
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(160, 160, 160, 1);">
                    <div class="fw-bold card-header">Estadia</div>
                    <h4>R$ {{realizado.tothtl}}</h4>
                </div>
                {{else}}
                {{/if}}
                {{#if realizado.parCmbNfs}}
                <div class="card text-white mb-3" style="max-width: 22rem; background-color: rgba(160, 160, 160, 1);">
                    <div class="fw-bold card-header">Combustível</div>
                    <h4>R$ {{realizado.totcmb}}</h4>
                </div>
                {{else}}
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    ehDireto = document.getElementById(ehDireto)
    //Gráfico Pariticpação Lucro Liquido
    var parLiqNfs = document.getElementById('parLiqNfs')
    var parDedNfs = document.getElementById('parDedNfs')
    var parImpNfs = document.getElementById('parImpNfs')
    var parISSNfs = document.getElementById('parISSNfs')
    var parComNfs = document.getElementById('parComNfs')

    var perLL = [parLiqNfs.value,
    parDedNfs.value,
    parImpNfs.value,
    parISSNfs.value,
    parComNfs.value]

    //Gráfico Participação Despesas
    var parIntNfs = document.getElementById('parIntNfs')
    var parGesNfs = document.getElementById('parGesNfs')
    var parProNfs = document.getElementById('parProNfs')
    var parDesNfs = document.getElementById('parDesNfs')
    var parAliNfs = document.getElementById('parAliNfs')
    var parEstNfs = document.getElementById('parEstNfs')
    var parCmbNfs = document.getElementById('parCmbNfs')
    
    var parTraNfs
    if (parCmbNfs.value > 0) {
        parTraNfs = parCmbNfs.value
    } else {
        parTraNfs = parDesNfs.value
    }

    var perDes = [parIntNfs.value,
    parGesNfs.value,
    parProNfs.value,
    parTraNfs,
    parAliNfs.value,
    parEstNfs.value]

    var ctxLL = document.getElementById('chartLL').getContext('2d');
    var ctxDes = document.getElementById('chartDes').getContext('2d');

    var chartLL = new Chart(ctxLL, {
        type: 'doughnut',
        data: {
            labels: ['Lucro Líquido', 'Deduções', 'Tributos', 'ISS', 'Comissão'],
            datasets: [{
                data: [perLL[0],
                perLL[1],
                perLL[2],
                perLL[3],
                perLL[4]],

                backgroundColor: [
                    'rgba(71, 135, 207, 0.2)',
                    'rgba(194, 189, 188, 0.2)',
                    'rgba(255, 49, 53, 0.2)',
                    'rgba(255, 49, 53, 0.2)',
                    'rgba(255, 161, 8, 0.2)'
                ],

                borderColor: [
                    'rgba(71, 135, 207, 1)',
                    'rgba(194, 189, 188, 1)',
                    'rgba(255, 49, 53, 1)',
                    'rgba(255, 49, 53, 1)',
                    'rgba(255, 161, 8, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
    });

    var chartDes = new Chart(ctxDes, {
        type: 'doughnut',
        data: {
            labels: ['Instalação', 'Gestão', 'Projetista', 'Deslocamento', 'Alimentação', 'Estadia'],
            datasets: [{
                data: [perDes[0],
                perDes[1],
                perDes[2],
                perDes[3],
                perDes[4],
                perDes[5]],

                backgroundColor: [
                    'rgba(70, 70, 70, 0.2)',
                    'rgba(90, 90, 90, 0.2)',
                    'rgba(110, 110, 110, 0.2)',
                    'rgba(130, 130, 130, 0.2)',
                    'rgba(150, 150, 150, 0.2)',
                    'rgba(180, 180, 180, 0.2)'
                ],

                borderColor: [
                    'rgba(70, 70, 70, 1)',
                    'rgba(90, 90, 90, 1)',
                    'rgba(110, 110, 110, 1)',
                    'rgba(130, 130, 130, 1)',
                    'rgba(150, 150, 150, 1)',
                    'rgba(180, 180, 180, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            animation: {
                animateScale: true
            }
        }
    });
</script>