<style>
    table {
        text-align: center;
        font-size: 14px;
        width: 100%;
    }
</style>
<div style="padding: 20px" style='margin-top: 30px;'>
    <label style="font-size: 18px;font-weight: 600;">Lista de Serviços | </label><a href='/gerenciamento/agenda'>
        Agenda</a><br><br>
    <div style="border: #847AF4 1px solid;border-radius: 10px;padding: 10px;">
        <label style="font-size: 20px;"> Dia {{dia}}</label><br><br>
        <table>
            <tr>
                <th>Concluído</th>
                <th style="width: 20%;">Cliente</th>
                <th>Manutenção</th>
                <th>Data de Início</th>
                <th>Data Final</th>
                <th style="width: 20%;">Equipe</th>
            </tr>
            <tr>
                <td>
                    <a href='/gerenciamento/tarefas/{{lista_tarefa.id}}'
                        style="cursor: pointer;">{{lista_tarefa.concluido}}</a>
                </td>
                <td>
                    <a href='/gerenciamento/tarefas/{{lista_tarefa.id}}'
                        style="cursor: pointer;">{{lista_tarefa.nome}}</a>
                </td>
                <td>
                    <a href='/gerenciamento/tarefas/{{lista_tarefa.id}}'
                        style="cursor: pointer;">{{lista_tarefa.servico}}</a>
                </td>
                <td>
                    <a href='/gerenciamento/tarefas/{{lista_tarefa.id}}'
                        style="cursor: pointer;">{{lista_tarefa.dataini}}</a>
                </td>
                <td>
                    <a href='/gerenciamento/tarefas/{{lista_tarefa.id}}'
                        style="cursor: pointer;">{{lista_tarefa.datafim}}</a>
                </td>
                <td>
                    {{lista_tarefa.ins0}}<br>
                    {{lista_tarefa.ins1}}<br>
                    {{lista_tarefa.ins2}}<br>
                    {{lista_tarefa.ins3}}<br>
                    {{lista_tarefa.ins4}}<br>
                    {{lista_tarefa.ins5}}<br>
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="row">
                <div class="col-md-2 text-center">
                    <a href='/gerenciamento/mostraEquipe/{{lista_tarefa.id}}' class='btn btn-primary'>Resumo
                        Gerencial</a><br>
                </div>
                <div class="col-md-2 text-center">
                    <a class='btn btn-primary' href='/gerenciamento/equipetarefa/{{lista_tarefa.id}}'
                        style='width: 140px'>Abrir Tarefa</a>
                </div>
                <div class="col">
                    {{#if tarefa.concluido}}
                    {{else}}
                    {{#if equipe.liberar}}
                    <form action='/gerenciamento/baixardia' method="post">
                        <input type='hidden' name='id' value='{{lista_tarefa.id}}'>
                        <div class="row">
                            <div class='col-md-2 text-end mt-2'>
                                Baixar Tarefa:
                            </div>
                            <div class="col-md-3">
                                <input type='date' name='databaixa' class='form-control'>
                            </div>
                            <div class="col-md-2">
                                <button type='submit' class='btn btn-primary'><i style='cursor: pointer; color:white'
                                        class="bi bi-arrow-down-circle"></i></button>
                            </div>
                        </div>
                    </form>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="row mt-3">
            <div class="col">
                <label style="font-size: 20px;font-weight: 600;">Concluído</label>
                <div style="overflow-y: scroll;height: 250px;wei">
                    <table style="margin-top: 20px;">
                        <tr>
                            <th style="width: 20%;">Cliente</th>
                            <th style="width: 20%;">Manutenção</th>
                            <th style="width: 20%;">Data Inicial</th>
                            <th style="width: 20%;">Data Final</th>
                        </tr>
                        {{#each tarefa_concluida}}
                        <tr>
                            <td>
                                <a href='/gerenciamento/tarefas/{{id}}' style="cursor: pointer;">{{nome}}</a>
                            </td>
                            <td>
                                <a href='/gerenciamento/tarefas/{{id}}' style="cursor: pointer;">{{servico}}</a>
                            </td>
                            <td>
                                <a href='/gerenciamento/tarefas/{{id}}' style="cursor: pointer;">{{dataini}}</a>
                            </td>
                            <td>
                                <a href='/gerenciamento/tarefas/{{id}}' style="cursor: pointer;">{{datafim}}</a>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
            <div class="col">
                <label style="font-size: 20px;font-weight: 600;">Não Concluído</label>
                <div style="overflow-y: scroll;height: 250px;">
                    <table style="margin-top: 20px;">
                        <tr>
                            <th style="width: 20%;">Cliente</th>
                            <th style="width: 20%;">Manutenção</th>
                            <th style="width: 20%;">Data Inicial</th>
                            <th style="width: 20%;">Data Final</th>
                        </tr>
                        {{#each tarefa_naoconcluida}}
                        <tr>
                            <td>
                                <a href='/gerenciamento/tarefas/{{id}}' style="cursor: pointer;">{{nome}}</a>
                            </td>
                            <td>
                                <a href='/gerenciamento/tarefas/{{id}}' style="cursor: pointer;">{{servico}}</a>
                            </td>
                            <td>
                                <a href='/gerenciamento/tarefas/{{id}}' style="cursor: pointer;">{{dataini}}</a>
                            </td>
                            <td>
                                <a href='/gerenciamento/tarefas/{{id}}' style="cursor: pointer;">{{datafim}}</a>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>