<style>
    .contorno {
        color: white;
        border-radius: 10px;
        border: solid 1px;
        background: linear-gradient(135deg, rgb(62, 81, 177), rgb(11, 19, 58, 1), rgb(11, 19, 58, 1));
    }

    .botao-menu {
        background-color: rgb(40, 55, 86);
        border: white solid 1px;
        color: white;
    }

    .botao-menu:hover {
        background-color: rgb(40, 55, 86);
        border: white 1px solid;
        font-weight: 600;
        color: white;
    }

    .ativo {
        background-color: rgb(10, 30, 68);
    }

    .caixa {
        border: rgba(200, 200, 200, 0.8) 1px solid;
        width: fit-content;
        height: 285px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 20px;
        box-shadow: 1px 4px 5px rgba(26, 25, 25, 0.77);
    }
</style>
<div style="width: 98%;padding-left: 2%;padding-top: 1%;">
    <div class="row">
        <h4 class="header">
            {{cliente.nome}} </h4>
    </div>

    <form action='/customdo/editar/instalacao' method='post'>

        <input type='hidden' name='id' value='{{projeto._id}}'>

        <div class='btn-group  col-12 mx-auto'>
            <a href='/projeto/edicao/{{projeto._id}}/' class='btn btn-sm botao-menu'> <i
                    class="bi bi-house"></i>Projeto</a>
            <a href="/customdo/editar/instalacao/{{projeto._id}}" class="btn btn-sm botao-menu ativo"><i
                    class="bi bi-tools"></i>
                Instalação</a>
            <a href="/customdo/editar/projetista/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-pencil"></i>
                Projetista</a>
            <a href="/customdo/editar/gestao/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-gear"></i>
                Gestão</a>
            <a href="/gerenciamento/editar/gerenciamento/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-puzzle"></i>
                Gerenciamento</a>
            <a href="/gerenciamento/editar/tributos/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-calculator"></i> Tributos</a>
        </div>

        <div class='row mt-1'>
            <div class="row">
                <div class="col-md-2">
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label for="vlrhri" class="fw-bold col-form-label col-form-label-sm">R$/Hora:
                            </label>
                        </div>
                        <div class="col-md-7">
                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number" name="vlrhri" id='vlrhri'
                                value='{{projeto.vlrhri}}' class='form-control form-control-sm'>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 card">
                    <div class="row">
                        <div class="col-md-3">
                            <label class='mt-2 mb-2 col-form-label col-form-label-sm fw-bold'>Instalador
                                Responsável:</label>
                        </div>
                        <div class="col-md-3">
                            <input type='hidden' name='pinome' value='{{pi.nome}}'>
                            <label class='mt-2 col-form-label col-form-label-sm'>{{pi.nome}}</label>
                        </div>
                        <div class="col-md-6">
                            <div class="row mt-2 mb-1">
                                <div class="col-md-3"
                                    style="border: solid 1px; border-width: 1px ;border-color: gray;border-right:brown;border-top:brown;border-bottom:brown;">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label class='col-form-label col-form-label-sm fw-bold'>Alterar:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class='form-check'>
                                                <input {{#if projeto.orcado}}{{else}}disabled{{/if}}
                                                    class='form-check-input mt-2' type='checkbox' name='checkIns'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <select {{#if projeto.orcado}}{{else}}disabled{{/if}}
                                        class='form-select form-select-sm' name='funins'>
                                        {{#each instalador}}
                                        <option value='{{_id}}'>{{nome}}</option>
                                        {{else}}
                                        <option>Nenhum projetista cadastrado</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-8">
                    <div class="card" style="padding: 10px; padding-top: 38px; padding-bottom: 38px;">
                        <div class="row">
                            <div class="col-md-3 text-end">
                                <label for="aterramento" class="col-form-label col-form-label-sm">Atividades</label><br>
                                <label for="aterramento"
                                    class="fw-bold col-form-label col-form-label-sm mb-4">Aterramento</label>
                            </div>
                            <div class="col">
                                <label for="unidade" class="col-sm-10 col-form-label col-form-label-sm">Unidade</label>
                                <div class="input-group input-group-sm mb-1">
                                    <input type="number" name="uniatr" id='uniatr' value='{{projeto.uniatr}}'
                                        class='form-control'>
                                </div>
                            </div>
                            <div class="col">
                                <label for="trabalho" class="col-sm-10 col-form-label col-form-label-sm">Horas
                                    Trabalho</label>
                                <div class="input-group input-group-sm mb-1">
                                    <input disabled type="number" name='trbatr' id="trbatr" value='{{projeto.trbatr}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <label for="total" class="col-sm-10 col-form-label col-form-label-sm">Total</label>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="number" class="form-control" name='totatr' id="totatr"
                                        value='{{projeto.totatr}}' aria-label='R$'>
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-end">
                                <label for="estrutura"
                                    class="fw-bold col-form-label col-form-label-sm mb-4">Estrutura</label>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm mb-1">
                                    <input type="number" name="uniest" id='uniest' value='{{projeto.uniest}}'
                                        class='form-control'>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm mb-1">
                                    <input disabled type="number" name='trbest' id="trbest" value='{{projeto.trbest}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">

                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="number" class="form-control" name='totest' id="totest"
                                        value='{{projeto.totest}}' aria-label='R$'>
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-end">
                                <label for="estrutura" class="fw-bold col-form-label col-form-label-sm mb-4">Módulos e
                                    Conexões</label>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm mb-1">
                                    <input type="number" name='unimod' id="unimod" value='{{projeto.unimod}}'
                                        class='form-control'>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm mb-1">
                                    <input disabled type="number" name='trbmod' id="trbmod" value='{{projeto.trbmod}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="number" class="form-control" name='totmod' id="totmod"
                                        value='{{projeto.totmod}}' aria-label="R$ ">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-end">

                                <label for="estrutura" class="fw-bold col-form-label col-form-label-sm">Inversor <br>
                                    (Instalação e
                                    Configuração)</label>
                            </div>
                            <div class="col">

                                <div class="input-group input-group-sm mb-1">
                                    <input type="number" name='uniinv' id="uniinv" value='{{projeto.uniinv}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">

                                <div class="input-group input-group-sm mb-1">
                                    <input disabled type="number" name='trbinv' id="trbinv" value='{{projeto.trbinv}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">

                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="text" class="form-control" name='totinv' id="totinv"
                                        value='{{projeto.totinv}}' aria-label="R$ " disable>
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col md-4">
                    <button {{#if projeto.orcado}}{{else}}disabled{{/if}} type="submit" class="btn btn-sm btn-success"
                        style='width: 96%;' name="aplicar"> <i class="bi bi-check-circle"></i> Aplicar</button>
                    <div class="caixa text-center mt-2">
                        <h4 style="margin-top: 30px;"> Totais </h4>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Custo</h5>
                                <div class="quadro-caixa">R$ {{projeto.totint}}</div>
                            </div>
                            <div class="col-md-6">
                                <h5>Horas de Trabalho</h5>
                                <div class="quadro-caixa">{{projeto.trbint}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>