<div class="container card mt-2">
    <div class="row">
        <h4 class="shadow p-3 mb-2 bg-body rounded" style="color:white;background: linear-gradient(200deg, rgb(73, 91, 182), rgb(43, 57, 128), rgb(16, 32, 110));">Projeto: {{projeto.nome}} </h4>
    </div>  
    <form action='/customdo/editar/gestao' method='post'>

        <input type='hidden' name='id' value='{{projeto._id}}'>

        <div class="row">
            <div class='btn-group col-12 mx-auto'>
                <a href='/projeto/edicao/{{projeto._id}}/' class='btn btn-primary mb-1'> <i class="bi bi-house"></i> Principal</a>
                <a href='/customdo/editar/instalacao/{{projeto._id}}/' class='btn btn-primary mb-1'> <i class="bi bi-tools"></i> Instalação</a>
                <a href='/customdo/editar/projetista/{{projeto._id}}/' class='btn btn-primary mb-1'> <i class="bi bi-pencil"></i> Projetista</a>
                <a href='/customdo/editar/gestao/{{projeto._id}}/' class='btn btn-primary mb-1 active'> <i class="bi bi-puzzle"></i> Gestão</a>
                <a href='/gerenciamento/editar/gerenciamento/{{projeto._id}}/'
                    class='btn btn-primary mb-1'><i class="bi bi-cursor"></i> Gerenciamento </a>
                <a href='/gerenciamento/editar/tributos/{{projeto._id}}/' class='btn btn-primary mb-1'> <i class="bi bi-calculator"></i> Tributos </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="vlrhrg" class="fw-bold col-form-label col-form-label-sm">R$/Hora:
                                </label>
                            </div>
                            <div class="col-md-7">
                                <input type="number" name="vlrhrg" id='vlrhrg' value='{{projeto.vlrhrg}}'
                                    class='form-control form-control-sm'>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3">
                                <label class='col-form-label col-form-label-sm fw-bold'>Gestor Responsável:</label>
                            </div>
                            <div class="col-md-8">
                                <label class='col-form-label col-form-label-sm'>{{pr.nome}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row mt-2 mb-2">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <label for="escopo"
                                        class="fw-bold col-sm-10 col-form-label col-form-label-sm">Escopo
                                    </label>
                                    <div class="row g-3">
                                        <div class="col">
                                            <label for="trabalho"
                                                class="col-sm-10 col-form-label col-form-label-sm">Horas
                                                Trabalho</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <input type="text" id="trbesc" name="trbesc" value='{{projeto.trbesc}}'
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="total"
                                                class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <span class="input-group-text">$</span>
                                                <input disabled type="text" class="form-control" id="totesc"
                                                    name="totesc" value='{{projeto.totesc}}' aria-label="R$ ">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <label for="comunicacao"
                                        class="fw-bold col-sm-10 col-form-label col-form-label-sm">Comunicação
                                    </label>
                                    <div class="row g-3">
                                        <div class="col">
                                            <label for="trabalho"
                                                class="col-sm-10 col-form-label col-form-label-sm">Horas
                                                Trabalho</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <input type="text" id="trbcom" name="trbcom" value='{{projeto.trbcom}}'
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="total"
                                                class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <span class="input-group-text">$</span>
                                                <input disabled type="text" class="form-control" id="totcom"
                                                    name="totcom" value='{{projeto.totcom}}' aria-label="R$ ">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <label for="vistoria"
                                        class="fw-bold col-sm-10 col-form-label col-form-label-sm">Vistoria
                                    </label>
                                    <div class="row g-3">
                                        <div class="col">
                                            <label for="trabalho"
                                                class="col-sm-10 col-form-label col-form-label-sm">Horas
                                                Trabalho</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <input type="text" id="trbvis" name="trbvis" value='{{projeto.trbvis}}'
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="total"
                                                class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <span class="input-group-text">$</span>
                                                <input disabled type="text" class="form-control" id="totvis"
                                                    name="totvis" value='{{projeto.totvis}}' aria-label="R$ ">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <label for="cronograma"
                                        class="fw-bold col-sm-10 col-form-label col-form-label-sm">Cronograma
                                    </label>
                                    <div class="row g-3">
                                        <div class="col">
                                            <label for="trabalho"
                                                class="col-sm-10 col-form-label col-form-label-sm">Horas
                                                Trabalho</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <input type="text" id="trbcro" name="trbcro" value='{{projeto.trbcro}}'
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="total"
                                                class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <span class="input-group-text">$</span>
                                                <input disabled type="text" class="form-control" id="totcro"
                                                    name="totcro" value='{{projeto.totcro}}' aria-label="R$ ">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <label for="alocacao"
                                        class="fw-bold col-sm-10 col-form-label col-form-label-sm">Alocação de
                                        Recursos</label>
                                    <div class="row g-3">
                                        <div class="col">
                                            <label for="trabalho"
                                                class="col-sm-10 col-form-label col-form-label-sm">Horas
                                                Trabalho</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <input type="text" id="trbrec" name="trbrec" value='{{projeto.trbrec}}'
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="total"
                                                class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <span class="input-group-text">$</span>
                                                <input disabled type="text" class="form-control" id="totrec"
                                                    name="totrec" value='{{projeto.totrec}}' aria-label="R$ ">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <label for="aquisicao"
                                        class="fw-bold col-sm-10 col-form-label col-form-label-sm">Aquisições
                                    </label>
                                    <div class="row g-3">
                                        <div class="col">
                                            <label for="trabalho"
                                                class="col-sm-10 col-form-label col-form-label-sm">Horas
                                                Trabalho</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <input type="text" id="trbaqi" name="trbaqi" value='{{projeto.trbaqi}}'
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="total"
                                                class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                            <div class="input-group input-group-sm mb-1">
                                                <span class="input-group-text">$</span>
                                                <input disabled type="text" class="form-control" id="totaqi"
                                                    name="totaqi" value='{{projeto.totaqi}}' aria-label="R$ ">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-center mt-5">
                        <div class="card-body">
                            <h4> Total </h4>
                            <br>
                            <label class="format-label text-center">Valor Total: R$
                                {{projeto.totges}}</label>
                            <br>
                            <label class="format-label text-center">Horas Totais: {{projeto.trbges}} horas</label>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6 gap-2 d-grid mx-auto col-12">
                            <a href='/gerenciamento/dashboard/{{projeto._id}}' class='btn btn-sm btn-primary'><i class="bi bi-bar-chart"></i> Dashboard</a>
                        </div>
                        <div class="col-md-6 gap-2 d-grid mx-auto col-12">
                            <button type="submit" class="btn btn-sm btn-success" name="aplicar"> <i class="bi bi-check-circle"></i> Aplicar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>