<style>
    .botao-menu {
        background-color: rgb(40, 55, 86);
        border: white 1px solid;
        border-radius: 5px;
        color: white;
    }

    .botao-menu:hover {
        background-color: rgb(40, 55, 86);
        border: white 1px solid;
        border-radius: 5px;
        font-weight: 600;
        color: white;
    }

    .ativo {
        background-color: rgb(10, 30, 68);
    }


    .caixa {
        border: rgba(200, 200, 200, 0.8) 1px solid;
        width: fit-content;
        height: 325px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 30px;
    }
</style>
<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>
    </div>

    <div class="btn-group  col-12 mx-auto">
        <a href="/customdo/gestao/{{projeto._id}}" class="btn btn-sm botao-menu ativo"><i class="bi bi-gear"></i>
            Gestão</a>
        <a href="/customdo/projetista/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-pencil"></i>
            Projetista</a>
        <a href="/customdo/instalacao/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-tools"></i>
            Instalação</a>
        <a href="/gerenciamento/gerenciamento/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-puzzle"></i>
            Gerenciamento</a>
        <a href="/gerenciamento/tributos/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-calculator"></i>
            Tributos</a>
    </div>

    <form action='/customdo/gestao/' method='post'>

        <input type="hidden" name="id" value='{{projeto._id}}'>

        <div class="row">
            <div class="col-md-8">
                <div class="row mt-2">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="vlrhrg" class="fw-bold col-form-label col-form-label-sm">R$/Hora:
                                </label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" name="vlrhrg" id='vlrhrg' {{#if
                                    projeto.vlrhrg}}value='{{projeto.vlrhrg}}' {{else}}value='{{configuracao.vlrhrg}}'
                                    {{/if}} class='form-control form-control-sm'>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4">
                                <label class='col-form-label col-form-label-sm fw-bold'>Gestor Responsável:</label>
                            </div>
                            <div class="col-md-8">
                                <label class='col-form-label col-form-label-sm'>{{pr.nome}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <label for="escopo" class="fw-bold col-sm-10 col-form-label col-form-label-sm">Escopo
                                </label>
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="trabalho" class="col-sm-10 col-form-label col-form-label-sm">Horas
                                            Trabalho</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input type="text" id="trbesc" name="trbesc" value='{{projeto.trbesc}}'
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" id="totesc" name="totesc"
                                                value='{{projeto.totesc}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>

                                <label for="comunicacao"
                                    class="fw-bold col-sm-10 col-form-label col-form-label-sm">Comunicação
                                </label>
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="trabalho" class="col-sm-10 col-form-label col-form-label-sm">Horas
                                            Trabalho</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input type="text" id="trbcom" name="trbcom" value='{{projeto.trbcom}}'
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" id="totcom" name="totcom"
                                                value='{{projeto.totcom}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>

                                <label for="vistoria"
                                    class="fw-bold col-sm-10 col-form-label col-form-label-sm">Vistoria
                                </label>
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="trabalho" class="col-sm-10 col-form-label col-form-label-sm">Horas
                                            Trabalho</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input type="text" id="trbvis" name="trbvis" value='{{projeto.trbvis}}'
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" id="totvis" name="totvis"
                                                value='{{projeto.totvis}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <label for="cronograma"
                                    class="fw-bold col-sm-10 col-form-label col-form-label-sm">Cronograma
                                </label>
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="trabalho" class="col-sm-10 col-form-label col-form-label-sm">Horas
                                            Trabalho</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input type="text" id="trbcro" name="trbcro" value='{{projeto.trbcro}}'
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" id="totcro" name="totcro"
                                                value='{{projeto.totcro}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>

                                <label for="alocacao"
                                    class="fw-bold col-sm-10 col-form-label col-form-label-sm">Alocação de
                                    Recursos</label>
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="trabalho" class="col-sm-10 col-form-label col-form-label-sm">Horas
                                            Trabalho</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input type="text" id="trbrec" name="trbrec" value='{{projeto.trbrec}}'
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" id="totrec" name="totrec"
                                                value='{{projeto.totrec}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>

                                <label for="aquisicao"
                                    class="fw-bold col-sm-10 col-form-label col-form-label-sm">Aquisições
                                </label>
                                <div class="row g-3">
                                    <div class="col">
                                        <label for="trabalho" class="col-sm-10 col-form-label col-form-label-sm">Horas
                                            Trabalho</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input type="text" id="trbaqi" name="trbaqi" value='{{projeto.trbaqi}}'
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" id="totaqi" name="totaqi"
                                                value='{{projeto.totaqi}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col md-4">
                <div class="row mt-2">
                    <button type="submit" style='margin-left: 10px;width: 92%' class="btn btn-sm btn-success"
                        name="aplicar">
                        <i class="bi bi-check-circle"></i>Aplicar</button>
                </div>
                <div class="caixa text-center mt-2">
                    <h4 style="margin-top: 20px;"> Totais </h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Custo</h5>
                            <div class="quadro-caixa">R$ {{projeto.totges}}</div>
                        </div>
                        <div class="col-md-6">
                            <h5>Horas de Trabalho</h5>
                            <div class="quadro-caixa">{{projeto.trbges}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>