<script>
    function selecionar() {
        var selectHora = document.getElementById('selectHora')
        var selectDia = document.getElementById('selectDia')
        var selecionado = document.getElementById('selecionado')
        var lblDes = document.getElementById('lblDes')
        var vlrhrg = document.getElementById('vlrhrg')
        var vlrdrg = document.getElementById('vlrdrg')
        var hrstrb = document.getElementById('hrstrb')
        var diatrb = document.getElementById('diatrb')
        var diasGes = document.getElementById('diasGes')
        var displayTda = document.getElementById('displayTda')
        var escopo = document.getElementById('escopo')
        var cronograma = document.getElementById('cronograma')
        var comunicacao = document.getElementById('comunicacao')
        var vistoria = document.getElementById('vistoria')
        var aquisicao = document.getElementById('aquisicao')
        var alocacao = document.getElementById('alocacao')
        if (selectHora.checked) {
            selecionado.value = 'hora'
            vlrhrg.type = 'text'
            vlrdrg.type = 'hidden'
            hrstrb.style.display = 'inline'
            diatrb.style.display = 'none'
            diasGes.type = 'hidden'
            displayTda.style.display = 'none'
            escopo.disabled = false
            cronograma.disabled= false
            vistoria.disabled= false
            comunicacao.disabled= false
            alocacao.disabled= false
            aquisicao.disabled= false
            lblDes.innerHTML = 'Horas:'
        } else {
            selecionado.value = 'dia'
            vlrdrg.type = 'text'
            vlrhrg.type = 'hidden'
            hrstrb.style.display = 'none'
            diatrb.style.display = 'inline'
            diasGes.type = 'text'
            displayTda.style.display = 'inline' 
            escopo.disabled = true       
            cronograma.disabled = true
            vistoria.disabled= true
            comunicacao.disabled= true
            alocacao.disabled= true
            aquisicao.disabled= true  
            lblDes.innerHTML = 'Dias:'          
        }
    }
</script>

<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>
    </div>
    <form action='/customdo/gestao' method='post'>

        <input type='hidden' name='id' value='{{projeto._id}}'>

        <div class='btn-group col-12 mx-auto'>
            <a href='/projeto/edicao/{{projeto._id}}/' class='btn btn-sm botao-menu'> <i
                    class="bi bi-house"></i>Projeto</a>
            <a href="/customdo/gestao/{{projeto._id}}" class="btn btn-sm botao-menu ativo"><i
                    class="bi bi-gear"></i>
                Gestão</a>
            <a href="/customdo/projetista/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-pencil"></i>
                Projetista</a>
            <a href="/customdo/instalacao/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-tools"></i>
                Instalação</a>
            <a href="/gerenciamento/gerenciamento/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-puzzle"></i>
                Gerenciamento</a>
            <a href="/gerenciamento/tributos/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-calculator"></i> Tributos</a>
        </div>


        <div class="row">
            <div class="col-md-8">
                <div class="row mt-2">
                    <div class="col-md-2">
                        <div class="row" style="margin-top: 4%;">
                            <div class="col-md-6">
                                <div class="form-check" onchange="selecionar()">
                                    <input class="form-check-input" style="margin-top: 0px;" type="radio" name="select" id="selectHora"
                                        {{checkHora}}>
                                    <label class="form-check-label" style="font-size: 12px;">
                                        R$/hora
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 12%;">
                                <div class="form-check" onchange="selecionar()">
                                    <input class="form-check-input" style="margin-top: 0px;" type="radio" name="select" id="selectDia"
                                        {{checkDia}}>
                                    <label class="form-check-label" style="font-size: 12px;">
                                        R$/dia
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <input type='hidden' name='selecionado' id='selecionado' value='{{projeto.tipoCustoGes}}'>
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="{{typeHrg}}" name="vlrhrg"
                            id='vlrhrg' value='{{#if projeto.vlrhrg}}{{projeto.vlrhrg}}{{else}}{{configuracao.vlrhrg}}{{/if}}' class='form-control form-control-sm'>
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="{{typeDrg}}" name="vlrdrg"
                            id='vlrdrg' value='{{#if projeto.vlrdrg}}{{projeto.vlrdrg}}{{else}}{{configuracao.vlrdrg}}{{/if}}' class='form-control form-control-sm'>
                    </div>
                    <div class="col-md-3 mt-1" style="padding-left: 18px;">
                        <label class='col-form-label col-form-label-sm fw-bold' style="display: {{displayTda}};" id='displayTda'>Total de dias das atividades:</label>
                    </div>
                    <div class="col-md-1">
                        <input type="{{typeGes}}" name="diasGes"
                            id='diasGes' value='{{projeto.diasGes}}' class='form-control form-control-sm'>                        
                    </div>
                    {{#if projeto.funres}}
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <label class='col-form-label col-form-label-sm fw-bold'>Gestor Responsável:</label>
                            </div>
                            <div class="col-md-6">
                                <label class='col-form-label col-form-label-sm'>{{gestor.nome}}</label>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <div class="row mb-2 mt-2">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="escopo"
                                            class="fw-bold  col-form-label col-form-label-sm">Escopo
                                        </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbesc" value='{{projeto.trbesc}}' class="form-control"
                                                id='escopo' {{escopo}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" name="totesc"
                                                value='{{projeto.totesc}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="comunicacao"
                                            class="fw-bold  col-form-label col-form-label-sm">Comunicação
                                        </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbcom" value='{{projeto.trbcom}}' class="form-control"
                                                id='comunicacao' {{comunicacao}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" name="totcom"
                                                value='{{projeto.totcom}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="vistoria"
                                            class="fw-bold  col-form-label col-form-label-sm">Vistoria
                                        </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbvis" value='{{projeto.trbvis}}' class="form-control"
                                                id='vistoria' {{vistoria}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" name="totvis"
                                                value='{{projeto.totvis}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="cronograma"
                                            class="fw-bold  col-form-label col-form-label-sm">Cronograma
                                        </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbcro" value='{{projeto.trbcro}}' class="form-control"
                                                id='cronograma' {{cronograma}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" id="totcro" name="totcro"
                                                value='{{projeto.totcro}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">

                                        <label for="alocacao"
                                            class="fw-bold col-form-label col-form-label-sm">Alocação de
                                            Recursos</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbrec" value='{{projeto.trbrec}}' class="form-control"
                                                id='alocacao' {{alocacao}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" id="totrec" name="totrec"
                                                value='{{projeto.totrec}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label for="aquisicao"
                                            class="fw-bold col-form-label col-form-label-sm">Aquisições
                                        </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbaqi" value='{{projeto.trbaqi}}' class="form-control"
                                                id='aquisicao' {{aquisicao}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" id="totaqi" name="totaqi"
                                                value='{{projeto.totaqi}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>Deslocamento</label>
                    </div>
                    <div class="col-md-1 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold' id='lblDes'>{{lblDes}}</label>
                    </div>
                    <div class="col-md-2">
                        <input class='form-control form-control-sm' name='desGes' value='{{projeto.desGes}}'>
                    </div>
                    <div class="col-md-4 text-start">
                        <label class='col-form-label col-form-label-sm fw-bold'>Total R$ {{projeto.vlrDge}}</label>
                    </div>
                </div>
            </div>
            <div class="col md-4 mt-2">
                <button {{#if projeto.orcado}}{{else}}disabled{{/if}} type="submit" class="btn btn-sm btn-success"
                    style='width: 100%;' name="aplicar"> <i class="bi bi-check-circle"></i> Aplicar</button>

                <div class="caixa text-center mt-2">
                    <label style="margin-top: 35px;font-size: 20px;font-weight: 600;"> Totais </label>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <label style='font-size: 17px;font-weight: bold;'>Custo</label>
                            <div class="quadro-caixa">R$ {{projeto.totges}}</div>
                        </div>
                        <div class="col-md-6">
                            <label style='font-size: 17px;font-weight: bold;display: {{displayHrs}};' id='hrstrb'>Horas
                                de Trabalho</label>
                            <label style='font-size: 17px;font-weight: bold;display: {{displayDia}};' id='diatrb'>Dias
                                de Trabalho</label>
                            {{#if mostraHora}}    
                            <div class="quadro-caixa">{{projeto.trbges}}</div>
                            {{else}}
                            <div class="quadro-caixa">{{projeto.diasGes}}</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>