<style>
    .contorno {
        color: white;
        border-radius: 10px;
        border: solid 1px;
        border-radius: 5px;
        background: linear-gradient(135deg, rgb(62, 81, 177), rgb(11, 19, 58, 1), rgb(11, 19, 58, 1));
    }

</style>
<script>
    function infoEstrutura() {
        alert('Essa atividade considera a concreatagem das pilastras, a montagem das bases e a fixação dos suportes.')

    }
    function selecionar() {
        var selectHora = document.getElementById('selectHora')
        var selectDia = document.getElementById('selectDia')
        var selecionado = document.getElementById('selecionado')
        var lblDes = document.getElementById('lblDes')
        var vlrhri = document.getElementById('vlrhri')
        var vlrdri = document.getElementById('vlrdri')
        var hrstrb = document.getElementById('hrstrb')
        var diatrb = document.getElementById('diatrb')
        var displayTda = document.getElementById('displayTda')
        var trbatr = document.getElementById('trbatr')        
        var trbinv = document.getElementById('trbinv')           
        var trbpnl = document.getElementById('trbpnl')        
        var trbest = document.getElementById('trbest')        
        var trbmod = document.getElementById('trbmod')        
        var tempo = document.getElementById('tempo')    
        var trbstb = document.getElementById('trbstb')        
        var trbeae = document.getElementById('trbeae')             
        if (selectHora.checked) {
            selecionado.value = 'hora'
            diasIns.type = 'hidden'
            vlrhri.type = 'text'
            vlrdri.type = 'hidden'
            hrstrb.style.display = 'inline'
            diatrb.style.display = 'none'
            displayTda.style.display = 'none'
            trbatr.disabled = true
            trbinv.disabled = true
            trbstb.disabled = true
            trbest.disabled = true
            trbmod.disabled = true            
            trbeae.disabled = true
            trbpnl.disabled = true
            lblDes.innerHTML = 'Horas:'
        } else {
            selecionado.value = 'dia'
            diasIns.type = 'text'
            vlrdri.type = 'text'
            vlrhri.type = 'hidden'
            hrstrb.style.display = 'none'
            diatrb.style.display = 'inline'
            displayTda.style.display = 'inline'
            trbatr.disabled = false
            trbinv.disabled = false
            trbstb.disabled = false
            trbest.disabled = false
            trbmod.disabled = false           
            trbeae.disabled = false
            trbpnl.disabled = false            
            lblDes.innerHTML = 'Dias:'
        }
    }
</script>
<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>
    </div>

    <form action='/customdo/instalacao' method='post'>

        <input type='hidden' name='id' value='{{projeto._id}}'>

        <div class='btn-group  col-12 mx-auto'>
            <a href='/projeto/edicao/{{projeto._id}}/' class='btn btn-sm botao-menu'> <i
                    class="bi bi-house"></i>Projeto</a>
            <a href="/customdo/gestao/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-gear"></i>
                Gestão</a>
            <a href="/customdo/projetista/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-pencil"></i>
                Projetista</a>
            <a href="/customdo/instalacao/{{projeto._id}}" class="btn btn-sm botao-menu ativo"><i
                    class="bi bi-tools"></i>
                Instalação</a>
            <a href="/gerenciamento/gerenciamento/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-puzzle"></i>
                Gerenciamento</a>
            <a href="/gerenciamento/tributos/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-calculator"></i> Tributos</a>
        </div>


        <!--
            <div class="row" style="width: 100%;padding-left: 2%">
                <div class="col-md-3">
                    <div class="row" style="padding: 5px;border:rgb(68, 96, 238) 1px solid;border-radius: 5px;">
                        <div class="col">
                            <a href='/pessoa/formaequipe/{{projeto._id}}' class='btn btn-sm btn-primary'> <i
                                    class="bi bi-people"></i> Equipe de Instalação </a>
                        </div>
                        <div class="col mt-2">
                            <label class="fw-bold col-form-label col-form-label-sm">{{#if
                                projeto.qtdequipe}}{{projeto.qtdequipe}}{{else}}0{{/if}}
                                pessoas na equipe</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row" style="padding: 16px;border-radius: 4px;border: rgba(120,120,120, 0.2) solid 1px">
                        <div class="col-md-3">
                            <label class='col-form-label col-form-label-sm fw-bold'>Instalador Responsável:</label>
                        </div>
                        <div class="col-md-3">
                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type='hidden' name='pinome'
                                value='{{pi.nome}}'>
                            <label class='col-form-label col-form-label-sm'>{{pi.nome}}</label>
                        </div>
                        <div class="col-md-2"
                            style="border: solid 1px; border-width: 1px ;border-color: gray;border-right:brown;border-top:brown;border-bottom:brown;">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Alterar </label>
                                </div>
                                <div class="col-md-7">
                                    <div class='form-check'>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}}
                                            class='form-check-input mt-2' type='checkbox' name='checkIns'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <select {{#if projeto.orcado}}{{else}}disabled{{/if}} class='form-select form-select-sm'
                                name='funins'>
                                {{#each instalador}}
                                <option value='{{_id}}'>{{nome}}</option>
                                {{else}}
                                <option>Nenhum projetista cadastrado</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            -->

        <div class="row">
            <div class="col-md-8">
                <div class="row mt-2">
                    <div class="col-md-2">
                        <div class="row" style="margin-top: 4%;">
                            <input type='hidden' name='temArmazenamento' value='{{projeto.temArmazenamento}}'>
                            <input type='hidden' name='temPainel' value='{{projeto.temPainel}}'>
                            <div class="col-md-6">
                                <div class="form-check" onchange="selecionar()">
                                    <input class="form-check-input" style="margin-top: 0px;" type="radio" name="select" id="selectHora"
                                        {{checkHora}}>
                                    <label class="form-check-label" style="font-size: 12px;">
                                        R$/hora
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 12%;">
                                <div class="form-check" onchange="selecionar()">
                                    <input class="form-check-input" style="margin-top: 0px;" type="radio" name="select" id="selectDia"
                                        {{checkDia}}>
                                    <label class="form-check-label" style="font-size: 12px;">
                                        R$/dia
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <input type='hidden' name='selecionado' id='selecionado' value='{{projeto.tipoCustoIns}}'>
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="{{typeHri}}" name="vlrhri"
                            id='vlrhri'
                            value='{{#if projeto.vlrhri}}{{projeto.vlrhri}}{{else}}{{configuracao.vlrhri}}{{/if}}'
                            class='form-control form-control-sm'>
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="{{typeDri}}" name="vlrdri"
                            id='vlrdri'
                            value='{{#if projeto.vlrdri}}{{projeto.vlrdri}}{{else}}{{configuracao.vlrdri}}{{/if}}'
                            class='form-control form-control-sm'>
                    </div>
                    <div class="col-md-3 mt-1" style="padding-left: 20px;">
                        <label class='col-form-label col-form-label-sm fw-bold' style="display: {{displayTda}};" id='displayTda'>Total de dias das atividades:</label>
                    </div>
                    <div class="col-md-1">
                        <input type="{{typeIns}}" name="diasIns"
                            id='diasIns' value='{{projeto.diasIns}}' step='0.010' class='form-control form-control-sm'>                        
                    </div>                    
                    {{#if projeto.funres}}
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <label class='col-form-label col-form-label-sm fw-bold'>Instalador
                                    Responsável:</label>
                            </div>
                            <div class="col-md-6">
                                <label class='col-form-label col-form-label-sm'>{{instalador.nome}}</label>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 text-end">
                                <label for="aterramento"
                                    class="col-form-label col-form-label-sm fw-bold">Atividades</label><br>
                            </div>
                            <div class="col text-center">
                                <label for="unidade" class="col-form-label col-form-label-sm fw-bold">Unidade</label>
                            </div>
                            <div class="col text-center" id='tempo'>
                                <label for="trabalho" class="col-form-label col-form-label-sm fw-bold" id='tempo'>Tempo</label>
                            </div>
                            <div class="col text-center">
                                <label for="total" class="col-form-label col-form-label-sm fw-bold">Pessoas</label>
                            </div>
                            <div class="col-md-3 text-center">
                                <label for="total" class="col-form-label col-form-label-sm fw-bold">Total</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-end">
                                <label for="aterramento"
                                    class="fw-bold col-form-label col-form-label-sm">Aterramento:</label>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number" name="uniatr"
                                        id='uniatr' value='{{projeto.uniatr}}' class='form-control'>
                                </div>
                            </div>
                            <div class="col" id="trbatrcol">
                                <div class="input-group input-group-sm" >
                                    <input type='number' {{disabledAtr}} name='trbatr' step='0.010' id="trbatr" value='{{projeto.trbatr}}'
                                         class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input type="number" name='equatr' id="equatr" value='{{projeto.equatr}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group input-group-sm ">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="number" class="form-control" name='totatr' id="totatr"
                                        value='{{projeto.totatr}}' aria-label='R$'>
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3 text-end">
                                <label class="fw-bold col-form-label col-form-label-sm">Inversor
                                    (Instal/Config): <br> </label>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number" name='uniinv'
                                        id="uniinv" value='{{projeto.uniinv}}' class="form-control">
                                </div>
                            </div>
                            <div class="col" id="trbinvcol">
                                <div class="input-group input-group-sm ">
                                    <input type="number" {{disabledInv}} name='trbinv' step='0.010' id="trbinv" value='{{projeto.trbinv}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input type="number" name='equinv' id="equinv" value='{{projeto.equinv}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group input-group-sm ">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="text" class="form-control" name='totinv' id="totinv"
                                        value='{{projeto.totinv}}' aria-label="R$ " disable>
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3 text-end">
                                <label class="fw-bold col-form-label col-form-label-sm">String Box:</label>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number" name='unistb'
                                        id="unistb" value='{{projeto.unistb}}' class="form-control">
                                </div>
                            </div>
                            <div class="col" id="trbstbcol">
                                <div class="input-group input-group-sm ">
                                    <input type="number" {{disabledStb}} name='trbstb' step='0.010' id="trbstb" value='{{projeto.trbstb}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input type="number" name='equstb' id="equstb" value='{{projeto.equstb}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group input-group-sm ">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="text" class="form-control" name='totstb' id="totstb"
                                        value='{{projeto.totstb}}' aria-label="R$ " disable>
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>

                        {{#if projeto.temArmazenamento}}
                        <div class="row mt-2">
                            <div class="col-md-3 text-end">
                                <label class="fw-bold col-form-label col-form-label-sm">Estação de Baterias:</label>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm">
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text" name='unieae'
                                        id="unipnl" value='{{projeto.unieae}}' class="form-control">
                                </div>
                            </div>
                            <div class="col" id="trbeaecol">
                                <div class="input-group input-group-sm">
                                    <input type="number" {{disabledEae}} name='trbeae' step='0.010' id="trbeae" value='{{projeto.trbeae}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input type="number" name='equeae' id="equeae" value='{{projeto.equeae}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="text" class="form-control" name='toteae' id="toteae"
                                        value='{{projeto.toteae}}' aria-label="R$ " disable>
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        {{/if}}

                        {{#if projeto.temPainel}}
                        <div class="row mt-2">
                            <div class="col-md-3 text-end">
                                <label class="fw-bold col-form-label col-form-label-sm">Painél Elétrico:</label>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text" name='unipnl'
                                        id="unipnl" value='{{projeto.unipnl}}' class="form-control">
                                </div>
                            </div>
                            <div class="col" id="trbpnlcol">
                                <div class="input-group input-group-sm ">
                                    <input type="number" {{disabledPnl}} name='trbpnl' step='0.010' id="trbpnl" value='{{projeto.trbpnl}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input type="number" name='equpnl' id="equpnl" value='{{projeto.equpnl}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group input-group-sm ">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="text" class="form-control" name='totpnl' id="totpnl"
                                        value='{{projeto.totpnl}}' aria-label="R$ " disable>
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        <div class="row mt-2">
                            <div class="col-md-3 text-end">
                                <label for="estrutura" class="fw-bold col-form-label col-form-label-sm">Estrutura:<i
                                        class='bi bi-info-circle' onmousemove="infoEstrutura()"></i></label>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number" name="uniest"
                                        id='uniest' value='{{projeto.uniest}}' class='form-control'>
                                </div>
                            </div>
                            <div class="col" id='trbestcol'>
                                <div class="input-group input-group-sm ">
                                    <input type="number" {{disabledEst}} name='trbest' step='0.010' id='trbest' value='{{projeto.trbest}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm ">
                                    <input type="number" name='equest' id="equest" value='{{projeto.equest}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group input-group-sm ">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="number" class="form-control" name='totest' id="totest"
                                        value='{{projeto.totest}}' aria-label='R$'>
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3 text-end">
                                <label class="fw-bold col-form-label col-form-label-sm">Módulos e
                                    Conexões:</label>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm">
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number" name='unimod'
                                        id="unimod" value='{{projeto.unimod}}' class='form-control'>
                                </div>
                            </div>
                            <div class="col" id='trbmodcol'>
                                <div class="input-group input-group-sm">
                                    <input type="number" {{disabledMod}} name='trbmod' step='0.010' id='trbmod' value='{{projeto.trbmod}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm">
                                    <input type="number" name='equmod' id="equmod" value='{{projeto.equmod}}'
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">$</span>
                                    <input disabled type="number" class="form-control" name='totmod' id="totmod"
                                        value='{{projeto.totmod}}' aria-label="R$ ">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>Deslocamento</label>
                    </div>
                    <div class="col-md-1 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold' id='lblDes'>{{lblDes}}</label>
                    </div>
                    <div class="col-md-2">
                        <input class='form-control form-control-sm' name='desIns' value='{{projeto.desIns}}' type='number' step='0.010'>
                    </div>
                    <div class="col-md-4 text-start">
                        <label class='col-form-label col-form-label-sm fw-bold'>Total R$ {{projeto.vlrDin}}</label>
                    </div>
                </div>
            </div>
            <div class="col md-4 mt-2">
                <button {{#if projeto.orcado}}{{else}}disabled{{/if}} type="submit" class="btn btn-sm btn-success"
                    style='width: 100%;' name="aplicar"> <i class="bi bi-check-circle"></i> Aplicar</button>
                <div class="caixa text-center mt-2">
                    <label style="margin-top: 35px;font-size: 20px;font-weight: 600;"> Totais </label>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <label style='font-size: 17px;font-weight: bold;'>Custo</label>
                            <div class="quadro-caixa">R$ {{projeto.totint}}</div>
                        </div>
                        <div class="col-md-6">
                            <label style='font-size: 17px;font-weight: bold;display: {{displayHrs}};' id='hrstrb'>Horas
                                de Trabalho</label>
                            <label style='font-size: 17px;font-weight: bold;display: {{displayDia}};' id='diatrb'>Dias
                                de Trabalho</label>
                            {{#if mostraHora}}
                            <div class="quadro-caixa">{{projeto.trbint}}</div>
                            {{else}}
                            <div class="quadro-caixa">{{projeto.diasIns}}</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>