<script>
    function selecionar() {
        var selectHora = document.getElementById('selectHora')
        var selectDia = document.getElementById('selectDia')
        var selecionado = document.getElementById('selecionado')
        var lblDes = document.getElementById('lblDes')
        var vlrhrp = document.getElementById('vlrhrp')
        var vlrdrp = document.getElementById('vlrdrp')
        var hrstrb = document.getElementById('hrstrb')
        var diatrb = document.getElementById('diatrb')
        var diasPro = document.getElementById('diasPro')
        var displayTda = document.getElementById('displayTda')
        var displayHrs = document.getElementById('displayHrs')
        var memorial = document.getElementById('memorial')
        var art = document.getElementById('art')
        var aterramento = document.getElementById('aterramento')
        var distribuicao = document.getElementById('distribuicao')
        var unifilar = document.getElementById('unifilar')
        var situacao = document.getElementById('situacao')
        if (selectHora.checked) {
            selecionado.value = 'hora'
            vlrhrp.type = 'text'
            vlrdrp.type = 'hidden'
            hrstrb.style.display = 'inline'
            diatrb.style.display = 'none'
            diasPro.type = 'hidden'
            displayTda.style.display = 'none'
            memorial.disabled = false
            art.disabled = false
            aterramento.disabled = false
            distribuicao.disabled = false
            unifilar.disabled = false
            situacao.disabled = false
            lblDes.innerHTML = 'Horas:'
        } else {
            selecionado.value = 'dia'
            vlrdrp.type = 'text'
            vlrhrp.type = 'hidden'
            hrstrb.style.display = 'none'
            diatrb.style.display = 'inline'
            diasPro.type = 'text'
            displayTda.style.display = 'inline'
            displayHrs.style.display = 'inline'
            memorial.disabled = true
            art.disabled = true
            aterramento.disabled = true
            distribuicao.disabled = true
            unifilar.disabled = true
            situacao.disabled = true
            lblDes.innerHTML = 'Dias:'
        }
    }
</script>
<style>
    td {
        min-width: 40px;
    }
</style>
<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>
    </div>
    <form action='/customdo/projetista' method="post">

        <input type='hidden' name='id' value='{{projeto._id}}'>

        <div class='btn-group col-12 mx-auto'>
            <a href='/projeto/edicao/{{projeto._id}}/' class='btn btn-sm botao-menu'> <i
                    class="bi bi-house"></i>Projeto</a>
            <a href="/customdo/gestao/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-gear"></i>
                Gestão</a>
            <a href="/customdo/projetista/{{projeto._id}}" class="btn btn-sm botao-menu ativo"><i
                    class="bi bi-pencil"></i>
                Projetista</a>
            <a href="/customdo/instalacao/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-tools"></i>
                Instalação</a>
            <a href="/gerenciamento/gerenciamento/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-puzzle"></i>
                Gerenciamento</a>
            <a href="/gerenciamento/tributos/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-calculator"></i> Tributos</a>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row mt-2">
                    <div class="col-md-2">
                        <div class="row" style="margin-top: 4%;">
                            <div class="col-md-6">
                                <div class="form-check" onchange="selecionar()">
                                    <input class="form-check-input" style="margin-top: 0px;" type="radio" name="select"
                                        id="selectHora" {{checkHora}}>
                                    <label class="form-check-label" style="font-size: 12px;">
                                        R$/hora
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 12%;">
                                <div class="form-check" onchange="selecionar()">
                                    <input class="form-check-input" style="margin-top: 0px;" type="radio" name="select"
                                        id="selectDia" {{checkDia}}>
                                    <label class="form-check-label" style="font-size: 12px;">
                                        R$/dia
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <input type='hidden' name='selecionado' id='selecionado' value='{{projeto.tipoCustoPro}}'>
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="{{typeHrp}}" name="vlrhrp"
                            id='vlrhrp'
                            value='{{#if projeto.vlrhrp}}{{projeto.vlrhrp}}{{else}}{{configuracao.vlrhrp}}{{/if}}'
                            class='form-control form-control-sm'>
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="{{typeDrp}}" name="vlrdrp"
                            id='vlrdrp'
                            value='{{#if projeto.vlrdrp}}{{projeto.vlrdrp}}{{else}}{{configuracao.vlrdrp}}{{/if}}'
                            class='form-control form-control-sm'>
                    </div>
                    <div class="col-md-3 mt-1" style="padding-left: 20px;">
                        <label class='col-form-label col-form-label-sm fw-bold' style="display: {{displayTda}}"
                            id='displayTda'>Total de dias das
                            atividades:</label>
                    </div>
                    <div class="col-md-1">
                        <input type="{{typePro}}" name="diasPro" id='diasPro' value='{{projeto.diasPro}}'
                            class='form-control form-control-sm'>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="fw-bold col-form-label col-form-label-sm">Valor ART: </label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text">$</span>
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                        class="form-control" id="vlrart" name="vlrart" value='{{projeto.vlrart}}'
                                        aria-label="R$ ">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="memorial" class="fw-bold col-form-label col-form-label-sm">Memorial
                                            Descritivo
                                        </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbmem" value='{{projeto.trbmem}}' class="form-control"
                                                id='memorial' {{memorial}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" name="totmem"
                                                value='{{projeto.totmem}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="art" class="fw-bold col-form-label col-form-label-sm">Art
                                        </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbart" value='{{projeto.trbart}}' class="form-control" id='art'
                                                {{art}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" name="totart"
                                                value='{{projeto.totart}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="aterramento"
                                            class="fw-bold col-form-label col-form-label-sm">Diagrama de
                                            Aterramento
                                        </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbate" value='{{projeto.trbate}}' class="form-control"
                                                id='aterramento' {{aterramento}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" name="totate"
                                                value='{{projeto.totate}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="distribuição"
                                            class="fw-bold col-form-label col-form-label-sm">Diagrama de
                                            Distribuição </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbdis" value='{{projeto.trbdis}}' class="form-control"
                                                id='distribuicao' {{distribuicao}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" name="totdis"
                                                value='{{projeto.totdis}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label for="unifilar" class="fw-bold col-form-label col-form-label-sm">Diagrama
                                            Unifilar
                                        </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbuni" value='{{projeto.trbuni}}' class="form-control"
                                                id='unifilar' {{unifilar}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" name="totuni"
                                                value='{{projeto.totuni}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="situacao" class="fw-bold col-form-label col-form-label-sm">Diagrama
                                            de
                                            Situação </label>
                                        <div class="input-group input-group-sm mb-1">
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                                name="trbsit" value='{{projeto.trbsit}}' class="form-control"
                                                id='situacao' {{situacao}}>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="total"
                                            class="col-sm-6 col-form-label col-form-label-sm">Total</label>
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input disabled type="text" class="form-control" name="totsit"
                                                value='{{projeto.totsit}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col md-4 mt-2">
                <button type="submit" class="btn btn-sm btn-success" style='width: 100%;' name="aplicar" {{#if
                    projeto.orcado}}{{else}}disabled{{/if}}> <i class="bi bi-check-circle"></i> Aplicar</button>
                <div class="caixa text-center mt-2" style="height: 230px;">
                    <label style="margin-top: 15px;font-size: 20px;font-weight: 600;"> Totais </label>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <label style='font-size: 17px;font-weight: bold;'>Custo</label>
                            <div class="quadro-caixa">R$ {{projeto.totpro}}</div>
                        </div>
                        <div class="col-md-6">
                            <label style='font-size: 17px;font-weight: bold;display: {{displayHrs}};' id='hrstrb'>Horas
                                de Trabalho</label>
                            <label style='font-size: 17px;font-weight: bold;display: {{displayDia}};' id='diatrb'>Dias
                                de Trabalho</label>
                            {{#if mostraHora}}
                            <div class="quadro-caixa">{{projeto.trbpro}}</div>
                            {{else}}
                            <div class="quadro-caixa">{{projeto.diasPro}}</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="row mt-1">
        <div class="col">
            <label class="col-form-label fw-bold">Memoria Descritivo</label>
            <form action='/customdo/salvarMemorial' enctype="multipart/form-data" method="post">
                <input type='hidden' name='id' value='{{projeto._id}}'>
                <table>
                    <tr>
                        <td>
                            <input class="form-control form-control-sm" type="file" name='memo'>
                            <label for='files'>{{projeto.memorial}}</label>
                        </td>
                        <td>
                            {{#if projeto.memorial}}
                            <div class="col-sm-1">
                                <i class='bi bi-check-all'></i>
                            </div>
                            {{/if}}
                        </td>
                        <td>
                            <button type='submit' class="btn btn-sm btn-success" name='aplicar'><i
                                    class='bi bi-save'></i></button>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" href='/customdo/mostrarMemorial/{{projeto._id}}'
                                target="_blank"><i class='bi bi-eye'></i></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col">
            <label class="col-form-label fw-bold">Diagrama de Distribuição</label>
            <form action='/customdo/salvarDistribuicao' enctype="multipart/form-data" method="post">
                <input type='hidden' name='id' value='{{projeto._id}}'>
                <table>
                    <tr>
                        <td>
                            <input class="form-control form-control-sm" type="file" name='dist'>
                            <label for='files'>{{projeto.distribuicao}}</label>
                        </td>
                        <td>
                            {{#if projeto.distribuicao}}
                            <div class="col-sm-1">
                                <i class='bi bi-check-all'></i>
                            </div>
                            {{/if}}
                        </td>
                        <td>
                            <button type='submit' class="btn btn-sm btn-success" name='aplicar'><i
                                    class='bi bi-save'></i></button>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" href='/customdo/mostrarDistribuicao/{{projeto._id}}'
                                target="_blank"><i class='bi bi-eye'></i></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col">
            <label class="col-form-label fw-bold">ART</label>
            <form action='/customdo/salvarArt' enctype="multipart/form-data" method="post">
                <input type='hidden' name='id' value='{{projeto._id}}'>
                <table>
                    <tr>
                        <td>
                            <input class="form-control form-control-sm" type="file" name='art'>
                            <label for='files'>{{projeto.art}}</label>
                        </td>
                        <td>
                            {{#if projeto.art}}
                            <div class="col-sm-1">
                                <i class='bi bi-check-all'></i>
                            </div>
                            {{/if}}
                        </td>
                        <td>
                            <button type='submit' class="btn btn-sm btn-success" name='aplicar'><i
                                    class='bi bi-save'></i></button>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" href='/customdo/mostrarArt/{{projeto._id}}'
                                target="_blank"><i class='bi bi-eye'></i></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <label class="col-form-label fw-bold">Diagrama Unifilar</label>
            <form action='/customdo/salvarUnifilar' enctype="multipart/form-data" method="post">
                <input type='hidden' name='id' value='{{projeto._id}}'>
                <table>
                    <tr>
                        <td>
                            <input class="form-control form-control-sm" type="file" name='unif'>
                            <label for='files'>{{projeto.unifilar}}</label>
                        </td>
                        <td>
                            {{#if projeto.unifilar}}
                            <div class="col-sm-1">
                                <i class='bi bi-check-all'></i>
                            </div>
                            {{/if}}
                        </td>
                        <td>
                            <button type='submit' class="btn btn-sm btn-success" name='aplicar'><i
                                    class='bi bi-save'></i></button>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" href='/customdo/mostrarUnifilar/{{projeto._id}}'
                                target="_blank"><i class='bi bi-eye'></i></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col">
            <label class="col-form-label fw-bold">Diagrama de Aterramento</label>
            <form action='/customdo/salvarAterramento' enctype="multipart/form-data" method="post">
                <input type='hidden' name='id' value='{{projeto._id}}'>
                <table>
                    <tr>
                        <td>
                            <input class="form-control form-control-sm" type="file" name='ater'>
                            <label for='files'>{{projeto.aterramento}}</label>
                        </td>
                        <td>
                            {{#if projeto.aterramento}}
                            <div class="col-sm-1">
                                <i class='bi bi-check-all'></i>
                            </div>
                            {{/if}}
                        </td>
                        <td>
                            <button type='submit' class="btn btn-sm btn-success" name='aplicar'><i
                                    class='bi bi-save'></i></button>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" href='/customdo/mostrarAterramento/{{projeto._id}}'
                                target="_blank"><i class='bi bi-eye'></i></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col">
            <label class="col-form-label fw-bold">Diagrama de Situação</label>
            <form action='/customdo/salvarSituacao' enctype="multipart/form-data" method="post">
                <input type='hidden' name='id' value='{{projeto._id}}'>
                <table>
                    <tr>
                        <td>
                            <input class="form-control form-control-sm" type="file" name='situ'>
                            <label for='files'>{{projeto.situacao}}</label>
                        </td>
                        <td>
                            {{#if projeto.situacao}}
                            <div class="col-sm-1">
                                <i class='bi bi-check-all'></i>
                            </div>
                            {{/if}}
                        </td>
                        <td>
                            <button type='submit' class="btn btn-sm btn-success" name='aplicar'><i
                                    class='bi bi-save'></i></button>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" href='/customdo/mostrarSituacao/{{projeto._id}}'
                                target="_blank"><i class='bi bi-eye'></i></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

{{!-- <div class="row">
    <div class="col-md-4 text-end">
        <label class='col-form-label col-form-label-sm fw-bold'>Deslocamento</label>
    </div>
    <div class="col-md-1 text-end">
        <label class='col-form-label col-form-label-sm fw-bold' id='lblDes'>{{lblDes}}</label>
    </div>
    <div class="col-md-2">
        <input class='form-control form-control-sm' name='desPro' value='{{projeto.desPro}}'>
    </div>
    <div class="col-md-4 text-start">
        <label class='col-form-label col-form-label-sm fw-bold'>Total R$ {{projeto.vlrDpr}}</label>
    </div>
</div> --}}