<style>
    #header {
        width: 100%;
        border: solid 1px;
        border-color: grey;
        background-color: rgb(40, 55, 86);
    }
       .filtro-selecao{
        width: fit-content;
        height: fit-content;
        background: white;
        border: solid 1px;
        border-radius: 10px;
        margin-left: 5px;
    }
</style>
<div class="container-sm mt-2">
    <div id='header'>
        <div class="row">
            <form action='/pessoa/filtrar' method='post'>
                <div class="col-md-4">
                    <h5 class='mt-2' style="margin-left: 20px; color: white;">Pessoas </h5>
                </div>
                <hr style="color: white;">
                <div class="row" style="margin-left: 10px;">
                    <div class="col mb-2">
                        <label class='col-form-label col-form-label-sm' style="color: white;">Nome</label>
                        <div class="col">
                            <input name='nome' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <label class='col-form-label col-form-label-sm' style="color: white;">UF</label>
                        <div class="col">
                            <input name='uf' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <label class='col-form-label col-form-label-sm' style="color: white;">Cidade</label>
                        <div class="col">
                            <input name='cidade' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <label class='col-form-label col-form-label-sm' style="color: white;">Função</label>
                        <select class="form-select form-select-sm" name='funcao'>
                            <option>Todos</option>
                            <option>Instalador</option>
                            <option>Projetista</option>
                            <option>Gestor</option>
                            <option>Vendedor</option>
                        </select>
                    </div>
                    <div class="col mt-4">
                        <button type='submit' class='botaofiltrar'><i class='bi bi-search icone'></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mb-2">
            <div class='filtro-selecao' style="margin-left: 30px;">Nome: {{nome}}</div>
            <div class='filtro-selecao'>UF: {{uf}}</div>
            <div class='filtro-selecao'>Cidade: {{cidade}}</div>
            <div class='filtro-selecao'>Função: {{funcao}}</div>
        </div>
    </div>


    {{#each pessoas}}
    <div class="card mt-2; margin-bottom: 70px;">
        <div style="padding: 5px;">
            <input type='hidden' name='id' value='{{_id}}'>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-3 col-form-label col-form-label-sm'> Nome:
                        </label>
                        <div class="col">
                            <label class='col-sm-10 col-form-label col-form-label-sm' for='nome'> {{nome}} </label>
                        </div>
                    </div>
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-3 col-form-label col-form-label-sm'> Cidade/UF: </label>
                        <div class="col">
                            <label class='col-sm-10 col-form-label col-form-label-sm' for='nome'> {{cidade}} / {{uf}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <label class='col-form-label col-form-label-sm' for='data'> {{data}} </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-3 col-form-label col-form-label-sm'> E-mail:
                        </label>
                        <div class="col">
                            <label class='col-sm-10 col-form-label col-form-label-sm' for='nome'> {{email}} </label>
                        </div>
                    </div>
                    <div class="row">
                        <label for='nome' class='fw-bold col-sm-3 col-form-label col-form-label-sm'> Celular:
                        </label>
                        <div class="col">
                            <label class='col-sm-10 col-form-label col-form-label-sm' for='nome'> {{celular}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mt-2">
                    <div class='btn-group btn-group-sm gap-2' role='group'>
                        <a href='/pessoa/vermais/{{_id}}' class='botao ativado'><i class="bi bi-eye icone"></i></a>
                        <a href='/pessoa/edicao/{{_id}}' class='botao ativado'> <i class='bi bi-pen icone'></i> </a>
                        <a href='/pessoa/confirmaexclusao/{{_id}}' class="botao ativado"> <i
                                class='bi bi-trash icone'></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h6>Nenhuma pessoa cadastrada</h6>
    {{/each}}
</div>