<style>
    #header {
        width: 100%;
        border-bottom: rgb(40, 55, 86) 0, 1px solid;
        color: rgb(40, 55, 86);
    }

    .filtro-selecao {
        width: fit-content;
        height: fit-content;
        background: white;
        border: solid 1px;
        border-radius: 10px;
        margin-left: 5px;
    }

    table {
        width: 100%;
    }

    th {
        text-align: center;
    }  

    tr {
        font-size: 12px;
        border-bottom: rgba(120, 120, 120, 0.4) solid 1px;
    }
</style>
<div class="container-sm mt-2">
    <div id='header' style="margin-left: 60px;">
        <div class="row">
            <form action='/pessoa/filtrar' method='post'>
                <div class="col-md-4">
                    <h5 class='mt-2'>Pessoas </h5>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <label class='col-form-label col-form-label-sm fw-bold'>Nome</label>
                        <div class="col">
                            <input name='nome' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <label class='col-form-label col-form-label-sm fw-bold'>UF</label>
                        <div class="col">
                            <input name='uf' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <label class='col-form-label col-form-label-sm fw-bold'>Cidade</label>
                        <div class="col">
                            <input name='cidade' type='text' class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <label class='col-form-label col-form-label-sm fw-bold'>Função</label>
                        <select class="form-select form-select-sm" name='funcao'>
                            <option>Todos</option>
                            <option>Instalador</option>
                            <option>Projetista</option>
                            <option>Gestor</option>
                            <option>Vendedor</option>
                        </select>
                    </div>
                    <div class="col mt-4">
                        <button type='submit' class='botaofiltrar'><i class='bi bi-search icone'></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mb-2">
            <div class='filtro-selecao' style="margin-left: 30px;">Nome: {{nome}}</div>
            <div class='filtro-selecao'>UF: {{uf}}</div>
            <div class='filtro-selecao'>Cidade: {{cidade}}</div>
            <div class='filtro-selecao'>Função: {{funcao}}</div>
        </div>
    </div>


    <div style="margin-bottom: 30px;margin-left: 60px;">
        <table>
            <tr>
                <th style="text-align: left;">Nome</th>
                <th> Cidade</th>
                <th> Estado</th>
                <th style="text-align: center;">E-mail</th>
                <th>Celular</th>
            </tr>
            {{#each pessoas}}
            <tr>
                <td>{{nome}}</td>
                <td style="text-align: center;">{{cidade}}</td>
                <td style="text-align: center;">{{uf}}</td>
                <td style="text-align: center;">{{email}}</td>
                <td style="text-align: center;">{{celular}}</td>
                <td>
                    <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                        <a href='/pessoa/vermais/{{_id}}' class='botao ativado'><i class="bi bi-eye icone"></i></a>
                        <a href='/pessoa/edicao/{{_id}}' class='botao ativado'> <i class='bi bi-pen icone'></i> </a>
                        <a href='/pessoa/confirmaexclusao/{{_id}}' class="botao ativado"> <i
                                class='bi bi-trash icone'></i>
                        </a>
                    </div>
                </td>
            </tr>
            {{else}}
            <h6>Nenhuma pessoa cadastrada</h6>
            {{/each}}
        </table>
    </div>
</div>