<style type='text/css'>
    .tamanhodiv {
        width: 70%;
    }
</style>
<script>
    function infoEstrutura() {
        alert('Essa atividade considera a concreatagem das pilastras, a montagem das bases e a fixação dos suportes.')
    }    
</script>
<div class="container mt-4 card tamanhodiv">
    <label for="minutos" class='fw-bold mt-2'> <i class="bi bi-wrench"></i> Configurações básicas de tempo e custos</label>
    <br>
    <form action='/configuracao/novo' method='post'>
        <div class="row mb-4 text-end">
            <div class="col-md-4">
                <label for='slug' class='fw-bold col-form-label col-form-label-sm'> Nome da Configuração: </label><br>
            </div>
            <div class="col-md-5">
                <input id='slug' type='text' name='slug' value='{{configuracoes.slug}}'
                    class='form-control form-control-sm'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <label class='fw-bold col-form-label col-form-label-sm'>Instalação (por minutos)</label>
                <hr>
                <div class='row mb-2 text-end'>
                    <div class="col-md-6">
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> Aterramento: </label><br>
                        <label class="fw-bold col-form-label col-form-label-sm mb-1">Estrutura:<i class='bi bi-info-circle' onmousemove="infoEstrutura()" ></i></label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> Módulos: </label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> Inversores: </label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> String Box: </label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> Estação de Armazenamento: </label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> Painél Elétrico: </label><br>
                    </div>
                    <div class="col-md-6">
                        <input type='number' id='minatr' name='minatr' value='{{configuracoes.minatr}}'
                            class='form-control form-control-sm mb-1'>
                        <input type='number' id='minest' name='minest' value='{{configuracoes.minest}}'
                            class='form-control form-control-sm mb-1'>
                        <input type='number' id='minmod' name='minmod' value='{{configuracoes.minmod}}'
                            class='form-control form-control-sm mb-1'>
                        <input type='number' id='mininv' name='mininv' value='{{configuracoes.mininv}}'
                            class='form-control form-control-sm mb-1'>
                        <input type='number' id='minstb' name='minstb' value='{{configuracoes.minstb}}'
                            class='form-control form-control-sm mb-1'>
                        <input type='number' id='mineae' name='mineae' value='{{configuracoes.mineae}}'
                            class='form-control form-control-sm mb-1'>                            
                        <input type='number' id='minpnl' name='minpnl' value='{{configuracoes.minpnl}}'
                            class='form-control form-control-sm mb-1'>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <label class='fw-bold col-form-label col-form-label-sm'>Custo Hora/R$</label>
                <hr>
                <div class='row mb-2 text-end'>
                    <div class="col-md-6">
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> Projetista:</label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> Gestor: </label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> Instalador:</label>
                    </div>
                    <div class="col-md-6">
                        <input type='number' id='vlrhrp' name='vlrhrp' value='{{configuracoes.vlrhrp}}'
                            class='form-control form-control-sm'>
                        <input type='number' id='vlrhrg' name='vlrhrg' value='{{configuracoes.vlrhrg}}'
                            class='form-control form-control-sm mt-1'>
                        <input type='number' id='vlrhri' name='vlrhri' value='{{configuracoes.vlrhri}}'
                            class='form-control form-control-sm mt-1'>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 text-end">
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> MarkUp(%)</label>
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> Média veículo litros/km:</label>
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'> Horas Efetivas Instalador:</label>
                    </div>
                    <div class="col-md-6">
                        <input type='number' id='markup' name='markup' value='{{configuracoes.markup}}'
                            class='form-control form-control-sm mt-1'>                        
                        <input type='number' id='medkmh' name='medkmh' value='{{configuracoes.medkmh}}'
                            class='form-control form-control-sm mt-1'>
                        <input type='text' id='hrstrb' name='hrstrb' value='{{configuracoes.hrstrb}}'
                            class='form-control form-control-sm mt-1'>
                    </div>
                </div>               
            </div>
        </div>
        <div class="row mt-2">
            <button type='submit' style="width: 100%;" class='btn btn-success tamanhodiv'> Aplicar </button>
        </div>
    </form>
</div>