<style type='text/css'>
    .tamanhodiv {
        width: 700px;
    }
</style>
<script>
    function info_despesas(){
        alert('As despesas administrativas consideram também as despesas comerciais e financieras. Neste campos deverá preencher com os gasto mensais, por exemplo, refernete a aluguel, luz, água, telefone, combustível para visitas, pró-labore, folha fixa das secretárias e vendedores, empréstimos, juros, tarifas, reservas, entre outros. Aqui pode ou não considerar as remunerações dos recursos de custo operacionais.')
    }
    function info_simples(){
        alert('O valor do campo <Projeção de Faturamento Simples> deverá ser preenchido com o valor de faturamento estimado para o ano corrente. Assim, os campos <Fator de Redução> e <DAS> deverão acompanhar  a faixa de faturamento que a projeção da sua empresa está inserida nos Anexos do Simples Nacional.')
    }
</script>
<div class="container mt-2 card">
    <label for="minutos" class='fw-bold mt-2 text-center'> Cadastro de Regime Tributário</label>
    <br>
    <form action='/configuracao/addregime' method='post'>
        <div class="row" style="margin-bottom: 4px;">
            <input type='hidden' name='id' value='{{regime._id}}'>
            <div class="col-md-6">
                <div class="card">
                    <div class="row mt-2">
                        <div class="col-md-2 text-end">
                            <label for='slug' class='fw-bold col-form-label col-form-label-sm'> Nome: </label>
                        </div>
                        <div class="col-md-9">
                            <input id='nome' name='nome' value='{{regime.nome}}' style="margin-left: 7px;"
                                class='form-control form-control-sm'>
                        </div>
                    </div>
                    <div class="row mb-2" style="margin-left: 2px;">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="row">
                                    <label for='regime' class='fw-bold col-md-4 col-form-label col-form-label-sm'>
                                        Regime:
                                    </label>
                                    <div class="col-md-8">
                                        <select name='regime' class='form-select form-select-sm'>
                                            <option style="font-weight: bold;">{{regime.regime}}</option>
                                            <option>MEI</option>
                                            <option>Simples</option>
                                            <option>Lucro Real</option>
                                            <option>Lucro Presumido</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label for='tipo' class='fw-bold col-md-3 col-form-label col-form-label-sm mb-2'>
                                        Tipo:
                                    </label>
                                    <div class="col-md-8">
                                        <select name='tipo' class='form-select form-select-sm'>
                                            <option style="font-weight: bold;">{{regime.tipo}}</option>
                                            <option>Nenhum</option>
                                            <option>Anexo III</option>
                                            <option>Anexo V</option>
                                            <option>Não Cumulativo</option>
                                            <option>Cumulativo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-1 mb-2">
                    <label class='fw-bold col-form-label col-form-label-sm text-center'>Alíquotas </label>
                    <div class="row" style="margin-left: 5px;">
                        <div class="col-md-2">
                            <label class='col-form-label col-form-label-sm mb-1'> DAS: </label><br>
                            <label class='col-form-label col-form-label-sm mb-1'> ISS: </label><br>
                            <label class='col-form-label col-form-label-sm mb-1'> ICMS: </label>
                        </div>
                        <div class="col-md-2">
                            <input type='text' id='alqDAS' name='alqDAS' value='{{regime.alqDAS}}'
                                class='form-control form-control-sm mb-1' placeholder="%">
                            <input type='text' id='alqNFS' name='alqNFS' value='{{regime.alqNFS}}'
                                class='form-control form-control-sm mb-1 ' placeholder="%">
                            <input type='text' id='alqICMS' name='alqICMS' value='{{regime.alqICMS}}'
                                class='form-control form-control-sm mb-1 ' placeholder="%">
                        </div>
                        <div class="col-md-3">
                            <label class='col-form-label col-form-label-sm mb-1'> IRPJ: </label><br>
                            <label class='col-form-label col-form-label-sm mb-1'> IRPJ Adicional: </label><br>
                            <label class='col-form-label col-form-label-sm mb-1'> CSLL: </label><br>
                            <label class='col-form-label col-form-label-sm mb-1'> PIS: </label><br>
                            <label class='col-form-label col-form-label-sm mb-1'> COFINS: </label>
                        </div>
                        <div class="col-md-2">
                            <input type='text' id='alqIRPJ' name='alqIRPJ' value='{{regime.alqIRPJ}}'
                                class='form-control form-control-sm mb-1' placeholder="%">
                            <input type='text' id='alqIRPJAdd' name='alqIRPJAdd' value='{{regime.alqIRPJAdd}}'
                                class='form-control form-control-sm mb-1' placeholder="%">
                            <input type='text' id='alqCSLL' name='alqCSLL' value='{{regime.alqCSLL}}'
                                class='form-control form-control-sm mb-1 ' placeholder="%">
                            <input type='text' id='alqPIS' name='alqPIS' value='{{regime.alqPIS}}'
                                class='form-control form-control-sm mb-1 ' placeholder="%">
                            <input type='text' id='alqCOFINS' name='alqCOFINS' value='{{regime.alqCOFINS}}'
                                class='form-control form-control-sm mb-1' placeholder="%">
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class="row">
                        <div class="col-md-4 text-end">
                            <label class="col-form-label col-form-label-sm">Tipo Despesa: </label>
                        </div>
                        <div class="col-md-7 mb-2" style="margin-left: 8px;">
                            <select class='form-select form-select-sm' name='tipodesp'>
                                <option>Percentual</option>
                                <option>kWp Médios</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-5 text-end">
                        <label class='col-form-label col-form-label-sm mb-2'>Despesas Administrativas<i class='bi bi-info-circle' onmousemove="info_despesas()"></i>:</label><br>
                        <label class='col-form-label col-form-label-sm mb-2'>Percentual Despesas:</label><br>
                        <label class='col-form-label col-form-label-sm'>Média kWp:</label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control form-control-sm mb-2" name='desadm'
                            placeholder="Valor mensal das despesas." value={{regime.desadm}}>
                        <input class="form-control form-control-sm mb-2" name='perdesp'
                            placeholder="Percentual (%) por projeto." value={{regime.perdes}}>
                        <input class="form-control form-control-sm" name='estkwp'
                            placeholder="Estimativa dos kWp mensais." value={{regime.estkwp}}>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <label class='fw-bold col-form-label col-form-label-sm'>Parâmetros </label>
                    <div class="row">
                        <div class="col-md-7">
                            <label class='col-form-label col-form-label-sm fw-bold'>Simples <i class="bi bi-info-circle" onmousemove='info_simples()'></i> </label><br>
                            <label class='col-form-label col-form-label-sm mb-1'> Fator de Redução: </label><br>
                            <label class='col-form-label col-form-label-sm mb-1'> Projeção de Faturamento:</label><br>
                            <hr>
                            <label class='col-form-label col-form-label-sm mb-1'> Projeção de Lucro Real: </label><br>
                            <hr>
                            <label class='col-form-label col-form-label-sm mb-1'> Projeção de Faturamento Lucro
                                Presumido:
                            </label><br>
                            <hr>
                            <label class='col-form-label col-form-label-sm mb-1'> Valor do DAS para MEI: </label>
                        </div>
                        <div class="col-md-5">
                            <div style="margin-top: 10px;"></div><br>
                            <input type='text' id='vlrred' name='vlrred' value='{{regime.vlrred}}'
                                class='form-control form-control-sm mb-1' placeholder="R$" />
                            <input type='text' id='prjFat' name='prjFat' value='{{regime.prjFat}}'
                                class='form-control form-control-sm mb-1' placeholder="R$">
                            <hr>
                            <input type='text' id='prjLR' name='prjLR' value='{{regime.prjLR}}'
                                class='form-control form-control-sm' style="margin-bottom: 20px;" placeholder="R$">
                            <hr>
                            <input type='text' id='prjLP' name='prjLP' value='{{regime.prjLP}}'
                                class='form-control form-control-sm' style="margin-bottom: 20px;" placeholder="R$">
                            <hr>
                            <input type='text' id='vlrDAS' name='vlrDAS' value='{{regime.vlrDAS}}'
                                class='form-control form-control-sm mb-1' placeholder="R$">
                        </div>
                        <div class="row mt-4">
                            <button type='submit' class='btn btn-sm btn-success mx-auto mb-3'> Aplicar </button>
                        </div>
                        <label style="color: red;">Para o sistema calcular os tributos do projeto é necessário inserir
                            <br>
                            as alíquotas de acordo com seu Regime Tributário.</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>