<style type='text/css'>
    .tamanhodiv {
        width: 40%;
    }
</style>

<div class="container mt-4 card tamanhodiv">
    <label for="minutos" class='fw-bold mt-2'> <i class="bi bi-wrench"></i> Configurações básicas</label>
    <br>
    <form action='/configuracao/editconfiguracao/' method='post'>
        <input type="hidden" name='id' value='{{configuracoes._id}}'>
        <div class="row mb-2 text-end">
            <div class="col-md-2">
                <label for='slug' class='fw-bold col-form-label col-form-label-sm'> Apelido: </label><br>
                <label for='potencia' class='fw-bold col-form-label col-form-label-sm'> Potência: </label>
            </div>
            <div class="col-md-5">
                <input id='slug' type='text' name='slug' value='{{configuracoes.slug}}'
                    class='form-control form-control-sm'>
                <input id='potencia' type='text' name='potencia' value='{{configuracoes.potencia}}'
                    class='form-control form-control-sm'>
            </div>
        </div>
        <div class="container col card">
            <label class='fw-bold col-form-label col-form-label-sm'>Instalação (por minutos)</label>
            <hr>
            <div class='row mb-2 text-end'>
                <div class="col-md-5">
                    <label class='fw-bold col-form-label col-form-label-sm mb-1'> Aterramento: </label><br>
                    <label class='fw-bold col-form-label col-form-label-sm mb-1'> Estrutura: </label><br>
                    <label class='fw-bold col-form-label col-form-label-sm mb-1'> Módulos: </label><br>
                    <label class='fw-bold col-form-label col-form-label-sm mb-1'> Inversores: </label><br>
                    <label class='fw-bold col-form-label col-form-label-sm mb-1'> Média veículo
                        litros/km:</label>
                </div>
                <div class="col-md-5">
                    <input type='number' id='minatr' name='minatr' value='{{configuracoes.minatr}}'
                        class='form-control form-control-sm mb-1'>
                    <input type='number' id='minest' name='minest' value='{{configuracoes.minest}}'
                        class='form-control form-control-sm mb-1'>
                    <input type='number' id='minmod' name='minmod' value='{{configuracoes.minmod}}'
                        class='form-control form-control-sm mb-1'>
                    <input type='number' id='mininv' name='mininv' value='{{configuracoes.mininv}}'
                        class='form-control form-control-sm mb-1'>
                    <input type='number' id='medkmh' name='medkmh' value='{{configuracoes.medkmh}}'
                        class='form-control form-control-sm mt-1'>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <button type='submit' style="width: 100%;" class='btn btn-success tamanhodiv'> Aplicar </button>
        </div>
    </form>

</div>