<style type='text/css'>
    .tamanhodiv {
        width: 700px;
    }
</style>

<div class="container mt-4 card tamanhodiv">
    <label for="minutos" class='fw-bold mt-2'> <i class="bi bi-wrench"></i> Editar configurações básicas</label>
    <br>
    <form action='/configuracao/editconfiguracao' class='row g-3' method='post'>
    <input type='hidden' name='id' value='{{configuracoes._id}}'>
        <div class="container-sm">
            <div class="row mb-2">
                <label for='slug' class='fw-bold col-sm-2 col-form-label col-form-label-sm'> Apelido: </label>
                <div class="col-sm-5">
                    <input id='slug' name='slug' value='{{configuracoes.slug}}' class='form-control form-control-sm'>
                </div>
            </div>

            <div class="row">
                <label for='potencia' class='fw-bold col-sm-2 col-form-label col-form-label-sm'> Potência: </label>
                <div class="col-sm-5">
                    <input id='potenia' name='potencia' value='{{configuracoes.potencia}}'
                        class='form-control form-control-sm'>
                </div>
            </div>
        </div>
        <div class="col">
            <div class=" container col card">
                <label class='fw-bold col-form-label col-form-label-sm'>Instalação (por minutos)</label>
                <hr>
                <div class='row mb-2'>
                    <label class='fw-bold col-sm-6 col-form-label col-form-label-sm'> Estrutura: </label>
                    <div class="col-sm-4">
                        <input id='minest' name='minest' value='{{configuracoes.minest}}'
                            class='form-control form-control-sm'>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class='fw-bold col-sm-6 col-form-label col-form-label-sm'> Módulos: </label>
                    <div class="col-sm-4">
                        <input id='minmod' name='minmod' value='{{configuracoes.minmod}}'
                            class='form-control form-control-sm'>
                    </div>
                </div>
                <div class="row">
                    <label class='fw-bold col-sm-6 col-form-label col-form-label-sm'> Inversores: </label>
                    <div class="col-sm-4">
                        <input id='mininv' name='mininv' value='{{configuracoes.mininv}}'
                            class='form-control form-control-sm mb-2'>
                    </div>
                </div>
            </div>
            <div class="container col card mt-2">
                <div class="row">
                    <label class='fw-bold col-sm-6 col-form-label col-form-label-sm mt-2'> Média veículo litros/km: </label>
                    <div class="col-sm-4">
                        <input type='number' id='medkmh' name='medkmh' value='{{configuracoes.medkmh}}'
                            class='form-control form-control-sm mt-2 mb-2'>
                    </div>
                </div>
            </div>
        </div>

        <button type='submit' class='btn btn-success tamanhodiv'> Aplicar </button>

    </form>
</div>