<style type='text/css'>
    .tamanhodiv {
        width: 700px;
    }
</style>
<script>
    function info_despesas() {
        alert('As despesas administrativas consideram também as despesas comerciais e financieras. Neste campos deverá preencher com os gasto mensais, por exemplo, refernete a aluguel, luz, água, telefone, combustível para visitas, pró-labore, folha fixa das secretárias e vendedores, empréstimos, juros, tarifas, reservas, entre outros. Aqui pode ou não considerar as remunerações dos recursos de custo operacionais.')
    }
    function info_simples() {
        alert('O valor do campo <Projeção de Faturamento Simples> deverá ser preenchido com o valor de faturamento estimado para o ano corrente. Assim, os campos <Fator de Redução> e <DAS> deverão acompanhar  a faixa de faturamento que a projeção da sua empresa está inserida nos Anexos do Simples Nacional.')
    }
    function valida_cnpj() {
        var cnpj = document.getElementById('cnpj')

        if (cnpj.value.length == 2 || cnpj.value.length == 6) {
            cnpj.value += '.'
        }
        if (cnpj.value.length == 10) {
            cnpj.value += '/'
        }
        if (cnpj.value.length == 15) {
            cnpj.value += '-'
        }

        if (cnpj.value.length == 18) {

            var d1 = cnpj.value
            var p1 = d1.substring(0, 2)
            var p2 = d1.substring(3, 6)
            var p3 = d1.substring(7, 10)
            var p4 = d1.substring(11, 15)
            var p5 = d1.substring(16, 18)
            var numdoc = p1 + p2 + p3 + p4 + p5

            if (numdoc == "00000000000000" ||
                numdoc == "11111111111111" ||
                numdoc == "22222222222222" ||
                numdoc == "33333333333333" ||
                numdoc == "44444444444444" ||
                numdoc == "55555555555555" ||
                numdoc == "66666666666666" ||
                numdoc == "77777777777777" ||
                numdoc == "88888888888888" ||
                numdoc == "99999999999999") {
                cnpj.value = ''
            }

            // Valida DVs
            var tamanho = numdoc.length - 2
            var numeros = numdoc.substring(0, tamanho)
            var digitos = numdoc.substring(tamanho)
            var soma = 0
            var pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            var resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(0)) {
                cnpj.value = ''
            }

            tamanho = tamanho + 1;
            numeros = numdoc.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(1)) {
                cnpj.value = ''
            }
        }
    }
    function selecionar() {
        var selectQtd = document.getElementById('selectQtd')
        var selectKwp = document.getElementById('selectKwp')
        var selecionado = document.getElementById('selecionado')
        var perdes = document.getElementById('perdes')
        var estkwp = document.getElementById('estkwp')
        var perlabel = document.getElementById('perlabel')
        var kwplabel = document.getElementById('kwplabel')
        if (selectQtd.checked) {
            selecionado.value = 'quantidade'
            perdes.type = 'text'
            estkwp.type = 'hidden'
            perlabel.style.display = ''
            kwplabel.style.display = 'none'
        } else {
            selecionado.value = 'potencia'
            estkwp.type = 'text'
            perdes.type = 'hidden'
            perlabel.style.display = 'none'
            kwplabel.style.display = ''
        }
    }
    function selecionaRegime() {
        var regime = document.getElementById('regime')
        var tipo = document.getElementById('tipo')
        var simples = document.getElementById('simples')
        var real = document.getElementById('real')
        var presumido = document.getElementById('presumido')
        var dasMEI = document.getElementById('dasMEI')
        var labelMEI = document.getElementById('labelMEI')
        var alqDAS = document.getElementById('alqDAS')
        var labelDAS = document.getElementById('labelDAS')
        var alqISS = document.getElementById('alqISS')
        var labelISS = document.getElementById('labelISS')
        var alqICMS = document.getElementById('alqICMS')
        var labelICMS = document.getElementById('labelICMS')
        var alqIRPJ = document.getElementById('alqIRPJ')
        var labelIRPJ = document.getElementById('labelIRPJ')
        var alqIRPJAdd = document.getElementById('alqIRPJAdd')
        var labelIRPJAdd = document.getElementById('labelIRPJAdd')
        var alqPIS = document.getElementById('alqPIS')
        var labelPIS = document.getElementById('labelPIS')
        var alqCOFINS = document.getElementById('alqCOFINS')
        var labelCOFINS = document.getElementById('labelCOFINS')
        var alqCSLL = document.getElementById('alqCSLL')
        var labelCSLL = document.getElementById('labelCSLL')

        alqISS.style.display = 'inline'
        labelISS.style.display = 'inline'
        alqICMS.style.display = 'inline'
        labelICMS.style.display = 'inline'
        alqIRPJ.type = 'hidden'
        labelIRPJ.style.display = 'none'
        alqIRPJAdd.type = 'hidden'
        labelIRPJAdd.style.display = 'none'
        alqPIS.type = 'hidden'
        labelPIS.style.display = 'none'
        alqCOFINS.type = 'hidden'
        labelCOFINS.style.display = 'none'
        alqCSLL.type = 'hidden'
        labelCSLL.style.display = 'none'
        alqDAS.style.display = 'none'
        labelDAS.style.display = 'none'
        dasMEI.style.display = 'none'
        labelMEI.style.display = 'none'

        if (regime.value == 'Simples') {
            if (tipo.value == 'Anexo III') {
                alqDAS.style.display = 'inline'
                labelDAS.style.display = 'inline'
                dasMEI.style.display = 'none'
                labelMEI.style.display = 'none'
                real.value = 0
                presumido.value = 0
            } else {
                if (tipo.value == 'Anexo V') {
                    alqDAS.style.display = 'inline'
                    labelDAS.style.display = 'inline'
                    dasMEI.style.display = 'none'
                    labelMEI.style.display = 'none'
                    real.value = 0
                    presumido.value = 0
                    presumido.value = 0
                }
            }
        } else {
            if (regime.value == 'MEI') {
                tipo.value = 'Nenhum'
                alqDAS.type = 'hideen'
                labelDAS.style.display = 'none'
                dasMEI.style.display = 'inline'
                labelMEI.style.display = 'inline'
                real.value = 0
                presumido.value = 0
                simples.value = 0
            } else {
                if (regime.value == 'Lucro Real') {
                    tipo.value = 'Não Cumulativo'
                    alqDAS.style.display = 'none'
                    labelDAS.style.display = 'none'
                    dasMEI.style.display = 'none'
                    labelMEI.style.display = 'none'
                    alqIRPJ.type = 'text'
                    alqIRPJ.value = '15'
                    labelIRPJ.style.display = 'inline'
                    alqIRPJAdd.type = 'text'
                    labelIRPJAdd.style.display = 'inline'
                    alqPIS.type = 'text'
                    alqPIS.value = '1.65'
                    labelPIS.style.display = 'inline'
                    alqCOFINS.type = 'text'
                    alqCOFINS.value = '7.6'
                    labelCOFINS.style.display = 'inline'
                    alqCSLL.type = 'text'
                    alqCSLL.value = '9'
                    labelCSLL.style.display = 'inline'
                    simples.value = 0
                    presumido.value = 0
                } else {
                    if (regime.value == 'Lucro Presumido') {
                        tipo.value = 'Cumulativo'
                        alqDAS.style.display = 'none'
                        labelDAS.style.display = 'none'
                        dasMEI.style.display = 'none'
                        labelMEI.style.display = 'none'
                        alqIRPJ.type = 'text'
                        alqIRPJ.value = '15'
                        labelIRPJ.style.display = 'inline'
                        alqIRPJAdd.type = 'text'
                        labelIRPJAdd.style.display = 'inline'
                        alqPIS.type = 'text'
                        alqPIS.value = '0.65'
                        labelPIS.style.display = 'inline'
                        alqCOFINS.type = 'text'
                        alqCOFINS.value = '3'
                        labelCOFINS.style.display = 'inline'
                        alqCSLL.type = 'text'
                        alqCSLL.value = '9'
                        labelCSLL.style.display = 'inline'
                        real.value = 0
                        simples.value = 0
                    }
                }
            }
        }
        document.getElementById('focoISS').focus()
    }

    function aplicar() {
        //Matriz de niveis do regime Simples Nacional
        var faturamento = document.getElementById('prjFat')
        var vlrDeducao = document.getElementById('vlrred')
        var tipo = document.getElementById('tipo')
        var alqDasVlr = document.getElementById('alqDasVlr')

        var simplesiii = [
            { faixa: 1, aliquota: 6, deducao: 0, recini: 0, recfim: 180000 },
            { faixa: 2, aliquota: 11.20, deducao: 9360, recini: 180001, recfim: 360000 },
            { faixa: 3, aliquota: 13.5, deducao: 17640, recini: 360001, recfim: 720000 },
            { faixa: 4, aliquota: 16, deducao: 35640, recini: 720001, recfim: 1800000 },
            { faixa: 5, aliquota: 21, deducao: 125640, recini: 1800001, recfim: 3600000 },
            { faixa: 6, aliquota: 33, deducao: 64800, recini: 3600001, recfim: 4800000 }
        ]
        var simplesv = [
            { faixa: 1, aliquota: 15.5, deducao: 0, recini: 0, recfim: 180000 },
            { faixa: 2, aliquota: 18, deducao: 4500, recini: 180001, recfim: 360000 },
            { faixa: 3, aliquota: 19.5, deducao: 9900, recini: 360001, recfim: 720000 },
            { faixa: 4, aliquota: 20.5, deducao: 17100, recini: 720001, recfim: 1800000 },
            { faixa: 5, aliquota: 23, deducao: 62100, recini: 1800001, recfim: 3600000 },
            { faixa: 6, aliquota: 30.5, deducao: 540000, recini: 3600001, recfim: 4800000 }
        ]

        if (regime.value == 'Simples') {
            if (tipo.value == 'Anexo III') {

                simplesiii.forEach((element) => {
                    const { recini } = element
                    const { recfim } = element
                    const { aliquota } = element
                    const { deducao } = element
                    if (faturamento.value > recini && faturamento.value <= recfim) {
                        alqDasVlr.value = aliquota
                        vlrDeducao.value = deducao
                    }
                })
            }
            if (tipo.value == 'Anexo V') {

                simplesv.forEach((element) => {
                    const { recini } = element
                    const { recfim } = element
                    const { aliquota } = element
                    const { deducao } = element
                    if (faturamento.value > recini && faturamento.value <= recfim) {

                        alqDasVlr.value = aliquota
                        vlrDeducao.value = deducao
                    }
                })
            }
        }
    }
</script>
<div class="container mt-2 card">
    <label class="mt-2" style='font-weight: bold;font-size:20px'>Empresa</label>
    <br>
    <form {{#if empresa._id}}action='/configuracao/editempresa' {{else}}action='/configuracao/addempresa' {{/if}}
        method='post'>
        <div class="row" style="margin-bottom: 4px;">
            <input type='hidden' name='id' value='{{empresa._id}}'>
            <div class="col-md-6">
                <div class="card">
                    <div class="row mt-1 mb-1">
                        <div class="col-md-3 text-end">
                            <label class='fw-bold col-form-label col-form-label-sm'> Nome: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> CNPJ: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> Endereço: </label><br>
                            <label class='fw-bold col-form-label col-form-label-sm mt-1'> Telefone: </label><br>
                        </div>
                        <div class="col-md-8">
                            <input id='nome' name='nome' value='{{empresa.nome}}'
                                class='form-control form-control-sm mt-1'>
                            <input id='cnpj' name='cnpj' value='{{empresa.cnpj}}'
                                class='form-control form-control-sm mt-1' onkeyup="valida_cnpj()">
                            <input id='cnpj' name='endereco' value='{{empresa.endereco}}'
                                class='form-control form-control-sm mt-1'>
                            <input id='cnpj' name='telefone' value='{{empresa.telefone}}'
                                class='form-control form-control-sm mt-1'>
                        </div>
                    </div>
                    <div class="row" style="padding: 8px;">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 text-end">
                                    <label class='fw-bold col-form-label col-form-label-sm'>
                                        Regime:
                                    </label>
                                </div>
                                <div class="col-md-9">
                                    <select name='regime' class='form-select form-select-sm' id='regime'
                                        onchange="selecionaRegime()">
                                        <option style="font-weight: bold;">{{empresa.regime}}</option>
                                        <option>MEI</option>
                                        <option>Simples</option>
                                        <option>Lucro Real</option>
                                        <option>Lucro Presumido</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 text-end">
                                    <label for='tipo' class='fw-bold col-form-label col-form-label-sm mb-2'>
                                        Tipo:
                                    </label>
                                </div>
                                <div class="col-md-9">
                                    <select name='tipo' class='form-select form-select-sm' id='tipo'
                                        onchange="selecionaRegime()">
                                        <option style="font-weight: bold;">{{empresa.tipo}}</option>
                                        <option>Nenhum</option>
                                        <option id='anexoiii'>Anexo III</option>
                                        <option id='anexov'>Anexo V</option>
                                        <option>Não Cumulativo</option>
                                        <option>Cumulativo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-1 mb-2">
                    <label class='fw-bold col-form-label col-form-label-sm text-center'>Alíquotas </label>
                    <input type="hidden" name='selregime' id='selregime' value=''>
                    <div class="row">
                        <div class="row mb-2">
                            <div class="col-md-1" id='labelISS' style="padding-left: 3%;display: {{labelISS}}">
                                <label class='col-form-label col-form-label-sm mb-1'> ISS: </label><br>
                            </div>
                            <div class="col-md-2" id='alqISS' style="display: {{alqISS}};">
                                <input type='text' name='alqNFS' id='focoISS' value='{{empresa.alqNFS}}'
                                    class='form-control form-control-sm mb-1 ' placeholder="%">
                            </div>
                            <div class="col-md-1" id='labelICMS' style="display: {{labelICMS}};">
                                <label class='col-form-label col-form-label-sm mb-1'> ICMS: </label>
                            </div>
                            <div class="col-md-2" id='alqICMS' style="display: {{alqICMS}};">
                                <input type='text' name='alqICMS' value='{{empresa.alqICMS}}'
                                    class='form-control form-control-sm mb-1 ' placeholder="%">
                            </div>
                            <div class="col-md-1" id='labelDAS' style="display: {{labelDAS}};">
                                <label class='col-form-label col-form-label-sm mb-1'> DAS: </label><br>
                            </div>
                            <div class="col-md-2" id='alqDAS' style="display: {{alqDAS}};">
                                <input type='text' name='alqDAS' id='alqDasVlr' value='{{empresa.alqDAS}}'
                                    class='form-control form-control-sm mb-1' placeholder="%">
                            </div>
                            <div class="col-md-1" id='labelMEI' style="display: {{labelMEI}};">
                                <label class='col-form-label col-form-label-sm mb-1'> MEI: </label>
                            </div>
                            <div class="col-md-2" id='dasMEI' style="display: {{dasMEI}};">
                                <input type='text' name='vlrDAS' value='{{empresa.vlrDAS}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-end">
                                <label class='col-form-label col-form-label-sm mb-1' id='labelIRPJ'
                                    style="display: {{labelIRPJ}};"> IRPJ: </label><br>
                            </div>
                            <div class="col-md-2" style="display: false;">
                                <input type='{{alqIRPJ}}' id='alqIRPJ' name='alqIRPJ' value='{{empresa.alqIRPJ}}'
                                    class='form-control form-control-sm mb-1' placeholder="%">
                            </div>
                            <div class="col-md-3 text-end">
                                <label class='col-form-label col-form-label-sm mb-1' id='labelIRPJAdd'
                                    style="display: {{labelIRPJAdd}};"> IRPJ Adicional: </label><br>
                            </div>
                            <div class="col-md-2 text-end">
                                <input type='{{alqIRPJAdd}}' id='alqIRPJAdd' name='alqIRPJAdd'
                                    value='{{empresa.alqIRPJAdd}}' class='form-control form-control-sm mb-1'
                                    placeholder="%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-end">
                                <label class='col-form-label col-form-label-sm mb-1' id='labelCOFINS'
                                    style="display: {{labelCOFINS}};"> COFINS: </label><br>
                            </div>
                            <div class="col-md-2" style="display: false;">
                                <input type='{{alqCOFINS}}' id='alqCOFINS' name='alqCOFINS'
                                    value='{{empresa.alqCOFINS}}' class='form-control form-control-sm mb-1'
                                    placeholder="%">
                            </div>
                            <div class="col-md-3 text-end">
                                <label class='col-form-label col-form-label-sm mb-1' id='labelPIS'
                                    style="display: {{labelPIS}}"> PIS: </label><br>
                            </div>
                            <div class="col-md-2 text-end">
                                <input type='{{alqPIS}}' id='alqPIS' name='alqPIS' value='{{empresa.alqPIS}}'
                                    class='form-control form-control-sm mb-1 ' placeholder="%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-end">
                                <label class='col-form-label col-form-label-sm mb-1' id='labelCSLL'
                                    style="display: {{labelCSLL}};"> CSLL: </label>
                            </div>
                            <div class="col-md-2" style="display: false;">
                                <input type='{{alqCSLL}}' id='alqCSLL' name='alqCSLL' value='{{empresa.alqCSLL}}'
                                    class='form-control form-control-sm mb-1 ' placeholder="%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class="row">
                        <div class="col-md-5 text-end">
                            <label class="col-form-label col-form-label-sm fw-bold">Rateio de Despesas</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check" onchange="selecionar()">
                                <input class="form-check-input" type="radio" name="select" id="selectQtd" {{checkQtd}}>
                                <label class="form-check-label mt-2" style="font-size: 12px;">
                                    Quantidade Projetos
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check" onchange="selecionar()">
                                <input class="form-check-input" type="radio" name="select" id="selectKwp" {{checkKwp}}>
                                <label class="form-check-label mt-2" style="font-size: 12px;">
                                    Potência Mês
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 2%">
                        <input type="hidden" id='selecionado' name='selecionado'>
                        <div class="col-md-5 text-end">
                            <label class='col-form-label col-form-label-sm'>Despesas Administrativas <i
                                    class='bi bi-info-circle' onmousemove="info_despesas()"></i>:</label><br>
                            <label class='col-form-label col-form-label-sm mt-1' id='perlabel'
                                style="display:{{displayQtd}}">Percentual Despesas:</label>
                            <label class='col-form-label col-form-label-sm mt-1' id='kwplabel'
                                style="display:{{displayKwp}}">Média kWp:</label>
                        </div>
                        <div class="col-md-5">
                            <input class="form-control form-control-sm" name='desadm'
                                placeholder="Valor mensal das despesas." value={{empresa.desadm}}>
                            <input type='{{typeQtd}}' class="form-control form-control-sm mt-1" name='perdes'
                                id='perdes' placeholder="Percentual (%) por projeto." value={{empresa.perdes}}>
                            <input type='{{typeKwp}}' class="form-control form-control-sm mt-1" name='estkwp'
                                id='estkwp' placeholder="Estimativa dos kWp mensais." value={{empresa.estkwp}}>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <label class='fw-bold col-form-label col-form-label-sm'>Parâmetros </label>
                    <div class="row">
                        <div class="col-md-7 text-end">
                            <label class='col-form-label col-form-label-sm fw-bold'>Simples <i class="bi bi-info-circle"
                                    onmousemove='info_simples()'></i> </label><br>
                            <label class='col-form-label col-form-label-sm mb-1'> Fator de Dedução: </label><br>
                            <label class='col-form-label col-form-label-sm'> Projeção de Faturamento:</label><br>
                            <hr>
                            <label class='col-form-label col-form-label-sm mb-1'> Projeção de Lucro Real: </label><br>
                            <hr>
                            <label class='col-form-label col-form-label-sm mb-1'> Projeção de Faturamento Lucro
                                Presumido:
                            </label>
                            <hr>
                            <label class='col-form-label col-form-label-sm mb-1 mt-2'> MarkUp(%):</label>
                        </div>
                        <div class="col-md-5">
                            <div style="margin-top: 10px;"></div><br>
                            <input type='number' id='vlrred' name='vlrred' value='{{empresa.vlrred}}'
                                class='form-control form-control-sm mb-1' placeholder="R$" />
                            <input type='text' id='prjFat' name='prjFat' id='simples' value='{{empresa.prjFat}}'
                                onkeydown='aplicar()' class='form-control form-control-sm mb-1' placeholder="R$">
                            <hr>
                            <input type='text' id='prjLR' name='prjLR' id='real' value='{{empresa.prjLR}}'
                                class='form-control form-control-sm' style="margin-bottom: 20px;" placeholder="R$">
                            <hr>
                            <input type='text' id='prjLP' name='prjLP' id='presumido' value='{{empresa.prjLP}}'
                                class='form-control form-control-sm' style="margin-bottom: 20px;" placeholder="R$">
                            <hr>
                            <input type='number' id='markup' name='markup' value='{{empresa.markup}}'
                                class='form-control form-control-sm mt-4'>
                        </div>
                        <hr>
                        <div class='container'>
                            <div class='row'>
                                <div class='col-md-5 text-end'>
                                    <label class='col-form-label col-form-label-sm fw-bold'>Sequência das
                                        Propostas:</label>
                                </div>
                                <div class='col text-start'>
                                    <input type="text" name='seq' class='form-control form-control-sm'
                                        value='{{empresa.seq}}'>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <button type='submit' class='btn btn-sm btn-success mx-auto mb-3' onclick="aplicar()">
                                Aplicar </button>
                        </div>
                        <label style="color: red;">Para o sistema calcular os tributos do projeto é necessário inserir
                            <br>
                            as alíquotas de acordo com seu Regime Tributário.</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>