<style type='text/css'>

    .botao {
        background-color: rgb(40, 55, 86);
        text-shadow: 1px 1px 10px rgb(238, 237, 245);
        border-radius: 40px;
        width: 45px;
        height: 45px;
        padding-top: 2px;
        border: solid 3px;
        font-size: 18px;
        border-top-color: rgb(3, 67, 141);
        border-left-color: rgb(3, 67, 141);
        border-right-color: rgb(205, 223, 245);
        border-bottom-color: rgb(205, 223, 245);
    }

</style>

<div class="container-sm mt-2">
    <div class="header mb-2">
        <h5 style="margin-left: 20px;">Configurações</h5>
    </div>

    {{#each configuracoes}}
    <div class="card mb-1" style="width: 100%">
        <div class="row" style="padding-left: 50px;padding-top: 10px;padding-bottom: 10px;">
            <div class="col-md-3">
                <label for='nome' class='fw-bold col-form-label col-form-label-sm'> Apelido: </label>
                <label class='col-form-label col-form-label-sm'> {{slug}} </label>
            </div>
            <div class="col-md-7">
                <label class='fw-bold col-form-label col-form-label-sm'>Minutos | </label>
                <label class='col-form-label col-form-label-sm'> Aterramento:</label>
                <label for='minatr' class='col-form-label col-form-label-sm'> {{minatr}}</label>
                <label class='col-form-label col-form-label-sm' style="margin-left: 10px;">Estrutura:</i></label>
                <label for='minest' class='col-form-label col-form-label-sm'> {{minest}}</label>
                <label class='col-form-label col-form-label-sm' style="margin-left: 10px;"> Módulos: </label>
                <label for='minmod' class='col-form-label col-form-label-sm'> {{minmod}}</label>
                <label class='col-form-label col-form-label-sm' style="margin-left: 10px;"> Inversores: </label>
                <label for='mininv' class='col-form-label col-form-label-sm'>{{mininv}}</label>
                <label class='col-form-label col-form-label-sm' style="margin-left: 10px;"> Média Km/litro:</label>
                <label for='medkmh' class='col-form-label col-form-label-sm'>{{medkmh}} </label>
            </div>
            <div class="col-md-2 jd-flex justify-content-end">
                <div class='btn-group btn-group-sm mx-auto' role='group'>
                    <a href='/configuracao/editconfiguracao/{{_id}}' class='botao'><i class='bi bi-pen icone'></i>
                    </a>
                    <a href='/configuracao/removeconfiguracao/{{_id}}' class='botao'><i class='bi bi-trash icone'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h6>Nenhum registro encontrado</h6>
    {{/each}}

</div>