<style>
    .icone {
        font-size: 25px;
        color: rgb(2, 38, 78);
    }

    label {
        font-size: 10px;
    }
</style>

<script>
    function mascara_dataini() {
        var data = document.getElementById('valDataIni')
        var dataini = document.getElementById('dataini')

        var novadata = data.value
        novadata = novadata.replace(novadata.substring(4, 5), "")
        novadata = novadata.replace(novadata.substring(6, 7), "")

        var currenTime = new Date()
        var year = currenTime.getFullYear()
        var month = currenTime.getMonth()
        var day = currenTime.getDate()
        var ano = novadata
        ano1 = ano.substring(0, 4)
        dia1 = ano.substring(6, 8)
        mes1 = ano.substring(4, 6)

        if (parseFloat(ano1) > parseFloat(year) || parseFloat(mes1) > parseFloat(month) + 1) {
            data.value = ''
            alert('Data maior que o dia de hoje.')
        } else {
            if (parseFloat(dia1) > parseFloat(day) && parseFloat(mes1) == parseFloat(month) + 1) {
                data.value = ''
                alert('Data maior que o dia de hoje.')
            } else {
                dataini.value = dia1 + '/' + mes1 + '/' + ano1
            }
        }
    }
    function mascara_dataprev() {
        var data = document.getElementById('valDataPrev')
        var dataprev = document.getElementById('dataprev')
        var dataini = document.getElementById('valDataIni')
        var dataord = document.getElementById('dataord')

        var novadata = data.value
        novadata = novadata.replace(novadata.substring(4, 5), "")
        novadata = novadata.replace(novadata.substring(6, 7), "")

        var currenTime = new Date()
        var year = currenTime.getFullYear()
        var month = currenTime.getMonth()
        var day = currenTime.getDate()

        var ano = novadata
        ano1 = ano.substring(0, 4)
        dia1 = ano.substring(6, 8)
        mes1 = ano.substring(4, 6)

        if (dataini.value != '') {

            if (parseFloat(ano1) < parseFloat(year) || parseFloat(mes1) < parseFloat(month) + 1) {
                data.value = ''
                alert('Data deve ser maior que data inicial.')
            } else {
                if (parseFloat(ano1) == parseFloat(year) && parseFloat(mes1) == parseFloat(month) + 1 && parseFloat(dia1) < parseFloat(day)) {
                    data.value = ''
                    alert('Data deve ser maior que data inicial.')
                } else {
                    dataord.value = ano1 + mes1 + dia1
                    dataprev.value = dia1 + '/' + mes1 + '/' + ano1
                }
            }
        } else {
            alert('Primeiro escolha a data inicial.')
            data.value = ''
        }
    };
    //Slecionar estados e cidades
    window.onload = function () {

        var valDataIni = document.getElementById('valDataIni')
        var dataini = document.getElementById('dataini')
        var hoje = new Date()
        var dia = hoje.getDate()
        if (parseFloat(dia) < 10) {
            dia = '0' + dia
        }
        var mes = hoje.getMonth() + parseFloat(1)
        if (parseFloat(mes) < 10) {
            mes = '0' + mes
        }
        var ano = hoje.getFullYear()
        dia_hoje = ano + '-' + mes + '-' + dia
        valDataIni.value = dia_hoje
        dataini.value = dia + '/' + mes + '/' + ano


        var estados = document.getElementById('estado');
        var cidades = document.getElementById('cidade');

        /*
        cidades.onchange = function () {
            if (cidades.value !== "") {
                //Basta modificar está linha conforme a necessidade
                window.location = "pagina.asp?estado=" + estados.value + "&cidade=" + cidades.value
            }
        };
        */

        new dgCidadesEstados({
            estado: estados,
            cidade: cidades,
            estadoVal: '<%=Request("estado") %>',
            cidadeVal: '<%=Request("cidade") %>'
        });
    };

    function selectEntrada() {
        var tipoEntrada = document.getElementById('tipoEntrada')
        var selectProprio = document.getElementById('selectProprio')
        var selectTerceiro = document.getElementById('selectTerceiro')
        if (selectProprio.checked) {
            tipoEntrada.value = 'Proprio'
        } else {
            tipoEntrada.value = 'Terceirizado'
        }
    }

    function selectCusto() {
        var tipoCusto = document.getElementById('tipoCusto')
        var selectHora = document.getElementById('selectHora')
        var selectDia = document.getElementById('selectDia')
        if (selectHora.checked) {
            tipoCusto.value = 'hora'
        } else {
            tipoCusto.value = 'dia'
        }
    }

    function dimensionar() {
        var dimsim = document.getElementById('dimsim')
        var dimnao = document.getElementById('dimnao')
        var troc = document.getElementById('troca_dim')
        if (troca_dim.checked) {
            dimsim.style.display = 'flex'
            dimnao.style.display = 'none'
        } else {
            dimsim.style.display = 'none'
            dimnao.style.display = 'flex'
        }
    }

    function validaCampos() {
        var nome = document.getElementById('nome')
        var equipamento = document.getElementById('equipamento')
        if (nome.value = '') {
            alert('Preecher o Número do Contrato.')
        }
        if (equipamento.value = '') {
            alert('Preecher o valor do Equipamento.')
        }
    }
</script>
<div class="mt-4" style="padding-left: 20px;padding-right: 50px">
    <form action="/projeto/novo/" method="post">
        <!-- Modal -->
        <div class="modal fade" id="custosModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Lançar custos detalhados do projeto</h5>
                        <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal"
                            aria-label="Close">Aplicar</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4 text-end">
                                <label class='col-form-label col-form-label-sm fw-bold'>Descrição</label><br>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Kit Gerador:</label>
                                </div>
                                <hr>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Módulos:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Inversor:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Estrutura:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Concretagem:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Estação de Baterias:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Cabos:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Disjuntores CC:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>DPS CC:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Disjuntores CA:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>DPS CA:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Cx. Proteção CA:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>String Box:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Outros Componentes:
                                </div>
                                <hr>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Cerca:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Central:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Postes de Condução de
                                        Fios:</label>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-2">
                                <label class='col-form-label col-form-label-sm fw-bold'>UN</label><br>
                                <input type='number' value='{{detalhe.unidadeEqu}}'
                                    class='form-control form-control-sm mb-1' name='unidadeEqu'>
                                <hr>
                                <input type='number' value='{{detalhe.unidadeMod}}'
                                    class='form-control form-control-sm mb-1' name='unidadeMod'>
                                <input type='number' value='{{detalhe.unidadeInv}}'
                                    class='form-control form-control-sm mb-1' name='unidadeInv'>
                                <input type='number' value='{{detalhe.unidadeEst}}'
                                    class='form-control form-control-sm mb-1' name='unidadeEst'>
                                <input type='number' value='{{detalhe.unidadeCim}}'
                                    class='form-control form-control-sm mb-1' name='unidadeCim'>
                                <input type='number' value='{{detalhe.unidadeEbt}}'
                                    class='form-control form-control-sm mb-1' name='unidadeEbt'>
                                <input type='number' value='{{detalhe.unidadeCab}}'
                                    class='form-control form-control-sm mb-1' name='unidadeCab'>
                                <input type='number' value='{{detalhe.unidadeDisCC}}'
                                    class='form-control form-control-sm mb-1' name='unidadeDisCC'>
                                <input type='number' value='{{detalhe.unidadeDPSCC}}'
                                    class='form-control form-control-sm mb-1' name='unidadeDPSCC'>
                                <input type='number' value='{{detalhe.unidadeDisCA}}'
                                    class='form-control form-control-sm mb-1' name='unidadeDisCA'>
                                <input type='number' value='{{detalhe.unidadeDPSCA}}'
                                    class='form-control form-control-sm mb-1' name='unidadeDPSCA'>
                                <input type='number' value='{{detalhe.unidadeCCA}}'
                                    class='form-control form-control-sm mb-1' name='unidadeCCA'>
                                <input type='number' value='{{detalhe.unidadeSB}}'
                                    class='form-control form-control-sm mb-1' name='unidadeSB'>
                                <input type='number' value='{{detalhe.unidadeOcp}}'
                                    class='form-control form-control-sm mb-1' name='unidadeOcp'>
                                <hr>
                                <input type='number' value='{{detalhe.unidadeCer}}'
                                    class='form-control form-control-sm mb-1' name='unidadeCer'>
                                <input type='number' value='{{detalhe.unidadeCen}}'
                                    class='form-control form-control-sm mb-1' name='unidadeCen'>
                                <input type='number' value='{{detalhe.unidadePos}}'
                                    class='form-control form-control-sm mb-1' name='unidadePos'>
                                <hr>
                            </div>
                            <div class="col-md-3">
                                <label type='number' class='col-form-label col-form-label-sm fw-bold'>R$
                                    Unitário</label><br>
                                <input type='number' value='{{detalhe.vlrUniEqu}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniEqu'>
                                <hr>
                                <input type='number' value='{{detalhe.vlrUniMod}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniMod'>
                                <input type='number' value='{{detalhe.vlrUniInv}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniInv'>
                                <input type='number' value='{{detalhe.vlrUniEst}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniEst'>
                                <input type='number' value='{{detalhe.vlrUniCim}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniCim'>
                                <input type='number' value='{{detalhe.vlrUniEbt}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniEbt'>
                                <input type='number' value='{{detalhe.vlrUniCab}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniCab'>
                                <input type='number' value='{{detalhe.vlrUniDisCC}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniDisCC'>
                                <input type='number' value='{{detalhe.vlrUniDPSCC}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniDPSCC'>
                                <input type='number' value='{{detalhe.vlrUniDisCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniDisCA'>
                                <input type='number' value='{{detalhe.vlrUniDPSCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniDPSCA'>
                                <input type='number' value='{{detalhe.vlrUniCCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniCCA'>
                                <input type='number' value='{{detalhe.vlrUniSB}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniSB'>
                                <input type='number' value='{{detalhe.vlrUniOcp}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniOcp'>
                                <hr>
                                <input type='number' value='{{detalhe.vlrUniCer}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniCer'>
                                <input type='number' value='{{detalhe.vlrUniCen}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniCen'>
                                <input type='number' value='{{detalhe.vlrUniPos}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniPos'>
                                <hr>
                                <label class="col-form-label fw-bold">Total</label>
                            </div>
                            <div class="col-md-3">
                                <label class='col-form-label col-form-label-sm fw-bold'>R$ Total</label><br>
                                <input type='number' value='{{detalhe.valorEqu}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorEqu'>
                                <hr>
                                <input type='number' value='{{detalhe.valorMod}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorMod'>
                                <input type='number' value='{{detalhe.valorInv}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorInv'>
                                <input type='number' value='{{detalhe.valorEst}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorEst'>
                                <input type='number' value='{{detalhe.valorCim}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorCim'>
                                <input type='number' value='{{detalhe.valorEbt}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorEbt'>
                                <input type='number' value='{{detalhe.valorCab}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorCab'>
                                <input type='number' value='{{detalhe.valorDisCC}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorDisCC'>
                                <input type='number' value='{{detalhe.valorDPSCC}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorDPSCC'>
                                <input type='number' value='{{detalhe.valorDisCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorDisCA'>
                                <input type='number' value='{{detalhe.valorDPSCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorDPSCA'>
                                <input type='number' value='{{detalhe.valorCCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorCCA'>
                                <input type='number' value='{{detalhe.valorSB}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorSB'>
                                <input type='number' value='{{detalhe.valorOcp}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorOcp'>
                                <hr>
                                <input type='number' value='{{detalhe.valorCer}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorCer'>
                                <input type='number' value='{{detalhe.valorCen}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorCen'>
                                <input type='number' value='{{detalhe.valorPos}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorPos'>
                                <hr>
                                <label class="col-form-label fw-bold">R$ {{detalhe.vlrTotal}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->

        <div class="row">

            <input type='hidden' name='id_prj' value='{{projeto._id}}'>
            <input type='hidden' name='id_dime' value='{{dimensionamento._id}}'>
            <input type='hidden' name='potencia_dime' value='{{dimensionamento.potencia}}'>
            <input type="hidden" name='tipoprj' value='1'>

            <label style='font-weight: bold;font-size:20px'> Cadastro de Proposta de Projeto</label>
            <hr>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5 text-end">
                        <div class="row mb-1">
                            <div class="col-md-10 text-end" style="padding-left: 50%">
                                <label class="col-form-label col-form-label-sm fw-bold">Dimensionar?</label>
                            </div>
                            <div class="col-md-1 mt-1">
                                <div class="form-check form-switch" onchange="dimensionar()">
                                    <input name='checkFatura' class="form-check-input" type="checkbox" id='troca_dim'
                                        {{troca_dim}}>
                                </div>
                            </div>
                        </div>
                        {{!-- <label class="col-form-label col-form-label-sm fw-bold">Potência do Sistema: </label><br>
                        --}}

                        <label for="empresa" class="fw-bold col-form-label col-form-label-sm mb-1"> Empresa:
                        </label><br>
                        <label for="nome" class="fw-bold col-form-label col-form-label-sm mb-1"> Número Contrato:
                        </label><br>
                        <label class="fw-bold col-form-label col-form-label-sm mb-2">Tipo de Entrada:</label><br>
                        <label class="fw-bold col-form-label col-form-label-sm" style="margin-bottom: 10px;">Tipo Custo:</label><br>
                        <label for="cliente" class="fw-bold col-form-label col-form-label-sm" style="margin-bottom: 5px;"> Cliente:
                        </label><br>
                        <label for="endereco" class="fw-bold col-form-label col-form-label-sm mb-1"> Endereço:
                        </label><br>                        
                        <label for="uf" class="fw-bold col-form-label col-form-label-sm mb-1"> Estado:
                        </label><br>
                        <label for="cidade" class="fw-bold col-form-label col-form-label-sm mb-1"> Cidade:
                        </label><br>
                        {{!-- <label for="ptnprj" class="fw-bold col-form-label col-form-label-sm mb-2"> Potência do
                            Projeto:</label><br> --}}
                        <label for="vendedor" class="fw-bold col-form-label col-form-label-sm mb-1"> Vendedor:
                        </label><br>
                        <!--<label for="percom" class="fw-bold col-form-label col-form-label-sm mb-2"> Comissão: </label><br>-->
                        <label class='fw-bold col-form-label col-form-label-sm mb-1'>Configuração: </label><br>
                        <label class='col-form-label col-form-label-sm fw-bold mb-1'>Data Inicio Projeto:</label><br>
                        <label class='col-form-label col-form-label-sm fw-bold mb-1'>Data Previsão de Entrega:</label>
                    </div>
                    <div class="col-md-7">
                        <div class="row mb-1" id='dimsim' style="display: ;">
                            <div class="col">
                                <a {{#if dimensionamento._id}}href="/projeto/dimensionamento/{{dimensionamento._id}}"
                                    {{else}}href="/projeto/dimensionamento/1" {{/if}}
                                    class="btn btn-sm btn-primary">Dimensionamento</a>
                            </div>
                            <div class="col">
                                <label class="col-form-label col-form-label-sm fw-bold">Potência:</label>
                            </div>
                            <div class="col">
                                <label class="col-form-label col-form-label-sm">{{projeto.potencia}} kWp</label>
                            </div>
                        </div>
                        <div class="row" id='dimnao' style="display: none">
                            <input type="number" name="potencia" id="potencia" class="form-control form-control-sm mb-1"
                                style="margin-left: 12px; max-width: 100px;" placeholder="kWp" aria-placeholder="R$"
                                step='0.010'>
                        </div>

                        <select class='form-select form-select-sm mb-1' name='empresa'>
                            {{#each empresa}}
                            <option value="{{_id}}">{{nome}}</option>
                            {{else}}
                            <option value=''>Nenhuma empresa cadastrada.</option>
                            {{/each}}
                        </select>
                        <input type="text" name="nome" id="nome" class="form-control form-control-sm mb-2">
                        <div class="row">
                            <input type="hidden" name='tipoEntrada' id='tipoEntrada' value=''>
                            <div class="col-md-6 mt-1">
                                <div class="form-check" onchange="selectEntrada()">
                                    <input class="form-check-input" style="margin-top: 0px" type="radio" name="entrada"
                                        id="selectProprio">
                                    <label class="form-check-label" style="font-size: 12px;">
                                        Próprio
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 12%;">
                                <div class="form-check" onchange="selectEntrada()">
                                    <input class="form-check-input" style="margin-top: 0px" type="radio" name="entrada"
                                        id="selectTerceiro">
                                    <label class="form-check-label" style="font-size: 12px;">
                                        Terceiro
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 4%;">
                            <input type="hidden" name='tipoCusto' id='tipoCusto' value=''>
                            <div class="col-md-6">
                                <div class="form-check" onchange="selectCusto()">
                                    <input class="form-check-input" style="margin-top: 0px" type="radio" name="custo"
                                        id="selectHora">
                                    <label class="form-check-label" style="font-size: 12px;">
                                        R$/hora
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 12%;">
                                <div class="form-check" onchange="selectCusto()">
                                    <input class="form-check-input" style="margin-top: 0px" type="radio" name="custo"
                                        id="selectDia">
                                    <label class="form-check-label" style="font-size: 12px;">
                                        R$/dia
                                    </label>
                                </div>
                            </div>
                        </div>
                        <select class='form-select form-select-sm mb-1 mt-1' name='cliente'>
                            {{#each clientes}}
                            <option value="{{_id}}">{{nome}}</option>
                            {{else}}
                            <option value=''>Nenhum cliente cadastrado.</option>
                            {{/each}}
                        </select>
                        <input type='text' name='endereco' class='form-control form-control-sm mb-1' value='{{projeto.endereco}}'>
                        <!--<input type="text" name="cliente" id="cliente" class="form-control form-control-sm mb-2">-->
                        {{#if dimensionamento._id}}
                        <label class='col-form-label col-form-label-sm mb-1'>{{projeto.uf}}</label><br>
                        <input type='hidden' name='ufAtual' value={{projeto.uf}}></input>
                        <label class='col-form-label col-form-label-sm mb-1'>{{projeto.cidade}}</label>
                        <input type='hidden' name='cidadeAtual' value={{projeto.cidade}}></input>
                        {{else}}
                        <select id="estado" name='uf' class='form-select form-select-sm mb-1'></select>
                        <select id="cidade" name='cidade' class='form-select form-select-sm mb-1'></select>
                        {{/if}}
                        <select name='vendedor' class="form-select form-select-sm mb-1">
                            {{#each vendedor}}
                            <option value="{{_id}}">{{nome}}</option>
                            {{else}}
                            <option value=''>Nenhum vendedor cadastrado</option>
                            {{/each}}
                        </select>
                        <!--                  
                        <input type="number" name="comissao" id="comissao" class="form-control form-control-sm mb-2"
                            placeholder="%">     
                        -->

                        <select name='configuracao' class="form-select form-select-sm mb-1">
                            {{#each configuracao}}
                            <option value="{{_id}}">{{slug}}</option>
                            {{else}}
                            <option value=''>Nenhuma configuração encontrada.</option>
                            {{/each}}
                        </select>
                        <!--
                        <input class='form-control form-control-sm mb-2' type='date' name='valDataIni' id='valDataIni'
                            placeholder='__/__/____' autocomplete="off" maxlength="10" onmouseout="mascara_dataini()">
                        <input class='form-control form-control-sm' type='date' name='valDataPrev' id='valDataPrev'
                            placeholder='__/__/____' autocomplete="off" maxlength="10" onmouseout="mascara_dataprev()">
                        -->
                        <input class='form-control form-control-sm mb-1' type='date' name='valDataIni' id='valDataIni'
                            onchange="mascara_dataini()">
                        <input class='form-control form-control-sm' type='date' name='valDataPrev' id='valDataPrev'
                            onchange="mascara_dataprev()">
                        <input type="hidden" name='dataord' id='dataord' value=''>
                        <input type="hidden" name='dataini' id='dataini' value=''>
                        <input type="hidden" name='dataprev' id='dataprev' value=''>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="border: 1px solid rgba(70,70,70,0.2);border-radius: 5px;">
                    <div class="col-md-4 text-end mt-2">
                        <label for="vlrorc" class="fw-bold col-form-label col-form-label-sm mb-2"> Valor Total do
                            Projeto:
                        </label><br>
                        <label for="vlreqi" class="fw-bold col-form-label col-form-label-sm mb-1"> Valor dos Materiais:
                        </label><br>
                    </div>
                    <div class="col-md-4 mt-2">
                        <input type="number" name="valor" id="valor" class="form-control form-control-sm mb-2"
                            placeholder="R$" aria-placeholder="R$">
                        <input type="number" name="equipamento" id="equipamento"
                            class="form-control form-control-sm mb-2" placeholder="R$" aria-placeholder="R$">
                    </div>
                    <div class="col-md-4 text-center mt-2"
                        style="border-left: 1px solid rgba(70,70,70,0.2);margin-bottom: 5px;">
                        <div class="row">
                            <div class="col-md-8">
                                <label class="fw-bold col-form-label col-form-label-sm"> Faturar Material?</label>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch">
                                    <input name='checkFatura' class="form-check-input" type="checkbox">
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-sm btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#custosModal"><i
                                class='bi bi-list-ul'></i> Detalhar Equipamento</a>
                    </div>
                    <div class='text-center'>
                        <label class='fw-bold col-form-label col-form-label-sm'>Complementos</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input name='estsolo' class="form-check-input" type="checkbox" style="margin-top: 8px;">
                                <label class="form-check-label col-form-label col-form-label-sm">
                                    Estrutura
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input name='central' class="form-check-input" type="checkbox" style="margin-top: 8px;">
                                <label class="form-check-label col-form-label col-form-label-sm">
                                    Central
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input name='cercamento' class="form-check-input" type="checkbox"
                                    style="margin-top: 8px;">
                                <label class="form-check-label col-form-label col-form-label-sm">
                                    Cercamento
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input name='poste' class="form-check-input" type="checkbox" style="margin-top: 8px;">
                                <label class="form-check-label col-form-label col-form-label-sm">
                                    Postes
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-check">
                                <input name='armazenamento' class="form-check-input" type="checkbox"
                                    style="margin-top: 8px;">
                                <label class="form-check-label col-form-label col-form-label-sm">
                                    Estação de Armazenamento de Baterias
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input name='painel' class="form-check-input" type="checkbox" style="margin-top: 8px;">
                                <label class="form-check-label col-form-label col-form-label-sm">
                                    Painel Elétrico
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2 text-end">
                        <label class="fw-bold col-form-label col-form-label-sm"> Classificação:
                        </label>
                    </div>
                    <div class="col-md-4">
                        <select name='classUsina' class='form-select form-select-sm'>
                            <option>Rural</option>
                            <option>Rural Residencial</option>
                            <option>Rural Granja</option>
                            <option>Rural Irrigação</option>
                            <option>Residencial</option>
                            <option>Industrial</option>
                            <option>Comercial</option>
                            <option>Público</option>
                        </select>
                    </div>
                    <div class="col-md-1 text-end">
                        <label class="fw-bold col-form-label col-form-label-sm text-end"> Tipo:
                        </label>
                    </div>
                    <div class="col-md-5">
                        <select name='tipoUsina' class='form-select form-select-sm'>
                            <option>Solo Concreto</option>
                            <option>Solo Metal</option>
                            <option>Telhado Fibrocimento</option>
                            <option>Telhado Madeira</option>
                            <option>Telhado Cerâmica</option>
                            <option>Telhado Gambrel</option>
                            <option>Telhado Metálico</option>
                            <option>Laje</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-1 mb-2">
                    <div class="col-md-2 text-end">
                        <label class="fw-bold col-form-label col-form-label-sm">Tensão:
                        </label>
                    </div>
                    <div class="col-md-4">
                        <select name='tipoConexao' class='form-select form-select-sm'>
                            <option>Monofásico 127V</option>
                            <option>Monofásico 220V</option>
                            <option>Bifásico 220V</option>
                            <option>Trifásico 220V</option>
                            <option>Trifásico 380V</option>
                        </select>
                    </div>
                    <div class="col-md-1 text-end">
                        <label class="fw-bold col-form-label col-form-label-sm"> Grupo:
                        </label>
                    </div>
                    <div class="col-md-5">
                        <select name='grupoUsina' class='form-select form-select-sm'>
                            <option>Grupo A > 2,3kV</option>
                            <option>Grupo B1 - Residencial</option>
                            <option>Grupo B2 - Rural</option>
                            <option>Grupo B3 - Comercial e Indústria PP</option>
                            <option>Grupo B4 - IP</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <label class='fw-bold col-form-label col-form-label-sm'>Premissas, Restrições e Requisitos</label>
                    <textarea name='escopo' class="form-control" rows='4' style="font-size: 12px;"></textarea>
                </div>
                <!--
                <div class="row mt-2">
                    <div class="col-md-2">
                        <label class='fw-bold col-form-label col-form-label-sm'>Orçamento: </span>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                    </div>
                </div>
                -->
                <div class="row mt-2">
                    <div class="btn-group mb-1 col-12 mx-auto">
                        <button type='submit' class='btn btn-sm btn-success'> <i class='bi bi-layers'></i> Ir para
                            Custos</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>