<script>
    function valida_numequ() {
        var equipe = document.getElementById('equipe')
        if (equipe.value < 3) {
            alert('O número de integrantes da equipe deve ter no mínimo 3 pessoas.')
            equipe.value = ''
        }
    }
</script>
<form action='/projeto/direto/' method='post' class=''>
    <!-- Modal Consulta Alíquotas-->
    <div class="modal fade" id='consultaAliquota' tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tributos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 card">
                            <div class="row contorno ">
                                <label class="fw-bold col-form-label col-form-label-sm ">Valores dos Tributos (R$):
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-end">
                                    <label class="fw-bold col-form-label col-form-label-sm">DAS: </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm">ISS: </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm">IRPJ: </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm">IRPJ Adicional: </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm">CSLL: </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm">PIS: </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm">COFINS: </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm">ICMS: </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm">Total: </label><br>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label col-form-label-sm">R$
                                        {{projeto.impostoSimples}}</label><br>
                                    <label class="col-form-label col-form-label-sm">R$ {{projeto.impNFS}}</label><br>
                                    <label class="col-form-label col-form-label-sm">R$
                                        {{projeto.impostoIRPJ}}</label><br>
                                    <label class="col-form-label col-form-label-sm">R$ {{projeto.impostoAdd}}
                                    </label><br>
                                    <label class="col-form-label col-form-label-sm">R$ {{projeto.impostoCSLL}}
                                    </label><br>
                                    <label class="col-form-label col-form-label-sm">R$ {{projeto.impostoPIS}}
                                    </label><br>
                                    <label class="col-form-label col-form-label-sm">R$ {{projeto.impostoCOFINS}}
                                    </label><br>
                                    <label class="col-form-label col-form-label-sm">R$ {{projeto.impostoICMS}}
                                    </label><br>
                                    <label class="col-form-label col-form-label-sm">R$ {{projeto.totalTributos}}
                                    </label><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 card">
                            <div class="row contorno">
                                <label class="fw-bold col-form-label col-form-label-sm">Alíquotas:
                                </label>
                            </div>
                            <div class="row" style="height: fit-content;">

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-end">
                                            <label class="fw-bold col-form-label col-form-label-sm">DAS:
                                            </label><br>
                                            <label class="fw-bold col-form-label col-form-label-sm">NF-s:
                                            </label><br>
                                            <label class="fw-bold col-form-label col-form-label-sm">IRPJ:
                                            </label><br>
                                            <label class="fw-bold col-form-label col-form-label-sm">IRPJ Add:
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-form-label col-form-label-sm">{{rp.alqDAS}}
                                                %</label><br>
                                            <label class="col-form-label col-form-label-sm">{{rp.alqNFS}}
                                                %</label><br>
                                            <label class="col-form-label col-form-label-sm">{{rp.alqIRPJ}}%</label><br>
                                            <label class="col-form-label col-form-label-sm">{{rp.alqIRPJAdd}}%</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 text-end">
                                            <label class="fw-bold col-form-label col-form-label-sm">ICMS:
                                            </label><br>
                                            <label class="fw-bold col-form-label col-form-label-sm">PIS:
                                            </label><br>
                                            <label class="fw-bold  col-form-label col-form-label-sm">COFINS:
                                            </label><br>
                                            <label class="fw-bold col-form-label col-form-label-sm">CSLL:
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="col-form-label col-form-label-sm">{{rp.alqICMS}}%</label><br>
                                            <label class="col-form-label col-form-label-sm">{{rp.alqPIS}}%</label><br>
                                            <label
                                                class="col-form-label col-form-label-sm">{{rp.alqCOFINS}}%</label><br>
                                            <label class="col-form-label col-form-label-sm">{{rp.alqCSLL}}%</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="fw-bold col-form-label col-form-label-sm contorno">Parâmetros</label>
                                <div class="col-md-7">
                                    <label for="estrutura" class="fw-bold col-form-label col-form-label-sm">Regime
                                        Tributário:</label>
                                    {{#if ehLR}}
                                    <label class="fw-bold col-form-label col-form-label-sm" />Projeção Lucro:</label>
                                    {{else}}
                                    {{#if ehLP}}
                                    <label class="fw-bold col-form-label col-form-label-sm" />Projeção
                                    Faturamento:</label>
                                    {{/if}}
                                    {{/if}}
                                    {{#if ehSimples }}
                                    <label class="fw-bold col-form-label col-form-label-sm">Fator de redução
                                        Simples:</label>
                                    </label>
                                    {{else}}
                                    {{/if}}
                                </div>
                                <div class="col-md-5">
                                    <label class='col-form-label col-form-label-sm'>{{rp.regime}}</label><br>
                                    {{#if ehSimples }}
                                    <label class="col-form-label col-form-label-sm">R$ {{rp.proje}}</label>
                                    <label class="col-form-label col-form-label-sm">R$ {{rp.vlrred}}</label>
                                    {{/if}}
                                    {{#if ehLR}}
                                    <label class="col-form-label col-form-label-sm">R$ {{rp.prjLR}}</label>
                                    {{/if}}
                                    {{#if ehLP}}
                                    <label class="col-form-label col-form-label-sm">R$ {{rp.prjLP}}</label>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal -->

    <div class='row' style="width: 100%;padding-left: 2%;padding-top: 1%">
        <div style="width: 100%;">
            <h5 class="header">{{cliente.nome}} </h5>
        </div>
        <input type="hidden" name="id" value='{{projeto._id}}'>
        <div class="row mt-1" style="width: 100%;padding-left: 15px; height: 530px;">
            <div class="col-md-8" style="padding-left: 30px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row card" style="background-color: white;">
                            <div class="row" style="padding: 5px;padding-left: 7%;">
                                <a href='/pessoa/formaequipe/{{projeto._id}}' class='btn btn-sm btn-primary'> <i
                                        class="bi bi-people"></i> Equipe </a>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-7 text-end">
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Instaladores na
                                        equipe:</label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Total de
                                        Horas:</label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Dias de Obras
                                        (lançar):</label><br>
                                    {{#if projeto.trbint}}
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Horas
                                        Obra Registrado:</label><br>
                                    {{/if}}
                                    <label class="fw-bold col-form-label col-form-label-sm">Dias de Obra
                                        Registrado:</label>
                                </div>
                                <div class="col-md-4">
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                        class="form-control form-control-sm mb-1" name='equipe' id="equipe"
                                        value='{{projeto.qtdequipe}}' oninput="valida_numequ()"
                                        onload="valida_numequ()">
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                        class="form-control form-control-sm mb-1" name='tothrs' id="tothrs"
                                        value='{{projeto.tothrs}}'>
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                        class="form-control form-control-sm mb-1" name='diastr' id="diastr">
                                    {{#if projeto.trbint}}
                                    <label class="col-form-label col-form-label-sm mb-1">{{projeto.trbint}}</label><br>
                                    {{/if}}
                                    <label class="col-form-label col-form-label-sm">{{projeto.diastr}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row card">
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-10">
                                    <label class="fw-bold col-form-label col-form-label-sm mb-2">Custos
                                        Operacionais:</label>
                                    <label class="fw-bold col-form-label col-form-label-sm">R$
                                        {{projeto.totcop}}</label>
                                </div>
                                <div class="col-md-1" style="margin-top: 5px;">
                                    <label class="fw-bold col-form-label col-form-label-sm">Horas</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-end">
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Instalação:</label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Projetista:</label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Valor
                                        ART:</label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Gestão:</label><br>
                                    <label
                                        class="fw-bold col-form-label col-form-label-sm mb-1">Deslocamento:</label><br>
                                    <label
                                        class="fw-bold col-form-label col-form-label-sm mb-1">Alimentação:</label><br>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                            class="form-control form-control-sm" name='totint' id="totint"
                                            value='{{projeto.totint}}' aria-label='R$'>
                                        <span class="input-group-text">.00</span>
                                    </div>

                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                            class="form-control form-control-sm" name='totpro' id="totpro"
                                            value='{{projeto.totpro}}' aria-label="R$ ">
                                        <span class="input-group-text">.00</span>
                                    </div>

                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text"
                                            class="form-control" id="vlrart" name="vlrart" value='{{projeto.vlrart}}'
                                            aria-label="R$ ">
                                        <span class="input-group-text">.00</span>
                                    </div>

                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                            class="form-control form-control-sm" name='totges' id="totges"
                                            value='{{projeto.totges}}' aria-label="R$ ">
                                        <span class="input-group-text">.00</span>
                                    </div>

                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                            class="form-control form-control-sm" id="totdes" name="totdes"
                                            value='{{projeto.totdes}}' aria-label="R$ ">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                    <div class="col">
                                        <div class="input-group input-group-sm mb-1">
                                            <span class="input-group-text">$</span>
                                            <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                                class="form-control form-control-sm" id="totali" name="totali"
                                                value='{{projeto.totali}}' aria-label="R$ ">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row" style='margin-right: 1px;'>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type='number' name='trbint'
                                            class='form-control form-control-sm' value='{{projeto.trbint}}'>
                                    </div>
                                    <div class="row mt-1" style='margin-right: 1px;'>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type='number' name='trbpro'
                                            class='form-control form-control-sm' value='{{projeto.trbpro}}'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row card">
                            <label class='col-form-label fw-bold' style="padding-top:3.5%">Definir os recursos do
                                projeto</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class='col-form-label col-form-label-sm fw-bold mb-1'>Instalador:</label><br>
                                </div>
                                <div class="col-md-9">
                                    <input type='hidden' name='pinome' value='{{pi.nome}}'>
                                    <label class='col-form-label col-form-label-sm fw-bold'>{{pi.nome}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <select {{#if projeto.orcado}}{{else}}disabled{{/if}}
                                        class='form-select form-select-sm' name='funins'>
                                        {{#each instalador}}
                                        <option value="{{_id}}">{{nome}}</option>
                                        {{else}}
                                        <option>Nenhum projetista cadastrado</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <div class='form-check'>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type='checkbox'
                                            class='form-check-input' name='checkIns'>
                                        <label class='form-check-label'>Alterar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class='col-form-label col-form-label-sm fw-bold mb-1'>Projetista:</label><br>
                                </div>
                                <div class="col-md-9">
                                    <input type='hidden' name='ppnome' value='{{pp.nome}}'>
                                    <label class='col-form-label col-form-label-sm fw-bold'>{{pp.nome}}</label>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-10">
                                    <select {{#if projeto.orcado}}{{else}}disabled{{/if}}
                                        class='form-select form-select-sm' name='funpro'>
                                        {{#each projetista}}
                                        <option value="{{_id}}">{{nome}}</option>
                                        {{else}}
                                        <option>Nenhum instalador cadastrado</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <div class='form-check'>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type='checkbox'
                                            class='form-check-input' name='checkPro'>
                                        <label class='form-check-label'>Alterar</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card">
                            <div class="row">
                                <div class="col-md-6 text-end">
                                    <label class="fw-bold col-form-label col-form-label-sm">Reserva</label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Reserva Gerencial:
                                    </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Reserva
                                        Contingência:
                                    </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm">Adicional:
                                    </label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Imprevisto
                                        Elétrico:</label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Seguro:</label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm mb-1">Cercamento:</label><br>
                                    <label class="fw-bold col-form-label col-form-label-sm">Postes de
                                        Condução:</label><br>
                                </div>
                                <div class="col-md-6">
                                    <label class="fw-bold col-form-label col-form-label-sm">R$
                                        {{projeto.reserva}}</label>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                            class="form-control form-control-sm" id="resger" name="resger"
                                            value='{{projeto.resger}}' aria-label="R$ ">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <label class='fw-bold col-form-label col-form-label-sm'>R$
                                            {{projeto.rescon}}</label>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                            class="form-control form-control-sm" id="conadd" name="conadd"
                                            value='{{projeto.conadd}}' aria-label="R$ ">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                            class="form-control form-control-sm" id="impele" name="impele"
                                            value='{{projeto.impele}}' aria-label="R$ ">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                            class="form-control form-control-sm" id="seguro" name="seguro"
                                            value='{{projeto.seguro}}' aria-label="R$ ">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                            class="form-control form-control-sm" id="outcer" name="outcer"
                                            value='{{projeto.outcer}}' aria-label="R$ ">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text">$</span>
                                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number"
                                            class="form-control form-control-sm" id="outpos" name="outpos"
                                            value='{{projeto.outpos}}' aria-label="R$ ">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mb-2">
                    <div class="btn-group gap-2">
                        <button {{#if projeto.orcado}}{{else}}disabled{{/if}} type="submit"
                            class="btn btn-sm btn-success">Aplicar</button>
                        <a class="btn btn-sm btn-primary" data-bs-toggle='modal' data-bs-target="#consultaAliquota">Ver
                            Tributos</a>
                        <a href='/menu' class='btn btn-sm btn-primary'> <i class="bi bi-back"></i> Voltar ao Menu</a>
                    </div>
                </div>
                <div class="contorno-titulo mt-2">
                    <label class='fw-bold col-form-label col-form-label-lg mt-3'>Demonstrativo</label>
                    <div class="row">
                        <div class="col-md-7 text-end">
                            <label class="fw-bold col-form-label col-form-label-sm">Valor Faturado:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>(+)Total do
                                Projeto:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>(-)Custos
                                Totais:</label><br>
                            <label class='col-form-label col-form-label-sm'>Custo Planejado:
                            </label><br>
                            <label class='col-form-label col-form-label-sm'>Custo Kit Gerador: </label><br>
                            <label class='fw-bold  col-form-label col-form-label-sm'>(=)Lucro Bruto:
                            </label><br>
                            <label class='col-form-label  col-form-label-sm'>(-)Comissão:
                                ({{projeto.percom}}%)</label><br>
                            <label class='col-form-label  col-form-label-sm'>(-)Despesas Administrastivas:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>(=)LAI:</label><br>
                            <label class='col-form-label col-form-label-sm'>(-)Tributos: </label><br>
                            <label style="padding-bottom: 15%;"
                                class='fw-bold col-form-label col-form-label-sm'>(-)Lucro Líquido:
                            </label>
                        </div>
                        <div class="col-md-5 text-start">
                            <label class='fw-bold col-form-label col-form-label-sm'>R$
                                {{projeto.vlrNFS}}</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>R$
                                {{projeto.valor}}</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>R$
                                {{projeto.custoTotal}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$
                                {{projeto.custoPlano}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.vlrkit}}</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>R$
                                {{projeto.lucroBruto}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.vlrcom}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.desAdm}}</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>R$
                                {{projeto.lbaimp}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$
                                {{projeto.totalTributos}}</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>R$
                                {{projeto.lucroLiquido}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>