<div class="container mt-4" style="width: 900px">

  <h5>Configuração do Projeto</h5>
  <hr>

  <form action='/projeto/configurar/{{projeto._id}}' method='post' class='row g-3'>

    <div class="col-md-7 card">

      <input type='hidden' name='id' value="{{projeto._id}}">

      <div class="row">
        <label class='fw-bold col-sm-4 col-form-label col-form-label-sm'> Projeto: </label>
        <div class="col-sm-6">
          <label class='col-form-label col-form-label-sm'>{{projeto.nome}}</label>
        </div>
      </div>

      <div class="row">
        <label class='fw-bold col-sm-4 col-form-label col-form-label-sm'>Valor: </label>
        <div class="col-sm-3">
          <label class='col-form-label col-form-label-sm'>R$ {{projeto.valor}}</label>
        </div>
      </div>

      <div class="row">
        <label class='fw-bold col-sm-4 col-form-label col-form-label-sm'>Potencia: </label>
        <div class="col-sm-2">
          <label class='col-form-label col-form-label-sm'>{{projeto.potencia}} kWp</label>
        </div>
      </div>

      <div class="row">
        <label class='fw-bold col-sm-4 col-form-label col-form-label-sm'>Custos: </label>
        <div class="col-sm-2">
          <label class='col-form-label col-form-label-sm'>Por Hora</label>
        </div>
      </div>

      <div class="row mb-2">
        <label class='fw-bold col-sm-4 col-form-label col-form-label-sm'>Regime Tributário: </label>
        <div class="col-sm-7">
          <label class='col-form-label col-form-label-sm'>{{rp.regime}}</label>
        </div>
      </div>

      <div class="row">
        <label class='fw-bold col-sm-4 col-form-label col-form-label-sm'>Configuração: </label>
        <div class="col-sm-7">
          <select name='configuracao' class="form-select form-select-sm mb-3">
            {{#each configuracao}}
            <option value="{{_id}}">{{slug}}</option>
            {{else}}
            <option value=''>Nenhuma configuração encontrada</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="container card">
        <div class="row">
          <div class="body-card">
            <label class='col-form-label col-form-label-sm fw-bold'>Requisitos</label>
              <textarea name='requisitos' class='form-control mb-2' rows="7">{{projeto.requisitos}}</textarea>
          </div>
        </div>
      </div>
    </div>
    <button type='submit' class="btn btn-success mt-2 mb-4" name="comecar"> Começar </button>
  </form>
</div>