<style>
    th {
        text-align: center;
        font-size: 14px;
    }

    td {
        text-align: end;
        padding-right: 5px;
    }

    tr.spaceUnder>td {
        padding-bottom: 1em;
    }
</style>

<script type="text/javascript">

    function aplicakwhuc1() {
        if (confirm("Utilizar entrada de consumo kw/h de Janeiro como média para todos os meses?")) {
            var uc11 = document.getElementById('uc11')
            var uc12 = document.getElementById('uc12')
            var uc13 = document.getElementById('uc13')
            var uc14 = document.getElementById('uc14')
            var uc15 = document.getElementById('uc15')
            var uc16 = document.getElementById('uc16')
            var uc17 = document.getElementById('uc17')
            var uc18 = document.getElementById('uc18')
            var uc19 = document.getElementById('uc19')
            var uc110 = document.getElementById('uc110')
            var uc111 = document.getElementById('uc111')
            var uc112 = document.getElementById('uc112')
            uc12.value = uc11.value
            uc13.value = uc11.value
            uc14.value = uc11.value
            uc15.value = uc11.value
            uc16.value = uc11.value
            uc17.value = uc11.value
            uc18.value = uc11.value
            uc19.value = uc11.value
            uc110.value = uc11.value
            uc111.value = uc11.value
            uc112.value = uc11.value
        }
    }
    function aplicakwhuc2() {
        if (confirm("Utilizar entrada de consumo kw/h de Janeiro como média para todos os meses?")) {
            var uc21 = document.getElementById('uc21')
            var uc22 = document.getElementById('uc22')
            var uc23 = document.getElementById('uc23')
            var uc24 = document.getElementById('uc24')
            var uc25 = document.getElementById('uc25')
            var uc26 = document.getElementById('uc26')
            var uc27 = document.getElementById('uc27')
            var uc28 = document.getElementById('uc28')
            var uc29 = document.getElementById('uc29')
            var uc210 = document.getElementById('uc210')
            var uc211 = document.getElementById('uc211')
            var uc212 = document.getElementById('uc212')
            uc22.value = uc21.value
            uc23.value = uc21.value
            uc24.value = uc21.value
            uc25.value = uc21.value
            uc26.value = uc21.value
            uc27.value = uc21.value
            uc28.value = uc21.value
            uc29.value = uc21.value
            uc210.value = uc21.value
            uc211.value = uc21.value
            uc212.value = uc21.value
        }
    }

    function aplicakwhuc3() {
        if (confirm("Utilizar entrada de consumo kw/h de Janeiro como média para todos os meses?")) {
            var uc31 = document.getElementById('uc31')
            var uc32 = document.getElementById('uc32')
            var uc33 = document.getElementById('uc33')
            var uc34 = document.getElementById('uc34')
            var uc35 = document.getElementById('uc35')
            var uc36 = document.getElementById('uc36')
            var uc37 = document.getElementById('uc37')
            var uc38 = document.getElementById('uc38')
            var uc39 = document.getElementById('uc39')
            var uc310 = document.getElementById('uc310')
            var uc311 = document.getElementById('uc311')
            var uc312 = document.getElementById('uc312')
            uc32.value = uc31.value
            uc33.value = uc31.value
            uc34.value = uc31.value
            uc35.value = uc31.value
            uc36.value = uc31.value
            uc37.value = uc31.value
            uc38.value = uc31.value
            uc39.value = uc31.value
            uc310.value = uc31.value
            uc311.value = uc31.value
            uc312.value = uc31.value

        }
    }

    function trocaQtd() {
        var qtduce = document.getElementById('qtduce')
        var td2 = document.getElementById('td2')
        var td3 = document.getElementById('td3')
        if (qtduce.value == '1') {
            td2.style.display = 'none'
            td3.style.display = 'none'
        } else {
            if (qtduce.value == '2') {
                td2.style.display = ''
                td3.style.display = 'none'
            } else {
                td2.style.display = ''
                td3.style.display = ''
            }
        }
    }
    /*
        function buscaLocal() {
            var request = new XMLHttpRequest()
            request.open("GET", 'plano_direto.json')
            request.responseType = 'json'
            request.send()
            var data = JSON.stringify(request.response)
            var irradiacao = JSON.parse(data)
            alert(irradiacao)
            alert('entrou')
        }
        */

    window.onload = function () {
        var add1 = document.getElementById('add1')
        var add2 = document.getElementById('add2')
        var add3 = document.getElementById('add3')
        var add4 = document.getElementById('add4')
        var add5 = document.getElementById('add5')
        var add6 = document.getElementById('add6')
        var add7 = document.getElementById('add7')
        var add8 = document.getElementById('add8')
        var add9 = document.getElementById('add9')
        var add10 = document.getElementById('add10')
        var add11 = document.getElementById('add11')
        var add12 = document.getElementById('add12')
        if (add1.value == '') {
            add1.value = 0
        }
        if (add2.value == '') {
            add2.value = 0
        }
        if (add3.value == '') {
            add3.value = 0
        }
        if (add4.value == '') {
            add4.value = 0
        }
        if (add5.value == '') {
            add5.value = 0
        }
        if (add6.value == '') {
            add6.value = 0
        }
        if (add7.value == '') {
            add7.value = 0
        }
        if (add8.value == '') {
            add8.value = 0
        }
        if (add9.value == '') {
            add9.value = 0
        }
        if (add10.value == '') {
            add10.value = 0
        }
        if (add11.value == '') {
            add11.value = 0
        }
        if (add12.value == '') {
            add12.value = 0
        }

        var estados = document.getElementById('estado')
        var cidades = document.getElementById('cidade')

        new dgCidadesEstados({
            estado: estados,
            cidade: cidades,
            estadoVal: '<%=Request("estado") %>',
            cidadeVal: '<%=Request("cidade") %>'
        });
    }
</script>
<div class="row" style="width: 100%;">
    <form action="/projeto/dimensionar/" method="post">
        <div class="row" style="text-align: center;padding: 30px;">
            <div class="col-md-2 mt-1">
                <h5 style="font-weight: 800;">DIMENSIONAMENTO</h5>
            </div>
            <div class="col-md-1">
                <label class="fw-bold col-form-label col-form-label-sm"> Estado:
                </label><br>
            </div>
            <div class="col-md-2">
                <select id="estado" name='uf' class='form-select form-select-sm' onchange="buscaLocal()">
                </select>
            </div>
            <div class="col-md-1 text-start">
                <label class="fw-bold col-form-label col-form-label-sm"> {{projeto.uf}}
                </label>
                {{!-- <input type='hidden' name='ufAtual' value='{{projeto.uf}}'> --}}
            </div>
            <div class="col-md-1 text-start">
                <label class="fw-bold col-form-label col-form-label-sm"> |
                </label>
            </div>
            <div class="col-md-1">
                <label class="fw-bold col-form-label col-form-label-sm"> Cidade:
                </label><br>
            </div>
            <div class="col-md-2">
                <select id="cidade" name='cidade' class='form-select form-select-sm' onchange="buscaLocal()">
                </select>
                {{!-- <input type='hidden' name='cidadeAtual' value='{{projeto.cidade}}'> --}}
            </div>
            <div class="col-md-2 text-start">
                <label class="fw-bold col-form-label col-form-label-sm"> {{projeto.cidade}}
                </label>
            </div>
        </div>
        <input type="hidden" name='id_dime' value='{{dimensionamento._id}}'>
        <input type="hidden" name='id_prj' value='{{projeto._id}}'>
        <div class="row mb-2" style="width: 100%;padding-left: 20px">
            <div class="col-md-8">
                <div class="row" style="width: 100%;">
                    <div class="col-md-2 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>TARIFAS</label>
                    </div>
                    <div class="col-md-1 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>TE:</label>
                    </div>
                    <div class="col-md-2">
                        <input class='form-control form-control-sm' step='0.000010' name='te' id='te' placeholder="R$"
                            value='{{dimensionamento.te}}' type='number'>
                    </div>
                    <div class="col-md-1 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>TUSD:</label>
                    </div>
                    <div class="col-md-2">
                        <input class='form-control form-control-sm' step='0.000010' name='tusd' id='tusd'
                            placeholder="R$" value='{{dimensionamento.tusd}}' type='number'>
                    </div>
                    <div class="col-md-2 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>Ilum. Pública:</label>
                    </div>
                    <div class="col-md-2">
                        <input class='form-control form-control-sm' step='0.000010' name='ilupub' id='ilupub'
                            placeholder="R$" value='{{dimensionamento.cosip}}' type='number'>
                    </div>
                </div>
                <div class="row mt-1" style="width: 100%;">
                    <div class="col-md-2 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>IMPOSTOS</label>
                    </div>
                    <div class="col-md-1 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>ICMS:</label>
                    </div>
                    <div class="col-md-2">
                        <input class='form-control form-control-sm' step='0.000010' name='icms' id='icms'
                            placeholder="%" value='{{dimensionamento.icms}}' type='number'>
                    </div>
                    <div class="col-md-1 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>PIS:</label>
                    </div>
                    <div class="col-md-2">
                        <input class='form-control form-control-sm' step='0.000010' name='pis' id='pis' placeholder="%"
                            value='{{dimensionamento.pis}}' type='number'>
                    </div>
                    <div class="col-md-2 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>COFINS:</label>
                    </div>
                    <div class="col-md-2">
                        <input class='form-control form-control-sm' step='0.000010' name='cofins' id='cofins'
                            placeholder="%" value='{{dimensionamento.cofins}}' type='number'>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>INFLAÇÃO:</label>
                    </div>
                    <div class="col-md-3">
                        <input class='form-control form-control-sm' step='0.000010' name='inflacao' id='inflacao'
                            placeholder="%" value='{{dimensionamento.inflacao}}' type='number'>
                    </div>
                    <div class="col-md-1 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>TMA:</label>
                    </div>
                    <div class="col-md-3">
                        <input class='form-control form-control-sm' step='0.000010' name='tma' id='tma' placeholder="%"
                            value='{{dimensionamento.tma}}' type='number'>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-5 text-end">
                        <label class='col-form-label col-form-label-sm fw-bold'>AJUSTE TARIFÁRIO:</label>
                    </div>
                    <div class="col-md-3">
                        <input class='form-control form-control-sm' step='0.000010' name='ajuste' id='ajuste'
                            placeholder="%" value='{{dimensionamento.ajuste}}' type='number'>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="row">
                <div class="col-md-3 text-end">
                    <label class='col-form-label col-form-label-sm fw-bold'>Quantidade de Unidades
                        Consumidoras:</label>
                </div>
                <div class="col-md-1">
                    <select class='form-select form-select-sm' name='qtduce' id='qtduce' onchange="trocaQtd()">
                        <option {{select1}}>1</option>
                        <option {{select2}}>2</option>
                        <option {{select3}}>3</option>
                    </select>
                </div>
                <div class="col-md-2 text-end">
                    <label class='col-form-label col-form-label-sm fw-bold'>Irradiação Wh/m² dia:</label>
                </div>
                <div class="col-md-1">
                    <input class='form-control form-control-sm' type="text" name='irradiacao' step='0.010'
                        value="{{dimensionamento.irradiacao}}">
                </div>
                <div class="col-md-2 text-end">
                    <label class="col-form-label col-form-label-sm fw-bold">Ajuste da potência nominal:</label>
                </div>
                <div class="col-md-1">
                    <input class='form-control form-control-sm' type="number" name='ajupot' placeholder="%"
                        value="{{dimensionamento.ajupot}}">
                </div>
            </div>
            <div class="row mt-2">
                <table>
                    <tr>
                        <th style="width: 10%;"></th>
                        <th style='width: 7%'>Janeiro</th>
                        <th style='width: 7%'>Fevereiro</th>
                        <th style='width: 7%'>Março</th>
                        <th style='width: 7%'>Abril</th>
                        <th style='width: 7%'>Maio</th>
                        <th style='width: 7%'>Junho</th>
                        <th style='width: 7%'>Julho</th>
                        <th style='width: 7%'>Agosto</th>
                        <th style='width: 7%'>Setembro</th>
                        <th style='width: 7%'>Outubro</th>
                        <th style='width: 7%;'>Novembro</th>
                        <th style='width: 7%;'>Dezembro</th>
                        <th style='width: 7%;'>Total</th>
                    </tr>
                    <tr>
                        <div id='td1'>
                            <td>
                                <label class="col-form-label col-form-label-sm fw-bold">UC 1:</label>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" onchange="aplicakwhuc1()"
                                    step='0.010' name='uc11' id='uc11' value='{{dimensionamento.uc11}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc12'
                                    id='uc12' value='{{dimensionamento.uc12}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc13'
                                    id='uc13' value='{{dimensionamento.uc13}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc14'
                                    id='uc14' value='{{dimensionamento.uc14}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc15'
                                    id='uc15' value='{{dimensionamento.uc15}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc16'
                                    id='uc16' value='{{dimensionamento.uc16}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc17'
                                    id='uc17' value='{{dimensionamento.uc17}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc18'
                                    id='uc18' value='{{dimensionamento.uc18}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc19'
                                    id='uc19' value='{{dimensionamento.uc19}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc110'
                                    id='uc110' value='{{dimensionamento.uc110}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc111'
                                    id='uc111' value='{{dimensionamento.uc111}}'>
                            </td>
                            <td>
                                <input class='form-control form-control-sm' type="{{showuc1}}" step='0.010' name='uc112'
                                    id='uc112' value='{{dimensionamento.uc112}}'>
                            </td>
                            <td>
                                <label class='col-form-label col-form-label-sm' step='0.010'
                                    name='totaluc1'>{{dimensionamento.totaluc1}} kW/h</label>
                            </td>
                        </div>
                    </tr>

                    <tr id='td2' style="display: {{td2}};">
                        <td>
                            <label class="col-form-label col-form-label-sm fw-bold">UC 2:</label>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" onchange="aplicakwhuc2()"
                                step='0.010' name='uc21' id='uc21' value='{{dimensionamento.uc21}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc22'
                                id='uc22' value='{{dimensionamento.uc22}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc23'
                                id='uc23' value='{{dimensionamento.uc23}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc24'
                                id='uc24' value='{{dimensionamento.uc24}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc25'
                                id='uc25' value='{{dimensionamento.uc25}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc26'
                                id='uc26' value='{{dimensionamento.uc26}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc27'
                                id='uc27' value='{{dimensionamento.uc27}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc28'
                                id='uc28' value='{{dimensionamento.uc28}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc29'
                                id='uc29' value='{{dimensionamento.uc29}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc210'
                                id='uc210' value='{{dimensionamento.uc210}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc211'
                                id='uc211' value='{{dimensionamento.uc211}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc2}}" step='0.010' name='uc212'
                                id='uc212' value='{{dimensionamento.uc212}}'>
                        </td>
                        <td>
                            <label class='col-form-label col-form-label-sm' step='0.010'
                                name='totaluc2'>{{dimensionamento.totaluc2}} kW/h</label>
                        </td>
                    </tr>
                    <tr id='td3' style="display: {{td3}};">
                        <td>
                            <label class="col-form-label col-form-label-sm fw-bold">UC 3:</label>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" onchange="aplicakwhuc3()"
                                step='0.010' name='uc31' id='uc31' value='{{dimensionamento.uc31}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc32'
                                id='uc32' value='{{dimensionamento.uc32}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc33'
                                id='uc33' value='{{dimensionamento.uc33}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc34'
                                id='uc34' value='{{dimensionamento.uc34}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc35'
                                id='uc35' value='{{dimensionamento.uc35}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc36'
                                id='uc36' value='{{dimensionamento.uc36}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc37'
                                id='uc37' value='{{dimensionamento.uc37}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc38'
                                id='uc38' value='{{dimensionamento.uc38}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc39'
                                id='uc39' value='{{dimensionamento.uc39}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc310'
                                id='uc310' value='{{dimensionamento.uc310}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc311'
                                id='uc311' value='{{dimensionamento.uc311}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="{{showuc3}}" step='0.010' name='uc312'
                                id='uc312' value='{{dimensionamento.uc312}}'>
                        </td>
                        <td>
                            <label class='col-form-label col-form-label-sm' step='0.010'
                                name='totaluc3'>{{dimensionamento.totaluc3}} kW/h</label>
                        </td>
                    </tr>
                    </td>
                    <tr>
                        <td>
                            <label class="col-form-label col-form-label-sm fw-bold">Adicional</label>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add1' id='add1'
                                value='{{dimensionamento.add1}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add2' id='add2'
                                value='{{dimensionamento.add2}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add3' id='add3'
                                value='{{dimensionamento.add3}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add4' id='add4'
                                value='{{dimensionamento.add4}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add5' id='add5'
                                value='{{dimensionamento.add5}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add6' id='add6'
                                value='{{dimensionamento.add6}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add7' id='add7'
                                value='{{dimensionamento.add7}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add8' id='add8'
                                value='{{dimensionamento.add8}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add9' id='add9'
                                value='{{dimensionamento.add9}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add10' id='add10'
                                value='{{dimensionamento.add10}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add11' id='add11'
                                value='{{dimensionamento.add11}}'>
                        </td>
                        <td>
                            <input class='form-control form-control-sm' type="number" name='add12' id='add12'
                                value='{{dimensionamento.add12}}'>
                        </td>
                        <td>
                            <label class='col-form-label col-form-label-sm' step='0.010'
                                name='totaladd'>{{dimensionamento.totaladd}} kW/h</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-form-label col-form-label-sm fw-bold">Consumo kWp:</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl1'>{{dimensionamento.consumo1}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl2'>{{dimensionamento.consumo2}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl3'>{{dimensionamento.consumo3}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl4'>{{dimensionamento.consumo4}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl5'>{{dimensionamento.consumo5}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl6'>{{dimensionamento.consumo6}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl7'>{{dimensionamento.consumo7}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl8'>{{dimensionamento.consumo8}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl9'>{{dimensionamento.consumo9}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl0'>{{dimensionamento.consumo10}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl11'>{{dimensionamento.consumo11}}</label><br>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='addlbl12'>{{dimensionamento.consumo12}}</label><br>
                        </td>
                        <td>
                            <label class='col-form-label col-form-label-sm' step='0.010'
                                name='totconsumo'>{{dimensionamento.totconsumo}} kW/h</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-form-label col-form-label-sm fw-bold">Total R$:</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total1'>{{dimensionamento.total1}}</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total2'>{{dimensionamento.total2}}</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total3'>{{dimensionamento.total3}}</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total4'>{{dimensionamento.total4}}</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total5'>{{dimensionamento.total5}}</label>

                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total6'>{{dimensionamento.total6}}</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total7'>{{dimensionamento.total7}}</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total8'>{{dimensionamento.total8}}</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total9'>{{dimensionamento.total9}}</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total0'>{{dimensionamento.total10}}</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total11'>{{dimensionamento.total11}}</label>
                        </td>
                        <td>
                            <label class="col-form-label col-form-label-sm"
                                id='total12'>{{dimensionamento.total12}}</label>
                        </td>
                        <td>
                            <label class='col-form-label col-form-label-sm' name='totdime'>R$
                                {{dimensionamento.totfatura}}</label>
                        </td>
                    </tr>
                    <tr>
                        <div style="padding-left: 60px;padding-bottom: 10px;">
                            <label class='col-form-label col-form-label-sm fw-bold'>Média Anual R$/kW/h:
                                {{medkwhano}}</label>
                        </div>
                    </tr>
                </table>
            </div>
            <div class="text-center mt-3 mb-2">
                <label style="font-weight: 600;font-size: 20px;">Potência do Sistema: {{dimensionamento.potencia}}
                    kWp</label>
                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-md-2 text-end">
                        <label class="col-form-label col-form-label-sm fw-bold">Quantidade de Módulos:</label>
                    </div>
                    <div class="col-md-1 text-start">
                        <input class='form-control form-control-sm' type="number" name='qtdmod' placeholder="nº"
                            value="{{dimensionamento.qtdmod}}">
                    </div>
                    <div class="col-md-2 text-end">
                        <label class="col-form-label col-form-label-sm fw-bold">Potência dos Módulos:</label>
                    </div>
                    <div class="col-md-1 text-start">
                        <input class='form-control form-control-sm' type="number" name='watmod' placeholder="watts"
                            value="{{dimensionamento.watmod}}">
                    </div>
                    <div class="col-md-1 text-end">
                        <label class="col-form-label col-form-label-sm fw-bold">m² Módulo:</label>
                    </div>
                    <div class="col-md-1 text-start">
                        <input class='form-control form-control-sm' step='0.010' type="number" name='tammod'
                            placeholder="m²" value="{{dimensionamento.tammod}}">
                    </div>
                </div>
                <label class='col-form-label mt-1'>Geração anual: {{dimensionamento.geranual}} kWh</label>
            </div>
            <div class="row" style="margin-bottom: 40px;">
                <div class="btn-group col-6 mx-auto">
                    <button type="submit" class="btn btn-sm btn-success">Calcular</button>
                    <a href="/projeto/novo/{{projeto._id}}" class="btn btn-sm btn-success">Voltar para o Projeto</a>
                </div>
            </div>
        </div>
    </form>
</div>