<style>
    .contorno {
        color: white;
        border-radius: 10px;
        border: solid 1px;
        background: linear-gradient(135deg, rgb(62, 81, 177), rgb(11, 19, 58, 1), rgb(11, 19, 58, 1));
    }

    .botao-menu {
        background-color: rgb(40, 55, 86);
        border: white solid 1px;
        border-radius: 5px;
        color: white;
    }

    .botao-menu:hover {
        background-color: rgb(40, 55, 86);
        border: white 1px solid;
        font-weight: 600;
        border-radius: 5px;
        color: white;
    }

    .ativo {
        background-color: rgb(10, 30, 68);
    }
</style>
<script>

    function mascara_datains() {
        var data = document.getElementById('valDataIns')
        var datains = document.getElementById('datains')
        var dataini = document.getElementById('dataini')

        var novadata = data.value
        novadata = novadata.replace(novadata.substring(4, 5), "")
        novadata = novadata.replace(novadata.substring(6, 7), "")

        var dia = novadata.substring(6, 8)
        var mes = novadata.substring(4, 6)
        var ano = novadata.substring(0, 4)
        var dataNova = ano + mes + dia

        var dataBase = dataini.value
        var dia1 = dataBase.substring(0, 2)
        var mes1 = dataBase.substring(3, 5)
        var ano1 = dataBase.substring(6, 10)
        dataBase = ano1 + mes1 + dia1

        var datanova = parseFloat(dataNova)
        var database = parseFloat(dataBase)

        var salvaDataIns = dia + '/' + mes + '/' + ano

        if (datanova < database) {
            data.value = ''
            alert('A data de início da instalação deve ser maior ou igual a data de início do projeto.')
        } else {
            datains.value = salvaDataIns
        }
    };

    function mascara_dataprev() {
        var data = document.getElementById('valDataPrev')
        var dataprev = document.getElementById('dataprev')

        var novadata = data.value
        novadata = novadata.replace(novadata.substring(4, 5), "")
        novadata = novadata.replace(novadata.substring(6, 7), "")

        var currenTime = new Date()
        var year = currenTime.getFullYear()
        var month = currenTime.getMonth()
        var day = currenTime.getDate()

        var ano = novadata
        ano1 = ano.substring(0, 4)
        dia1 = ano.substring(6, 8)
        mes1 = ano.substring(4, 6)

        if (parseFloat(ano1) < parseFloat(year) || parseFloat(mes1) < parseFloat(month) + 1) {
            data.value = ''
            alert('Data deve ser maior que data inicial.')
        } else {
            if (parseFloat(ano1) == parseFloat(year) && parseFloat(mes1) == parseFloat(month) + 1 && parseFloat(dia1) < parseFloat(day)) {
                data.value = ''
                alert('Data deve ser maior que data inicial.')
            } else {
                dataprev.value = dia1 + '/' + mes1 + '/' + ano1
            }
        }
    };

    //Selecionar estados e cidades
    window.onload = function () {

        var estados = document.getElementById('estado');
        var cidades = document.getElementById('cidade');
        /*
        cidades.onchange = function () {
            if (cidades.value !== "") {
                //Basta modificar está linha conforme a necessidade
                window.location = "pagina.asp?estado=" + estados.value + "&cidade=" + cidades.value
            }
        };
        */
        new dgCidadesEstados({
            estado: estados,
            cidade: cidades,
            estadoVal: '<%=Request("estado") %>',
            cidadeVal: '<%=Request("cidade") %>'
        })
    };
</script>
<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>
    </div>

    <form action='/projeto/edicao' method='post'>
        <!-- Modal -->
        <div class="modal fade" id="custosModal" tabindex="1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Lançar custos detalhados do projeto</h5>
                        <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal">Aplicar</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4 text-end">
                                <label class='col-form-label col-form-label-sm fw-bold'>Descrição</label><br>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Kit Gerador:</label>
                                </div>
                                <hr>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Módulos:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Inversor:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Estrutura:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Concretagem:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Estação de Baterias:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Cabos:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Disjuntores CC:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>DPS CC:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Disjuntores CA:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>DPS CA:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Cx. Proteção CA:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>String Box:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Outros Componentes:
                                </div>
                                <hr>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Cerca:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Central:</label>
                                </div>
                                <div class="row mb-1">
                                    <label class='col-form-label col-form-label-sm fw-bold'>Postes de Condução de
                                        Fios:</label>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-2">
                                <label class='col-form-label col-form-label-sm fw-bold'>UN</label><br>
                                <input type='number' value='{{detalhe.unidadeEqu}}'
                                    class='form-control form-control-sm mb-1' name='unidadeEqu'>
                                <hr>
                                <input type='number' value='{{detalhe.unidadeMod}}'
                                    class='form-control form-control-sm mb-1' name='unidadeMod'>
                                <input type='number' value='{{detalhe.unidadeInv}}'
                                    class='form-control form-control-sm mb-1' name='unidadeInv'>
                                <input type='number' value='{{detalhe.unidadeEst}}'
                                    class='form-control form-control-sm mb-1' name='unidadeEst'>
                                <input type='number' value='{{detalhe.unidadeCim}}'
                                    class='form-control form-control-sm mb-1' name='unidadeCim'>
                                <input type='number' value='{{detalhe.unidadeEbt}}'
                                    class='form-control form-control-sm mb-1' name='unidadeEbt'>
                                <input type='number' value='{{detalhe.unidadeCab}}'
                                    class='form-control form-control-sm mb-1' name='unidadeCab'>
                                <input type='number' value='{{detalhe.unidadeDisCC}}'
                                    class='form-control form-control-sm mb-1' name='unidadeDisCC'>
                                <input type='number' value='{{detalhe.unidadeDPSCC}}'
                                    class='form-control form-control-sm mb-1' name='unidadeDPSCC'>
                                <input type='number' value='{{detalhe.unidadeDisCA}}'
                                    class='form-control form-control-sm mb-1' name='unidadeDisCA'>
                                <input type='number' value='{{detalhe.unidadeDPSCA}}'
                                    class='form-control form-control-sm mb-1' name='unidadeDPSCA'>
                                <input type='number' value='{{detalhe.unidadeCCA}}'
                                    class='form-control form-control-sm mb-1' name='unidadeCCA'>
                                <input type='number' value='{{detalhe.unidadeSB}}'
                                    class='form-control form-control-sm mb-1' name='unidadeSB'>
                                <input type='number' value='{{detalhe.unidadeOcp}}'
                                    class='form-control form-control-sm mb-1' name='unidadeOcp'>
                                <hr>
                                <input type='number' value='{{detalhe.unidadeCer}}'
                                    class='form-control form-control-sm mb-1' name='unidadeCer'>
                                <input type='number' value='{{detalhe.unidadeCen}}'
                                    class='form-control form-control-sm mb-1' name='unidadeCen'>
                                <input type='number' value='{{detalhe.unidadePos}}'
                                    class='form-control form-control-sm mb-1' name='unidadePos'>
                                <hr>
                            </div>
                            <div class="col-md-3">
                                <label type='number' class='col-form-label col-form-label-sm fw-bold'>R$
                                    Unitário</label><br>
                                <input type='number' value='{{detalhe.vlrUniEqu}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniEqu'>
                                <hr>
                                <input type='number' value='{{detalhe.vlrUniMod}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniMod'>
                                <input type='number' value='{{detalhe.vlrUniInv}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniInv'>
                                <input type='number' value='{{detalhe.vlrUniEst}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniEst'>
                                <input type='number' value='{{detalhe.vlrUniCim}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniCim'>
                                <input type='number' value='{{detalhe.vlrUniEbt}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniEbt'>
                                <input type='number' value='{{detalhe.vlrUniCab}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniCab'>
                                <input type='number' value='{{detalhe.vlrUniDisCC}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniDisCC'>
                                <input type='number' value='{{detalhe.vlrUniDPSCC}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniDPSCC'>
                                <input type='number' value='{{detalhe.vlrUniDisCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniDisCA'>
                                <input type='number' value='{{detalhe.vlrUniDPSCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniDPSCA'>
                                <input type='number' value='{{detalhe.vlrUniCCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniCCA'>
                                <input type='number' value='{{detalhe.vlrUniSB}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniSB'>
                                <input type='number' value='{{detalhe.vlrUniOcp}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniOcp'>
                                <hr>
                                <input type='number' value='{{detalhe.vlrUniCer}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniCer'>
                                <input type='number' value='{{detalhe.vlrUniCen}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniCen'>
                                <input type='number' value='{{detalhe.vlrUniPos}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='vlrUniPos'>
                                <hr>
                                <label class="col-form-label fw-bold">Total</label>
                            </div>
                            <div class="col-md-3">
                                <label class='col-form-label col-form-label-sm fw-bold'>R$ Total</label><br>
                                <input type='number' value='{{detalhe.valorEqu}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorEqu'>
                                <hr>
                                <input type='number' value='{{detalhe.valorMod}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorMod'>
                                <input type='number' value='{{detalhe.valorInv}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorInv'>
                                <input type='number' value='{{detalhe.valorEst}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorEst'>
                                <input type='number' value='{{detalhe.valorCim}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorCim'>
                                <input type='number' value='{{detalhe.valorEbt}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorEbt'>
                                <input type='number' value='{{detalhe.valorCab}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorCab'>
                                <input type='number' value='{{detalhe.valorDisCC}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorDisCC'>
                                <input type='number' value='{{detalhe.valorDPSCC}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorDPSCC'>
                                <input type='number' value='{{detalhe.valorDisCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorDisCA'>
                                <input type='number' value='{{detalhe.valorDPSCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorDPSCA'>
                                <input type='number' value='{{detalhe.valorCCA}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorCCA'>
                                <input type='number' value='{{detalhe.valorSB}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorSB'>
                                <input type='number' value='{{detalhe.valorOcp}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorOcp'>
                                <hr>
                                <input type='number' value='{{detalhe.valorCer}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorCer'>
                                <input type='number' value='{{detalhe.valorCen}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorCen'>
                                <input type='number' value='{{detalhe.valorPos}}'
                                    class='form-control form-control-sm mb-1' placeholder="R$" name='valorPos'>
                                <hr>
                                <label class="col-form-label fw-bold">R$ {{detalhe.vlrTotal}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type='hidden' name='id' value='{{projeto._id}}'>

        <div class='btn-group col-12 mx-auto'>
            <a href='/projeto/edicao/{{projeto._id}}/' class='btn btn-sm botao-menu ativo'> <i
                    class="bi bi-house"></i>Projeto</a>
            <a href="/customdo/editar/gestao/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-gear"></i>
                Gestão</a>
            <a href="/customdo/editar/projetista/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-pencil"></i> Projetista</a>
            <a href="/customdo/editar/instalacao/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-tools"></i> Instalação</a>
            <a href="/gerenciamento/editar/gerenciamento/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-puzzle"></i> Gerenciamento</a>
            <a href="/gerenciamento/editar/tributos/{{projeto._id}}" class="btn btn-sm botao-menu"><i
                    class="bi bi-calculator"></i> Tributos</a>
        </div>

        <div class="row mt-1">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 text-end">
                        <label for="nome" class=" fw-bold col-form-label col-form-label-sm"> Nome do Projeto:
                        </label><br>
                        <label for="cliente" class="fw-bold col-form-label col-form-label-sm mt-1"> Cliente:
                        </label><br>
                        <label for="estado" class="fw-bold col-form-label col-form-label-sm"> Estado:
                        </label><br>
                        <label for="cidade" class="fw-bold col-form-label col-form-label-sm mb-2"> Cidade:
                        </label><br>
                        <label for="vlrorc" class="fw-bold  col-form-label col-form-label-sm mb-2"> Total do Projeto:
                        </label><br>
                        <label for="vlreqi" class=" fw-bold col-form-label col-form-label-sm mb-2"> Valor Material:
                        </label><br>
                        <label for="ptnprj" class=" fw-bold col-form-label col-form-label-sm mb-2"> Potência do
                            Projeto:</label>
                        <label class=" fw-bold col-form-label col-form-label-sm mb-2"> Data de Instalação:</label>
                    </div>
                    <div class="col-md-9">
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="text" name="nome" id="nome"
                            value='{{projeto.nome}}' class="form-control form-control-sm mt-1">
                        <label class="col-form-label col-form-label-sm">{{cliente.nome}}</label>

                        <div class="row">
                            <div class="col-md-5">
                                <label class='col-form-label col-form-label-sm'>{{projeto.uf}}</label>
                            </div>
                            <div class="col-md-6">
                                <select {{#if projeto.orcado}}{{else}}disabled{{/if}} id="estado" name='uf'
                                    class='form-select form-select-sm'>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <div class="row text-center">
                                    <div style="padding-left: 0;">
                                        <label class='fw-bold col-form-label col-form-label-sm'>Alterar </label><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label class='col-form-label col-form-label-sm'>{{projeto.cidade}}</label>
                            </div>
                            <div class="col-md-6">
                                <select {{#if projeto.orcado}}{{else}}disabled{{/if}} id="cidade" name='cidade'
                                    class='form-select form-select-sm mb-2'>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <div class="form-check">
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type='checkbox'
                                        class='form-check-input' name='checkLocal'>
                                </div>
                            </div>
                        </div>
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number" name="valor" id="valor"
                            value='{{projeto.valor}}' class="form-control form-control-sm mb-2" placeholder="R$"
                            aria-placeholder="R$" step='0.010'>
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number" name="equipamento"
                            id="equipamento" value='{{projeto.vlrkit}}' class="form-control form-control-sm mb-2"
                            placeholder="R$" aria-placeholder="R$" step='0.010'>
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} type="number" name="potencia" id="potencia"
                            value='{{projeto.potencia}}' class="form-control form-control-sm mb-2" placeholder="kWp"
                            aria-placeholder="R$" step='0.010'>
                        <input {{#if projeto.orcado}}{{else}}disabled{{/if}} class='form-control form-control-sm'
                            type='date' name='valDataIns' id='valDataIns' value='{{projeto.valDataIns}}'
                            onchange="mascara_datains()">
                        <input type="hidden" name='datains' id='datains' value=''>
                        <input type="hidden" name='dataini' id='dataini' value='{{projeto.dataini}}'>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="row mb-1 mt-1" style="margin-left: 5px;">
                        <div class="row">
                            <div class="col-md-2">
                                <label class='col-form-label col-form-label-sm fw-bold'>Data Inicio:</label>
                            </div>
                            <div class="col-md-2">
                                <label class='col-form-label col-form-label-sm'>{{projeto.dataini}}</label>
                            </div>
                            <div class="col-md-2">
                                <label class="fw-bold col-form-label col-form-label-sm">Entrega:
                                </label>
                            </div>
                            <div class="col-md-4" style="padding-right: 6%;">
                                <input {{#if projeto.orcado}}{{else}}disabled{{/if}}
                                    class='form-control form-control-sm' type='date' name='valDataPrev' id='valDataPrev'
                                    value='{{projeto.valDataPrev}}' onchange="mascara_dataprev()">
                                <input type="hidden" id='dataprev' name='dataprev' value=''>
                            </div>
                            <div class="col-md-2">
                                <div class='form-check'>
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} class='mt-2 form-check-input'
                                        type='checkbox' name='checkDatPrev'>
                                    <label class='form-check-label col-form-label col-form-label-sm'>Alterar</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-2 mt-4">
                                <label class='col-form-label col-form-label-sm fw-bold'>Motivo:</label>
                            </div>
                            <div class="col-md-10">
                                <textarea {{#if projeto.orcado}}{{else}}disabled{{/if}} name='motivo'
                                    class='form-control' rows='3' placeholder="Observação">{{projeto.motivo}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <label class="col-form-label col-form-label-sm fw-bold text-end">Classificação:</label>
                    </div>
                    <div class="col-md-3 text-start">
                        <label class="col-form-label col-form-label-sm">{{projeto.classUsina}}</label>
                    </div>
                    <div class="col-md-2 text-end">
                        <label class="col-form-label col-form-label-sm fw-bold">Tipo:</label>
                    </div>
                    <div class="col-md-4 text-start">
                        <label class="col-form-label col-form-label-sm">{{projeto.tipoUsina}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-end">
                        <label class="col-form-label col-form-label-sm fw-bold">Tensão:</label>
                    </div>
                    <div class="col-md-3 text-start">
                        <label class="col-form-label col-form-label-sm">{{projeto.tipoConexao}}</label>
                    </div>
                    <div class="col-md-2 text-end">
                        <label class="col-form-label col-form-label-sm fw-bold">Grupo:</label>
                    </div>
                    <div class="col-md-4 text-start">
                        <label class="col-form-label col-form-label-sm">{{projeto.grupoUsina}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-end">
                        <label class='fw-bold col-form-label col-form-label-sm mb-2'>Responsável: </label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-2'>Alterar
                            Responsável:</label><br>
                        <label class="fw-bold col-form-label col-form-label-sm mb-2">Vendedor:</label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-2'>Alterar Vendedor: </label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-2'>Regime Tributário: </label><br>
                        <label class='fw-bold col-form-label col-form-label-sm mb-2'>Alterar Regime: </label><br>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <label class='col-form-label col-form-label-sm mb-2'>{{pr.nome}}</label>
                            </div>
                            <div class="col-md-6">
                                <label class='col-form-label col-form-label-sm fw-bold'
                                    style="padding-left: 65%">Alterar</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <select {{#if projeto.orcado}}{{else}}disabled{{/if}} name='funres'
                                    class='form-select form-select-sm mb-2'>
                                    {{#each responsavel}}
                                    <option value='{{_id}}'>{{nome}}</option>
                                    {{else}}
                                    <option value=''>Nenhuma pessoa foi encontrada</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div class='form-check'>
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} class='form-check-input'
                                        type='checkbox' name='checkRes'>
                                </div>
                            </div>
                        </div>
                        <label class='col-form-labbel col-form-label-sm mb-2'>{{pv.nome}}</label>
                        <div class="row">
                            <div class="col-md-10">
                                <select {{#if projeto.orcado}}{{else}}disabled{{/if}} name='vendedor'
                                    class="form-select form-select-sm mb-2">
                                    {{#each vendedor}}
                                    <option value="{{_id}}">{{nome}}</option>
                                    {{else}}
                                    <option value=''>Nenhum vendedor cadastrado</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="col-md-2">
                                <div class='form-check'>
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} class='form-check-input'
                                        type='checkbox' name='checkVende'>
                                </div>
                            </div>
                        </div>

                        <label class='col-form-label col-form-label-sm mb-2'>{{rp.nome}}</label>
                        <div class="row">
                            <div class="col-md-10">
                                <select {{#if projeto.orcado}}{{else}}disabled{{/if}} name='regime'
                                    class="form-select form-select-sm mb-2">
                                    {{#each regime}}
                                    <option value="{{_id}}">{{nome}}</option>
                                    {{else}}
                                    <option value=''>Nenhuma configuração encontrada</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div class='form-check'>
                                    <input {{#if projeto.orcado}}{{else}}disabled{{/if}} class='form-check-input'
                                        type='checkbox' name='checkRegime'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class='col-form-label col-form-label-sm fw-bold'>Complementos</label>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input {{#if projeto.orcado}}{{else}}disabled{{/if}} name='estsolo'
                                    class="form-check-input" type="checkbox" style="margin-top: 8px;"
                                    {{projeto.temEstSolo}}>
                                <label class="form-check-label col-form-label col-form-label-sm"> Estrutura
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input {{#if projeto.orcado}}{{else}}disabled{{/if}} name='central'
                                    class="form-check-input" type="checkbox" style="margin-top: 8px;"
                                    {{projeto.temCentral}}>
                                <label class="form-check-label col-form-label col-form-label-sm"> Central
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input {{#if projeto.orcado}}{{else}}disabled{{/if}} name='cercamento'
                                    class="form-check-input" type="checkbox" style="margin-top: 8px;"
                                    {{projeto.temCercamento}}>
                                <label class="form-check-label col-form-label col-form-label-sm"> Cercamento
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-check">
                                <input {{#if projeto.orcado}}{{else}}disabled{{/if}} name='poste'
                                    class="form-check-input" type="checkbox" style="margin-top: 8px;margin-left: 1%"
                                    {{projeto.temPosteCond}}>
                                <label class="form-check-label col-form-label col-form-label-sm"
                                    style="margin-left: 1%">Postes de
                                    Condução
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="row mb-2" style="width: 100%;">
                        <a data-bs-toggle="modal" data-bs-target="#custosModal" class="btn btn-sm btn-primary "><i
                                class="bi bi-list-ul"></i> Lançar Custos
                            Detalhados do Orçamento
                        </a>
                    </div>
                    <div class="row mt-1" style="width: 100%;">
                        <div class="row" style="width: 100%;margin-left: 5px;">
                            <div class='btn-group col-12 gap-2'>
                                <button {{#if projeto.orcado}}{{else}}disabled{{/if}} type="submit"
                                    class="btn btn-sm btn-success" name="aplicar" style="border-radius: 30px;"> <i
                                        class="bi bi-check-circle"></i>
                                    Salvar</button>
                                {{#if projeto.executando}}
                                <a {{#if
                                    projeto.homologado}}style='opacity: 0.5;pointer-events:none;border-radius: 30px'
                                    {{else}} href='/projeto/motivoParar/{{projeto._id}}' {{/if}}
                                    class='btn btn-sm btn-danger' style="border-radius: 30px;"><i
                                        class="bi bi-stop-circle"></i> Parar</a>
                                {{else}}
                                <a {{#if
                                    projeto.homologado}}style='border-radius: 30px;opacity: 0.5;pointer-events:none'
                                    {{else}} {{#if
                                    projeto.foiRealizado}}style='opacity: 0.5;pointer-events:none;border-radius: 30px'
                                    {{else}} href='/projeto/executar/{{projeto._id}}' {{/if}} {{/if}}
                                    style="color:white;border-radius: 30px;" class='btn btn-sm btn-warning'><i
                                        class="bi bi-file-earmark-play"></i> Executar</a>
                                {{/if}}
                                {{#if projeto.homologado}}
                                <a style="color: white; background-color: rgb(252, 137, 7);pointer-events: none;border-radius: 30px;"
                                    class='btn btn-sm btn-warning'><i class="bi bi-check"></i> Em Homologação</a>
                                {{else}}
                                {{#if projeto.foiRealizado}}
                                <a
                                    style="color: white; background-color: rgb(19, 2, 172);border-radius: 30px; font-size:14px;padding: 7px">
                                    Projeto Realizado </a>
                                {{else}}
                                <a href='/projeto/homologar/{{projeto._id}}'
                                    style="color: white; background-color: rgb(252, 137, 7);border-radius: 30px;"
                                    class='btn btn-sm btn-warning'><i class="bi bi-stopwatch"></i> Homologar</a>
                                {{/if}}
                                {{/if}}
                                <a {{#if projeto.homologado}}href='/projeto/realizar/{{projeto._id}}'
                                    {{else}}style='opacity: 0.5;pointer-events:none;border-radius: 30px;' {{/if}}
                                    class='btn btn-sm btn-success' style="border-radius: 30px;"><i
                                        class="bi bi-check2-circle"></i> Realizar</a>
                                <a href='/gerenciamento/dashboard/{{projeto._id}}' class='btn btn-sm btn-primary'
                                    style="border-radius: 40px;"><i class="bi bi-bar-chart"></i> Dashboard</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>