<style>
    #header {
        width: 98%;
        border: solid 1px;
        border-color: grey;
        background-color: rgb(40, 55, 86);
        margin-left: 10px;
    }

    .filtro-selecao {
        width: fit-content;
        height: fit-content;
        background: white;
        border: solid 1px;
        border-radius: 10px;
        margin-left: 5px;
    }
</style>
<div class="container-sm mt-2">
    <div id='header'>
        <div class="row">
            <form action='/projeto/filtrar/' method='post'>
                <div class="col-md-4">
                    <h5 class="mt-2" style="margin-left: 20px; color: white;">Lista Projetos </h5>
                </div>
                <hr style="color: white;">
                <div class="row" style="margin-left: 10px">
                    <div class="col-md-3">
                        <label class='col-form-label col-form-label-sm' style="color: white;">Classificação</label>
                        <select class='form-select form-select-sm' name='classificacao'>
                            <option>Todos</option>
                            <option>Rural</option>
                            <option>Rural Residencial</option>
                            <option>Rural Granja</option>
                            <option>Rural Irrigação</option>
                            <option>Residencial</option>
                            <option>Industrial</option>
                            <option>Comercial</option>
                            <option>Público</option>
                        </select>
                    </div>
                    <div class='col-md-3'>
                        <label class='col-form-label col-form-label-sm' style="color: white;">Realizado</label>
                        <select class='form-select form-select-sm' name='realizado'>
                            <option>Todos</option>
                            <option>Sim</option>
                            <option>Não</option>

                        </select>
                    </div>
                    <div class='col-md-3'>
                        <label class='col-form-label col-form-label-sm' style="color: white;">Responsável</label>
                        <select name='funres' class='form-select form-select-sm'>
                            <option>Todos</option>
                            {{#each responsavel}}
                            <option name='{{_id}}'>{{nome}}</option>
                            {{else}}
                            <option>Nenhum responsável cadastrato</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type='submit' class='mt-3 botaofiltrar'><i class='bi bi-search icone'></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mb-4">
            <div class='filtro-selecao' style="margin-left: 30px;">Classificação: {{classificacao}}</div>
            <div class='filtro-selecao'>Realizado: {{filReal}}</div>
            {{#if pr.nome}}
            <div class='filtro-selecao'>Responsável: {{pr.nome}}</div>
            {{else}}
            <div class='filtro-selecao'>Responsável: Todos</div>
            {{/if}}
        </div>
    </div>

    <div style="margin-bottom: 30px;">
        {{#each projetos}}
        <div class="row" style="width: 98%; margin-left: 10px;border: rgba(200,200,200,0.5) 1px solid">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4">
                        <label for='nome' class='fw-bold col-form-label col-form-label-sm'> Nome do
                            Projeto:
                        </label><br>
                        <label for='nome' class='fw-bold col-form-label col-form-label-sm'> Cliente:
                        </label><br>
                        <label for='nome' class='fw-bold col-form-label col-form-label-sm'> Valor:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <label class='col-form-label col-form-label-sm'> {{nome}} </label><br>
                        <label class='col-form-label col-form-label-sm'> {{nomecliente}} </label><br>
                        <label class='col-form-label col-form-label-sm'> R$ {{valor}} </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <label for='dataini' class='fw-bold col-form-label col-form-label-sm'>
                            Data Inicial:
                        </label><br>
                        <label for='datprev' class='fw-bold col-form-label col-form-label-sm'>
                            Previsão de Entrega:
                        </label><br>
                        <label for='nome' class='fw-bold col-form-label col-form-label-sm'>
                            Potencia:
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class='col-form-label col-form-label-sm' for='dataini'> {{dataini}}
                        </label><br>
                        <label class='col-form-label col-form-label-sm' for='datprev'> {{dataprev}}
                        </label><br>
                        <label class='col-form-label col-form-label-sm' for='nome'> {{potencia}}
                            kWp</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class='btn-group btn-group-sm col-12 gap-2 mx-auto mt-4' role='group'>
                    <a href='/projeto/vermais/{{_id}}' class="botao ativado"><i class="bi bi-eye icone"></i>
                        {{#if foiRealizado}}
                        <a href='/projeto/edicao/{{_id}}' class='desativado'><i class="bi bi-pen icone"></i></a>
                        {{else}}
                        <a href='/projeto/edicao/{{_id}}' class='botao ativado'><i class="bi bi-pen icone"></i></a>
                        {{/if}}
                        {{#if foiRealizado}}
                        <a href='/projeto/realizar/{{_id}}' class='botao realizado'> <i
                                class="bi bi-check2-circle icone"></i>
                        </a>
                        {{else}}
                        <a href='/projeto/realizar/{{_id}}' class='botao ativado'> <i
                                class="bi bi-check2-circle icone"></i>
                        </a>
                        {{/if}}
                        <a href='/projeto/confirmaexclusao/{{_id}}' class="botao ativado"><i
                                class="bi bi-trash icone"></i>
                        </a>
                </div>
            </div>
        </div>
        {{else}}
        <h6>Nenhum projeto encontrado</h6>
        {{/each}}
    </div>
</div>