<style>
    #header {
        width: 100%;
        border-bottom: rgb(40, 55, 86) 0, 1px solid;
        color: rgb(40, 55, 86);
    }

    .filtro-selecao {
        width: fit-content;
        height: fit-content;
        background: white;
        border: solid 1px;
        border-radius: 10px;
        margin-left: 5px;
    }

    table {
        width: 100%;
    }

    th {
        text-align: center;
    }

    tr {
        font-size: 12px;
        border-bottom: rgba(120, 120, 120, 0.4) solid 1px;
    }
</style>
<div class='row' style="width: 100%;padding-left: 2%;">
    <div id='header'>
        <div class="row mt-4">
            <form action='/projeto/filtrar/' method='post'>
                <div class="col-md-4">
                    <h5 class="mt-2" style="margin-left: 20px;">Lista de Projetos </h5>
                </div>
                <div class="row" style="margin-left: 10px">
                    <div class="col-md-3">
                        <label class='col-form-label col-form-label-sm fw-bold'>Classificação</label>
                        <select class='form-select form-select-sm' name='classificacao'>
                            <option>Todos</option>
                            <option>Rural</option>
                            <option>Rural Residencial</option>
                            <option>Rural Granja</option>
                            <option>Rural Irrigação</option>
                            <option>Residencial</option>
                            <option>Industrial</option>
                            <option>Comercial</option>
                            <option>Público</option>
                        </select>
                    </div>
                    <div class='col-md-3'>
                        <label class='col-form-label col-form-label-sm fw-bold'>Status</label>
                        <select class='form-select form-select-sm' name='status'>
                            <option>Todos</option>
                            <option>Em Aberto</option>
                            <option>Em Execução</option>
                            <option>Parado</option>
                            <option>Homologado</option>
                            <option>Realizado</option>
                        </select>
                    </div>
                    <div class='col-md-3'>
                        <label class='col-form-label col-form-label-sm fw-bold'>Responsável</label>
                        <select name='funres' class='form-select form-select-sm'>
                            <option>Todos</option>
                            {{#each responsavel}}
                            <option name='{{_id}}'>{{nome}}</option>
                            {{else}}
                            <option>Nenhum responsável cadastrato</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-1" style="margin-top:1%">
                        <button type='submit' class='mt-3 botaofiltrar'><i class='bi bi-search iconefiltrar'></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mb-4">
            <div class='filtro-selecao' style="margin-left: 30px;">Classificação: {{classificacao}}</div>
            <div class='filtro-selecao'>Realizado: {{filStatus}}</div>
            {{#if pr.nome}}
            <div class='filtro-selecao'>Responsável: {{pr.nome}}</div>
            {{else}}
            <div class='filtro-selecao'>Responsável: Todos</div>
            {{/if}}
        </div>
    </div>

    <div style="margin-bottom: 4%;margin-top: 1%;">
        <table>
            <tr>
                <th>Status</th>
                <th>Nome Projeto</th>
                <th>Cliente</th>
                <th>Classificacão</th>
                <th>R$ Total Projeto</th>
                <th>Data Cadastro</th>
                <th>Data Instalação</th>
                <th>Entrega Prevista</th>
                <th>Entrega Real</th>
                <th>Potência</th>
                <th>R$/kWp</th>
                <th>Markup</th>
                <th></th>
            </tr>
            {{#each projetos}}
            <tr>
                {{#if foiRealizado}}
                <td style="text-align: center;">Realizado</td>
                {{/if}}
                {{#if orcado}}
                <td style="text-align: center;">Em Aberto</td>
                {{/if}}
                {{#if executando}}
                <td style="text-align: center;">Em execução</td>
                {{/if}}
                {{#if parado}}
                <td style="text-align: center;">Parado</td>
                {{/if}}
                {{#if homologado}}
                <td style="text-align: center;">Homologado</td>
                {{/if}}
                <td>{{nome}}</td>
                <td>{{nomecliente}}</td>
                <td style="text-align: center;">{{classUsina}}</td>
                <td style="text-align: center;">{{valor}}</td>
                <td style="text-align: center;">{{dataini}}</td>
                <td style="text-align: center;">{{dataIns}}</td>
                <td style="text-align: center;">{{dataprev}}</td>
                <td style="text-align: center;">{{datafim}}</td>
                <td style="text-align: center;">{{potencia}} kWp</td>
                <td style="text-align: center;">{{vrskwp}} </td>
                <td style="text-align: center;">{{markup}} %</td>
                <td>
                    <div class='btn-group btn-group-sm col-12 gap-2 mx-auto' role='group'>
                        <a href='/projeto/vermais/{{_id}}' class="botao ativado"><i class="bi bi-eye icone"></i>
                            {{#if foiRealizado}}
                            <a href='/projeto/edicao/{{_id}}' class='desativado'><i class="bi bi-pen icone"></i></a>
                            {{else}}
                            <a href='/projeto/edicao/{{_id}}' class='botao ativado'><i class="bi bi-pen icone"></i></a>
                            {{/if}}
                            {{#if foiRealizado}}
                            <a href='/projeto/realizar/{{_id}}' class='botao realizado'> <i
                                    class="bi bi-check2-circle icone"></i>
                            </a>
                            {{else}}
                            <a href='/projeto/realizar/{{_id}}' class='botao ativado'> <i
                                    class="bi bi-check2-circle icone"></i>
                            </a>
                            {{/if}}
                            <a href='/projeto/confirmaexclusao/{{_id}}' class="botao ativado"><i
                                    class="bi bi-trash icone"></i>
                            </a>
                    </div>
                </td>
            </tr>
            {{else}}
            <h6>Nenhum projeto encontrado</h6>
            {{/each}}
        </table>
    </div>
</div>