<style>
    table {
        font-size: 13px;
        text-align: center;
        line-height: 16px;
    }
</style>
<div style="width: 98%;padding-left: 2%;padding-top: 0.5%;">
    <div style="width: 100%;">
        <h5 class="header">{{cliente.nome}} </h5>
    </div>
    {{#if projeto._id}}
    {{#if projeto.ehDireto}}
    <a href='/projeto/edicao/{{projeto._id}}/' class='btn btn-sm botao-menu'><i class="bi bi-house"></i>
        Principal</a>
    <a href="/projeto/direto/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-layers"></i>
        Custos Diretos</a>
    <a href="/projeto/investimento/{{projeto._id}}" class="btn btn-sm botao-menu ativo"><i class="bi bi-layers"></i>
        Investimento</a>
    {{else}}
    {{#if projeto.ehVinculo}}
    <a href='/projeto/edicao/{{projeto._id}}/' class='btn btn-sm botao-menu'><i class="bi bi-house"></i>
        Principal</a>
    <a href="/projeto/alocacao/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-layers"></i>
        Alocação de Recursos</a>
    <a href="/projeto/custos/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-layers"></i>
        Custos</a>
    <a href="/gerenciamento/cronograma/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-layers"></i>
        Cronograma</a>
    <a href="/gerenciamento/documentos/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-layers"></i>
        Documentos</a>
    <a href="/projeto/investimento/{{projeto._id}}" class="btn btn-sm botao-menu ativo"><i class="bi bi-layers"></i>
        Investimento</a>
    {{else}}
    <a href='/projeto/edicao/{{projeto._id}}/' class='btn btn-sm botao-menu'> <i class="bi bi-house"></i>Principal</a>
    <a href="/customdo/gestao/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-gear"></i>
        Gestão</a>
    <a href="/customdo/projetista/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-pencil"></i>
        Projetista</a>
    <a href="/customdo/instalacao/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-tools"></i>
        Instalação</a>
    <a href="/gerenciamento/gerenciamento/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-puzzle"></i>
        Gerenciamento</a>
    <a href="/gerenciamento/custo/{{projeto._id}}" class="btn btn-sm botao-menu"><i class="bi bi-calculator"></i>
        Custos</a>
    <a href="/projeto/investimento/{{projeto._id}}" class="btn btn-sm botao-menu ativo"><i class="bi bi-layers"></i>
        Investimento</a>
    {{/if}}
    {{/if}}
    {{else}}
    <a style="cursor: unset" class='btn btn-sm botao-menu ativo'><i class="bi bi-house"></i>
        Principal</a>
    {{/if}}
    <form method="post" action='/projeto/investimento'>
        <div class="modal fade" id="fluxoModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Fluxo de caixa acumulado da geração da usina</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class='quadro-scroll' style="margin-left: 5px;height: 220px;">
                                <table>
                                    <tr>
                                        <th>Ano</th>
                                        <th>Fatura</th>
                                        <th>Parcela</th>
                                        <th>Fatura com MG</th>
                                        <th>Fluxo</th>
                                    </tr>
                                    {{#each fluxoAno25}}
                                    <tr>
                                        <td style="width: 5%;">{{y}}</td>
                                        <td style="width: 5%;">{{fatura}}</td>
                                        <td style="width: 5%;">{{pmt}}</td>
                                        <td style="width: 5%;">{{minimo}}</td>
                                        <td style="width: 5%;">{{ano}}</td>
                                    </tr>
                                    {{/each}}
                                </table>
                            </div>
                            <div style="height: 250px;">
                                <canvas id='chartFluxo' class='mt-1 mb-1' style="height: 250px;"></canvas>
                                <input type='hidden' id='inv1' value="{{investimento.ano1}}">
                                <input type='hidden' id='inv2' value="{{investimento.ano2}}">
                                <input type='hidden' id='inv3' value="{{investimento.ano3}}">
                                <input type='hidden' id='inv4' value="{{investimento.ano4}}">
                                <input type='hidden' id='inv5' value="{{investimento.ano5}}">
                                <input type='hidden' id='inv6' value="{{investimento.ano6}}">
                                <input type='hidden' id='inv7' value="{{investimento.ano7}}">
                                <input type='hidden' id='inv8' value="{{investimento.ano8}}">
                                <input type='hidden' id='inv9' value="{{investimento.ano9}}">
                                <input type='hidden' id='inv10' value="{{investimento.ano10}}">
                                <input type='hidden' id='inv11' value="{{investimento.ano11}}">
                                <input type='hidden' id='inv12' value="{{investimento.ano12}}">
                                <input type='hidden' id='inv13' value="{{investimento.ano13}}">
                                <input type='hidden' id='inv14' value="{{investimento.ano14}}">
                                <input type='hidden' id='inv15' value="{{investimento.ano15}}">
                                <input type='hidden' id='inv16' value="{{investimento.ano16}}">
                                <input type='hidden' id='inv17' value="{{investimento.ano17}}">
                                <input type='hidden' id='inv18' value="{{investimento.ano18}}">
                                <input type='hidden' id='inv19' value="{{investimento.ano19}}">
                                <input type='hidden' id='inv20' value="{{investimento.ano20}}">
                                <input type='hidden' id='inv21' value="{{investimento.ano21}}">
                                <input type='hidden' id='inv22' value="{{investimento.ano22}}">
                                <input type='hidden' id='inv23' value="{{investimento.ano23}}">
                                <input type='hidden' id='inv24' value="{{investimento.ano24}}">
                                <input type='hidden' id='inv25' value="{{investimento.ano25}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" value='{{projeto._id}}'>
        <div class="row" style="padding:10px;width: 100%;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-end">
                        <label class='col-form-label col-form-label-sm'>Taxa de Juros Ao Ano:</label>
                    </div>
                    <div class="col-md-3">
                        <input class='form-control form-control-sm' type='number' step='0.00010' name='txjuros' {{#if
                            txjuros}} value="{{txjuros}}" {{else}} value="{{investimento.txjuros}}" {{/if}}>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-6 text-end">
                        <label class='col-form-label col-form-label-sm'>Inflação:</label>
                    </div>
                    <div class="col-md-3">
                        <input class='form-control form-control-sm' type='number' step='0.00010' name='ipca' {{#if tma}}
                            value="{{ipca}}" {{else}} value="{{investimento.ipca}}" {{/if}}>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-6 text-end">
                        <label class='col-form-label col-form-label-sm'>Número de Parcelas:</label>
                    </div>
                    <div class="col-md-3">
                        <input class='form-control form-control-sm' type='number' step='0.00010' name='numpar' {{#if
                            numpar}} value="{{numpar}}" {{else}} value="{{investimento.parcelas}}" {{/if}}>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-end">
                        <label class='col-form-label fw-bold'>R$ Projeto:</label>
                    </div>
                    <div class="col-md-3">
                        <label class='col-form-label'>{{#if valor}} {{valor}} {{else}} {{projeto.valor}}{{/if}}</label>
                        <input type='hidden' name='saldo' {{#if valor}} value='{{valor}}' {{else}}
                            value='{{projeto.valor}}' {{/if}}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-end">
                        <label class='col-form-label fw-bold'>Média Consumo kW/h:</label>
                    </div>
                    <div class="col-md-3">
                        <input class='form-control' name='medcon' id='medcon' value='{{medcon}}'>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label clas='col-form-label col-form-label-sm'>TE</label>
                <input type='number' class='form-control form-control-sm' step='0.000010' name='te' {{#if te}}
                    value='{{te}}' {{else}} value='{{dimensionamento.te}}' {{/if}}>
            </div>
            <div class="col">
                <label clas='col-form-label col-form-label-sm'>TUSD</label>
                <input type='number' class='form-control form-control-sm' step='0.000010' name='tusd' {{#if tusd}}
                    value='{{tusd}}' {{else}} value='{{dimensionamento.tusd}}' {{/if}}>
            </div>
            <div class="col">
                <label clas='col-form-label col-form-label-sm'>ICMS</label>
                <input type='number' class='form-control form-control-sm' step='0.000010' name='icms' {{#if icms}}
                    value='{{icms}}' {{else}} value='{{dimensionamento.icms}}' {{/if}}>
            </div>
            <div class="col">
                <label clas='col-form-label col-form-label-sm'>PIS</label>
                <input type='number' class='form-control form-control-sm' step='0.000010' name='pis' {{#if pis}}
                    value='{{pis}}' {{else}} value='{{dimensionamento.pis}}' {{/if}}>
            </div>
            <div class="col">
                <label clas='col-form-label col-form-label-sm'>COFINS</label>
                <input type='number' class='form-control form-control-sm' step='0.000010' name='cofins' {{#if cofins}}
                    value='{{cofins}}' {{else}} value='{{dimensionamento.cofins}}' {{/if}}>
            </div>
            <div class="col">
                <label clas='col-form-label col-form-label-sm'>COSIP</label>
                <input type='number' class='form-control form-control-sm' step='0.000010' name='cosip' {{#if cosip}}
                    value='{{cosip}}' {{else}} value='{{dimensionamento.cosip}}' {{/if}}>
            </div>
            <div class="col">
                <label clas='col-form-label col-form-label-sm'>AJUSTE(BANDEIRAS)</label>
                <input type='number' class='form-control form-control-sm' step='0.000010' name='ajuste' {{#if ajuste}}
                    value='{{ajuste}}' {{else}} value='{{dimensionamento.ajuste}}' {{/if}}>
            </div>

        </div>
        <div class="row justify-content-center">
            <button type='submit' class='btn btn-sm btn-success mb-2 mt-2' style="width: 300px;">Calcular</button>
            <div class='quadro-scroll' style="margin-left: 5px;height: 220px">
                <table>
                    <tr>
                        <th style="width: 50px;">Mês</th>
                        <th style="width: 150px;">Parcela</th>
                        <th style="width: 150px;">Amortização</th>
                        <th style="width: 150px;">Juros</th>
                        <th style="width: 150px;">Saldo</th>
                        <th style="width: 150px;">Fatura</th>
                        <th style="width: 150px;">Fatura com MG</th>
                        <th style="width: 150px;">Economia Mensal</th>
                        <th style="width: 150px;">Fluxo de Caixa</th>
                        <th style="width: 200px;">Fluxo de Caixa Acumulado</th>
                    </tr>
                    {{#each sac}}
                    <tr>
                        <td>{{mes}}</td>
                        <td>{{pmt}}</td>
                        <td>{{amort}}</td>
                        <td>{{juros}}</td>
                        <td>{{saldo}}</td>
                        <td>{{fatura}}</td>
                        <td>{{minimo}}</td>
                        <td>{{ecomen}}</td>
                        <td>{{fluxo}}</td>
                        <td>{{fluxoacc}}</td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td>Total</td>
                        <td>{{totpmt}}</td>
                        <td>{{totamort}}</td>
                        <td>{{totjuros}}</td>
                        <td colspan="8">
                            <div style="padding-left: 700px;">
                                <a class="btn btn-sm btn-primary mb-1" data-bs-toggle="modal"
                                    data-bs-target="#fluxoModal"><i class='bi bi-list-ul'></i> 25 anos</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <label class="col-form-label">Parcela Média: R${{parmed}}</label>
    </form>
</div>
<script>
    var inv1 = document.getElementById('inv1')
    var inv2 = document.getElementById('inv2')
    var inv3 = document.getElementById('inv3')
    var inv4 = document.getElementById('inv4')
    var inv5 = document.getElementById('inv5')
    var inv6 = document.getElementById('inv6')
    var inv7 = document.getElementById('inv7')
    var inv8 = document.getElementById('inv8')
    var inv9 = document.getElementById('inv9')
    var inv10 = document.getElementById('inv10')
    var inv11 = document.getElementById('inv11')
    var inv12 = document.getElementById('inv12')
    var inv13 = document.getElementById('inv13')
    var inv14 = document.getElementById('inv14')
    var inv15 = document.getElementById('inv15')
    var inv16 = document.getElementById('inv16')
    var inv17 = document.getElementById('inv17')
    var inv18 = document.getElementById('inv18')
    var inv19 = document.getElementById('inv19')
    var inv20 = document.getElementById('inv20')
    var inv21 = document.getElementById('inv21')
    var inv22 = document.getElementById('inv22')
    var inv23 = document.getElementById('inv23')
    var inv24 = document.getElementById('inv24')
    var inv25 = document.getElementById('inv25')

    var ctxFluxo = document.getElementById('chartFluxo').getContext('2d');
    var chartFluxo = new Chart(ctxFluxo, {
        type: 'line',
        data: {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25'],
            datasets: [
                {
                    label: '',
                    data: [inv1.value,
                    inv2.value,
                    inv3.value,
                    inv4.value,
                    inv5.value,
                    inv6.value,
                    inv7.value,
                    inv8.value,
                    inv9.value,
                    inv10.value,
                    inv11.value,
                    inv12.value,
                    inv13.value,
                    inv14.value,
                    inv15.value,
                    inv16.value,
                    inv17.value,
                    inv18.value,
                    inv19.value,
                    inv20.value,
                    inv21.value,
                    inv22.value,
                    inv23.value,
                    inv24.value,
                    inv25.value],
                    backgroundColor: [
                        'rgba(13, 40, 148, 0.2)'
                    ],
                    borderColor: [
                        'rgba(13, 40, 148, 1)'
                    ],
                    borderWidth: 1,
                }]
        },
        options: {
            maintainAspectRatio: false,
            responsive: true,
                title: {
                    display: true,
                    text: 'Gráfico de Fluxo de Caixa Acumulado da Usina',
                },
            scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }]
                },
                legend: {
                    labels: {
                        usePointStyle: false,
                        boxWidth: 0,
                        position: 'top',
                        display: false,
                    }
                },
            }
        });
</script>