<style>
    #header {
        background-color: rgb(126, 138, 163);
        color: white;
        border-width: 4px;
        border-color: rgb(126, 138, 163);
        z-index: -1;
        -webkit-box-shadow: 0px 0px 4px 2px #aaaaaa;
        -moz-box-shadow: 0px 0px 4px 2px #aaaaaa;
        box-shadow: 0px 0px 4px 2px #aaaaaa;
    }

    .icone {
        color: white;
    }
</style>
<form action="/projeto/salvar_prereq" method="post">
<input type="hidden" name='id' value="{{projeto._id}}">
<div style=" margin-bottom: 30px;">
    <div
        style="margin-left: 270px; margin-top: 5px;width: 820px; height: fit-content; border: rgba(200,200,200,0.5) solid 1px;border-radius: 5px;">
        <div style='text-align: center'>
            <div id='header'>
                <div class="row">
                    <div class="col-md-6"
                        style='margin-block-start: 10px; border: solid 1px; border-width: 1px; border-left: grey;border-top: grey;border-bottom: grey;'''>
                        <h5>{{projeto.nome}}</h5>
                        <div class="row">
                            <div class="col-md-6 text-end">
                                <label class='fw-bold col-form-label col-form-label-sm'>Data Início:</label><br>
                                <label class='fw-bold col-form-label col-form-label-sm'>Data Previsão:</label>
                                <label class='fw-bold col-form-label col-form-label-sm'>Data Entrega:</label>
                            </div>
                            <div class="col-md-6 text-start">
                                <label class='col-form-label col-form-label-sm'>{{projeto.dataini}}</label><br>
                                <label class='col-form-label col-form-label-sm'>{{projeto.dataprev}}</label><br>
                                <label class='col-form-label col-form-label-sm'>{{projeto.datafim}}</label>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 text-end" style='margin-inline-start: 40px;'>
                                <label class='fw-bold col-form-label col-form-label-sm'>Gestor(a):</label><br>
                                <label class='fw-bold col-form-label col-form-label-sm'>Total Orçado:</label><br>
                                <label class='fw-bold col-form-label col-form-label-sm'>Valor Faturado:</label><br>
                                <label class='fw-bold col-form-label col-form-label-sm'>Horas:</label><br>
                                <label class='fw-bold col-form-label col-form-label-sm'>Dias Obra:</label><br>
                            </div>
                            <div class="col-md-6 text-start">
                                <label class='col-form-label col-form-label-sm'>{{responsavel.nome}}</label><br>
                                <label class='col-form-label col-form-label-sm'>R$ {{projeto.valor}}</label><br>
                                <label class='col-form-label col-form-label-sm'>R$ {{projeto.vlrfat}}</label><br>
                                <label class='col-form-label col-form-label-sm'>{{projeto.tothrs}} h</label><br>
                                <label class='col-form-label col-form-label-sm'>{{projeto.diastr}} dia(s)</label><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="mt-2" style="margin-left: 20px;">
                    <div class="row">
                        <div class="col-md-2 mt-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class='col-form-label fw-bold text-start'>Status:</label>
                                </div>
                                <div class="col-md-4 mt-2">
                                    {{#if realizado.foiRealizado}}
                                    <div style="text-align: left;font-size: 17px;"><i class='bi bi-bookmark-check'
                                            style="color: rgb(40,55,89);"></i></div>
                                    {{else}}
                                    {{#if projeto.executando}}
                                    <div id='execucao'></div>
                                    {{else}}
                                    {{#if projeto.parado}}
                                    <div id='parado'></div>
                                    {{else}}
                                    {{#if projeto.homologado}}
                                    <div id='homologado'></div>
                                    {{else}}
                                    {{#if projeto.foiRealizado}}
                                    <div id='realizado'></div>
                                    {{else}}
                                    <div id='aguardando'></div>
                                    {{/if}}
                                    {{/if}}
                                    {{/if}}
                                    {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <label class='col-form-label fw-bold'>Regime: {{regime.regime}}</label>
                        </div>                        
                        <div class="col-md-3 mt-2">
                            <label class='col-form-label fw-bold'>Reserva: R$ {{projeto.reserva}}</label>
                        </div>
                        <div class="col-md-4">
                            <div class='btn-group btn-group-sm col-12 gap-2 mx-auto mt-1' role='group'>
                                <a href='/projeto/consulta/' class='botao ativado'><i
                                        class="bi bi-arrow-left-circle icone"></i></a>
                                {{#if projeto.foiRealizado}}
                                <a class='desativado'><i class="bi bi-pen icone"></i></a>
                                {{else}}
                                <a href='/projeto/edicao/{{projeto._id}}' class='botao ativado'><i
                                        class="bi bi-pen icone"></i></a>
                                {{/if}}
                                {{#if projeto.foiRealizado}}
                                <a href='/projeto/realizar/{{projeto._id}}' class='botao realizado'> <i
                                        class="bi bi-check2-circle icone"></i>
                                </a>
                                {{else}}
                                <a href='/projeto/realizar/{{projeto._id}}' class='botao ativado'> <i
                                        class="bi bi-check2-circle icone"></i>
                                </a>
                                {{/if}}
                                <a href='/projeto/confirmaexclusao/{{projeto._id}}' class="botao ativado"><i
                                        class="bi bi-trash icone"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 mt-2 text-end">
                        <div class="row mt-5">
                            <label class='fw-bold col-form-label col-form-label-sm'>ISS:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>Receita Liquida:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>Equipamento:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>Lucro Bruto:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>Custo Operacional:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>Despesas Adm.:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>Comissão:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>LAI:</label><br>
                            <label class='fw-bold col-form-label col-form-label-sm'>Tributos:</label><br>    
                            <label class='fw-bold col-form-label col-form-label-sm'>Lucro Líquido:</label><br>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-1">
                                <a href='/gerenciamento/dashboard/{{projeto._id}}'><i class='bi bi-file-bar-graph'></i></a>              
                            </div>
                            <div class="col-md-10">
                                <label class='fw-bold'>Orçado</label>
                            </div>                            
                        </div>
                        <hr>
                        <div class="row">
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.impNFS}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.recLiquida}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.vlrkit}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.lucroBruto}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.totcop}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.desAdm}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.vlrcom}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.lbaimp}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.totalImposto}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{projeto.lucroLiquido}}</label><br>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-1">
                                <a href='/gerenciamento/dashboardreal/{{realizado._id}}'><i class='bi bi-file-bar-graph'></i></a>              
                            </div>               
                            <div class="col-md-10">
                                <label class='fw-bold'>Realizado</label>
                            </div>                            
                        </div>                                     
                        <hr>
                        <div class="row">
                            <label class='col-form-label col-form-label-sm'>R$ {{realizado.impISS}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{realizado.recLiquida}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{realizado.vlrkit}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{realizado.lucroBruto}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{realizado.custoPlano}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{realizado.desAdm}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{realizado.vlrcom}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{realizado.lbaimp}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{realizado.totalImposto}}</label><br>
                            <label class='col-form-label col-form-label-sm'>R$ {{realizado.lucroLiquido}}</label><br>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <label class='col-form-label col-form-label-sm fw-bold'>Complementos</label><br>
                            <div class="col-md-10 text-start">
                                <label class='col-form-label col-form-label-sm mb-1'>Estrutura</label><br>
                                <label class='col-form-label col-form-label-sm mb-1'>Cercamento</label><br>
                                <label class='col-form-label col-form-label-sm mb-1'>Central</label><br>
                                <label class='col-form-label col-form-label-sm '>Postes de Condução</label>
                            </div>
                            <div class="col-md-2">
                                <input disabled type='checkbox' class='form-check-input mb-3 mt-2'
                                    {{projeto.temEstSolo}}><br>
                                <input disabled type='checkbox' class='form-check-input mb-3'
                                    {{projeto.temCercamento}}><br>
                                <input disabled type='checkbox' class='form-check-input mb-3' {{projeto.temCentral}}>
                                <input disabled type='checkbox' class='form-check-input' {{projeto.temPosteCond}}>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <label class='fw-bold col-form-label col-form-label-sm'>Premissas e Restrições</label>
                        <textarea class='form-control' name='premissas' rows='3'>{{projeto.premissas}}</textarea>
                    </div>
                    <div class="col-md-6">
                        <label class='fw-bold col-form-label col-form-label-sm'>Requisitos</label>
                        <textarea class='form-control' name='requisitos' rows='3'>{{projeto.requisitos}}</textarea>
                    </div>
                    <button type="submit" class="mt-2 btn btn-sm btn-success">Salvar premissas e requisitos</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>